<section class="section about-content-area visitingProfile">
	<div class="container-fluid">
		<div class="row flex-profile">
          <!--<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>-->
			<div class="col-md-3 flex-left">
				<div *ngIf="isloginUser == 1">
					<user-sidebar></user-sidebar>
				</div>
			</div>
			<div class="col-md-6 flex-middle">
				<div class="middlePart" style="background: transparent">
					<div class="browse-hub-map">
						<div class="map-holder">
							<agm-map [latitude]="lat" [longitude]="lng" style="height:100%;width:100%" [zoom]="16">
								<agm-marker  *ngFor="let hub of allHubs" [latitude]="hub.lat" [longitude]="hub.lng" >
									<agm-info-window>
											<div class="popup" style="width:250px">
												<ul>
													<li>
														<div class="round-image" [ngStyle]="{'background-image':'url('+hub.image+')'}"></div>
													</li>
													<li>
														<h2>{{hub.title}}</h2>
														<p class="black-text">{{hub.address}}</p>
														<p class="red-text">{{hub.date}} @ {{hub.start_time}} - {{hub.end_time}}</p>
														<a [routerLink]="['/user/hub_details/',hub.slug]" target="_blank">
															<button class="btn btn-primary">Read More</button>
														</a>
													</li>
												</ul>
											</div>
										</agm-info-window>
								</agm-marker>
							</agm-map>
							<!-- <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?hl=en&amp;ie=UTF8&amp;ll=37.0625,-95.677068&amp;spn=56.506174,79.013672&amp;t=m&amp;z=4&amp;output=embed"></iframe> -->
							
						</div>
					</div>
                 
					<div class="profDes All-hub-list">
						<p class="all-hb">ALL HUBS</p>
						<ul>
							<li *ngFor="let hub of allHubs">
								<a [routerLink]="['/user/hub_details/',hub.slug]">
									<div class="round-image" [ngStyle]="{'background-image':'url('+hub.image+')'}"></div>
								</a>
								<aside>
									<a [routerLink]="['/user/hub_details/',hub.slug]">
										<h2>{{hub.title}}</h2>
									</a>
									<p class="black-text">{{hub.address}}</p>
									<p class="red-text">{{hub.date}} @ {{hub.start_time}} - {{hub.end_time}}</p>
									<div class="bottom-links-wrap">
										<a [routerLink]="['/user/hub_details/',hub.slug]"><i class="ion-ios-information-outline"></i> READ MORE</a>
										<a href="javscript:void(0);"><i class="ion-android-calendar"></i> ADD TO CALENDAR</a>
									</div>
								</aside>
							</li>
						</ul> 
					</div>   
				</div>
			</div>
			<div class="col-md-3 flex-right">
				<div class="rightPart">
					<div class="innerRightPart" style="padding: 30px">
						<h2>BROWSE HUBS</h2>
                        <div class="inline-search">
                            <div class="input-group">
                                <input placeholder="Search By Keyword" [(ngModel)]="search_con" class="form-control">
                                <span class="input-group-btn">
                                    <button type="button" (click)="searchByKeyword()"  class="btn btn-default"><i class="fa fa-search"></i></button>
                                </span>
                            </div>
						</div>
						<div class="inline-search">
							<div class="input-group">
								<input type="date" placeholder="Search By Date" [(ngModel)]="search_date" class="form-control">
								<span class="input-group-btn">
									<button type="button" (click)="searchByDate()" class="btn btn-default">
										<i class="fa fa-search"></i>
									</button>
								</span>
							</div>
						</div>
                        <ul class="filter-reslt">
	                        <li *ngFor="let cat of allCategories" style="cursor:pointer;" (click)="searchByCategory(cat.id)" >{{cat.title}} <span *ngIf="cat.hubs">({{cat.hubs}})</span></li>	                       
						</ul>
					</div>
					
					
					<div class="innerRightPart" style="padding-top: 56px; padding-bottom: 56px">
					  <div class="article-add-holder article-add-holder1">
					    <h3>SHARE YOUR STORY</h3>
					    <p>Femnesty is always looking for strong, positive contributors to join our team.</p>
					    <a [routerLink]="['/user/shareyourstory']" class="btn btn-primary">SHARE</a>
					  </div>
					</div>

					<div class="innerRightPart" style="padding-top: 56px; padding-bottom: 56px">
					  <div class="article-add-holder article-add-holder1">
					    <h3>START A HUB</h3>
					    <p> Make a difference where you are, start a Hub today. </p>
					    <a [routerLink]="['/user/create_hub']" class="btn btn-primary">Start</a>
					  </div>
					</div>
				</div>
        </div>
		</div>
	</div>
</section>