<section class="section  visitingProfile">
	<div class="container-fluid">
		<div class="row flex-profile">
          <!--<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>-->
			<div class="col-md-3 flex-left">
				<div *ngIf="isloginUser == 1">
				<user-sidebar></user-sidebar>
				</div>
			</div>
			<div class="col-md-6 flex-middle">
				<div class="middlePart">
					<div class="topPart" [ngStyle]="{'background-image':'url('+hubDetails.image+')'}"></div>
					<div class="hubDes">
						<h2>{{hubDetails.title}}</h2>
						<!-- <p class="shortP">Hub Short Description</p> -->
						<p class="attendingP">{{hubDetails.attendings}} attending this hub</p>
						<p class="mb-0">
							<button type="button" class="btn btn-primary" (click)="attendHub()">Attend</button>
							<button type="button" class="btn btn-default">Add to calendar</button>
						</p>
					</div>
					<div class="tabPart">
						<ul class="nav nav-pills">
							<li [ngClass]="{'active':activeTab=='posts'}"><a (click)="activeTab='posts'">Hub Activity</a></li>
							<li [ngClass]="{'active':activeTab=='details'}"><a (click)="activeTab='details'">Hub Details</a></li>
							<li [ngClass]="{'active':activeTab=='invite'}"><a (click)="activeTab='invite'">Invite Member</a></li>
						</ul>
						<div class="tab-content">
							<div class="tab-pane fade" [ngClass]="{'in active' : activeTab=='posts'}">
								<div >
									<app-post-create [postType]="groupPostDetData" (getUserPostDetails)="getUserPostDetails()"></app-post-create>
								</div>
								<div *ngIf="groupPostList?.length > 0">
									<div class="likePart" *ngFor="let postData of groupPostList">
										<app-post-card [postData]="postData"></app-post-card>
									</div>
								</div>
								<div class="likePart" *ngIf="groupPostList?.length == 0">
									<div class="row">
										<div class="col-md-10">
											<div class="nothing">Nothing more to show</div>
										</div>
									</div>
								</div>
							</div>
							<div class="tab-pane fade" [ngClass]="{'in active' : activeTab=='details'}">
								Details
							</div>
							<div class="tab-pane fade" [ngClass]="{'in active' : activeTab=='invite'}">
								
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3 flex-right">
				<div class="rightPart">                			
					<div class="innerRightPart right-map-details HUB-Dtls">
      					<h2>{{hubDetails.title}}</h2>
      					<p class="HUB-Dtls-txt">{{hubDetails.description}}</p>
      					<p class="info"><span>Organizer:</span> {{hubDetails.Organizer}}</p>
						  <p class="info"><span>Email:</span> {{hubDetails.email}}</p>
						<p class="info">
							<span>Phone:</span> {{hubDetails.phone}}</p>
      					<p class="info"><span>Website:</span> {{hubDetails.website}}</p>
      					<p class="info"><span>Privacy:</span> {{hubDetails.type=='O'?'Public':'Private'}}</p>
					</div>
					
					<div class="innerRightPart right-map-details HUB-Dtls">
      					<h2>ADDRESS</h2>
      					<div class="right-map">
					        <iframe width="100%" height="150px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?hl=en&amp;ie=UTF8&amp;ll=37.0625,-95.677068&amp;spn=56.506174,79.013672&amp;t=m&amp;z=4&amp;output=embed"></iframe>
						</div>
      					<p class="info"><span>The Avenu Bar</span></p>
      					<p class="info">Bergsbovägen 14</p>
      					<p class="info">191 48 Sollentuna</p>
					</div>
					
					<div class="innerRightPart right-map-details attending HUB-Dtls">
						<h2>Attending</h2>
						<ul>         
							<li *ngFor="let user of hubDetails.attenders">               
								<a [routerLink]="['/user/profile',user.display_name]"><img src="{{user.profile_image}}" alt="" /></a>
							</li>
						</ul>
						<a href="#" class="viewAll text-center">View All (200)</a>
					</div>
    
					<div class="innerRightPart right-map-details right-sharing">
						<h2>Share</h2>
						<ul>
							<li><a href="" class="fa fa-facebook" style="background: #395899"></a></li>
							<li><a href="" class="fa fa-linkedin" style="background: #19699c"></a></li>
							<li><a href="" class="fa fa-twitter" style="background: #499bcd"></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>