.middlePart .hubDes {padding: 30px 30px 43px; text-align: center;}
.middlePart .hubDes h2{font-size:35px; margin-bottom: 15px; line-height: 1}
.middlePart .hubDes .shortP{font-size:15px; color:#555; margin-bottom: 15px; line-height: 1}
.middlePart .hubDes .attendingP{font-size:12px; color:#ce2126; margin-bottom: 23px; line-height: 1}
.middlePart .hubDes .btn.btn-default{background: #fff;color: #bc1926; border: 2px solid #bc1926; text-shadow: none;text-transform: uppercase;letter-spacing: 2px; padding: 12px 20px; border-radius: 50px;font-family: 'montserratmedium'; font-size: 13px !important; box-shadow:none}
.HUB-likePart{margin-top:15px}
.HUB-likePart .imageParts .profImageP .img{width:46px !important; height:46px !important; margin-bottom:2px; border-radius:100%}
.HUB-likePart .profTextPart h2{font-size:14px}
.HUB-likePart .profTextPart p{font-size:9px; color:#7e7e7e; margin-top: 4px}

.HUB-userComment p{font-size:14px; color: #4e4e4e}
.HUB-userComment ul li a {font-size: 10px;}
.nothing-more{margin: 30px 0; color:#c0c0c0; line-height: 1}

.innerRightPart{padding:30px;}
.HUB-Dtls{margin-bottom: 15px}
.HUB-Dtls h2{font-size:12px}
.HUB-Dtls .HUB-Dtls-txt{font-size:14px; color:#4e4e4e; margin-bottom: 20px}
.HUB-Dtls .info{font-size:14px; color:#4e4e4e; margin-bottom: 5px; line-height: 1.42}
.HUB-Dtls .info span{color:#000000; display: inline-block;width:120px;vertical-align: top}
.HUB-Dtls .info em{width:calc(100% - 125px);display: inline-block;white-space: normal;word-wrap: break-word;font-style: normal;}
.HUB-Dtls .right-map{margin-bottom: 20px}

.attending h2{margin-bottom: 36px;}
.attending ul{list-style: none;padding: 0;display: flex;flex-wrap:wrap;justify-content:flex-start;margin-bottom:30px; margin-left: -3px; margin-right: -3px}
.attending ul li{margin: 6px 3px;}
.attending ul li a{width:63px;height:63px;display: block;border-radius: 100%;overflow: hidden;border:none;}
.attending ul li a img{width:100%}
.attending .viewAll{font-size:11px; color:#a3a3a3; font-family: 'montserratmedium'; text-transform: uppercase;}

.right-sharing ul{display: flex; margin-left: -5px}
.right-sharing li{margin:0 5px}
.right-sharing li a{display: block;width:42px;height:42px;line-height:40px;border-radius:100%;overflow: hidden;color:#fff;text-decoration: none;font-size:24px;text-align: center;}

:host ::ng-deep .profTextPart .fa {
  color: #bb1926
}


:host ::ng-deep li a{
    color: #bb1926

}

.hub-listing {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: 1px solid #e1e1e1;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  margin-top:60px;
  background: #fff;
}
.head-caption{
	    width: 100%;
    background: #e7e7e7;
    font-size: 17px;
    line-height: 38px;
}

.hub-listing li {
  display: flex;
  margin: 0;
  width: 100%;
  font-size: 12px;
  align-items: center;
  padding: 0 !important;
  justify-content: space-between;
}

.hub-listing li .date,
.hub-listing li .title,
.hub-listing li .action {
  padding: 6px 8px;
  width: 100%;
}
.hub-listing li .date img{
	width:60px;height:60px;border-radius:100%;overflow: hidden;
}
.hub-listing li .date {
  width: auto;
  text-align: left;
}

.hub-listing li .title {
  width: auto;
  text-align: left;
}

.hub-listing li .action {
  width: auto;
  text-align: right;
  float:right;
}

.hub-listing li .caption {
  background: #e7e7e7
}

.hub-listing li.action.caption {
  text-align: center
}

.hub-listing li .btn.btn-primary,
.hub-listing li .btn.btn-info,
.hub-listing li .btn.btn-danger,
.hub-listing li .btn.btn-success {
  border: 0;
  text-shadow: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 5px 10px !important;
  border-radius: 50px;
  font-family: 'montserratmedium';
  font-size: 11px !important;
  background-image: none;
  height: 24px;
}

