<section class="section about-content-area visitingProfile">
  <div class="container-fluid">
      <div class="row flex-profile">
          <!--<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>-->
          <div class="col-md-3 flex-left">
            <div *ngIf="isloginUser == 1">
                <user-sidebar></user-sidebar>
            </div>
          </div>
          <div class="col-md-6 flex-middle">
              <div class="middlePart">
                  
                  
                 
                  <div class="profDes">
                      <h2 class="text-center">f sf sdf sfsdf</h2>
                      <p class="text-center">s fdsf sdf sd</p>
                      <p class="text-center addressP"> vcb cvb cvb cbvc bcb</p>
                      <p class="text-center">
                            <button  type="button" class="btn btn-primary" >Add Friend</button>
                        </p>
                      
                  </div>
                  
                  
              </div>
          </div>
          <div class="col-md-3 flex-right">
               
          </div>
      </div>
  </div>
</section>