<section class="section about-content-area visitingProfile">
  <div class="container-fluid">
      <div class="row flex-profile">
          <!--<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>-->
          <div class="col-md-3 flex-left">
              <user-sidebar></user-sidebar>
          </div>
          <div class="col-md-6 flex-middle">
              <div class="middlePart">
                  
              </div>
          </div>
          <div class="col-md-3 flex-right">
              <app-user-prfrsidebar></app-user-prfrsidebar>
          </div>
      </div>
  </div>
</section>
