<section class="section about-content-area visitingProfile">
    <div class="container-fluid">
        <div class="row flex-profile">
            <div class="col-md-3 flex-left">
              <div *ngIf="isloginUser == 1">
                  <user-sidebar></user-sidebar>
              </div>
            </div>
            <div class="col-md-6 flex-middle">
                <div class="middlePart">
                    <div class="main-chat-wrap">
                      <h3 class="result-count">Showing Results for: <span>”{{searchKeyword}}”</span></h3>
                    </div>
                </div>
                <ul class="search-list">
                  <!--<div *ngIf="searchData.userresult?.length > 0">-->
                      <div>
                        <li *ngFor="let friendData of searchData.companyresult">
                          <div class="left-side" [ngStyle]="{'background-image':'url('+friendData.profile_image+')'}"></div>
                          <div class="right-side">
                            <h4>{{friendData.company_name}}</h4>
                            <a [routerLink]="['/company/profile',friendData.company_slug]" class="more">View Company</a>
                          </div>
                        </li>
                        <li *ngFor="let grpData of searchData.groupresult">
                            <div class="left-side" [ngStyle]="{'background-image':'url('+grpData.image+')'}"></div>
                            <div class="right-side">
                              <h4>{{grpData.group_name}}</h4>
                              <small class="text" style="max-height: 32px;overflow:hidden">{{grpData.short_desc}}</small>
                              <a [routerLink]="['/group/details',grpData.group_uname]" class="more">View Group</a>
                            </div>
                          </li>
                      <li *ngFor="let friendData of searchData.userresult">
                          
                            <div class="left-side" [ngStyle]="{'background-image':'url('+friendData.profile_image+')'}"></div>
                          <div class="right-side">
                            <h4>{{friendData.bio}}</h4>
                            <small class="text" style="max-height: 32px;overflow:hidden">By {{friendData.name}}</small>
                            <a [routerLink]="['/user/profile',friendData.display_name]" class="more">View Profile</a>
                          </div>
                        </li>
                        <li *ngFor="let friendData of searchData.articleresult">
                            
                              <div class="left-side" [ngStyle]="{'background-image':'url('+friendData.image+')'}"></div>
                            <div class="right-side">
                              <h4>{{friendData.title}}</h4>
                              <small class="text">By {{friendData.author_name}}</small>
                              <a [routerLink]="['/articles/details',friendData.slug]" class="more">View Article</a>
                            </div>
                          </li>
                          <li *ngFor="let eventData of searchData.eventresult">
                            <div class="left-side" [ngStyle]="{'background-image':'url('+eventData.image+')'}"></div>
                            <div class="right-side">
                              <h4>{{eventData.title}}</h4>
                              <small class="text">By {{eventData.author_name}}</small>
                              <a [routerLink]="['/enrichment/eventdetails',eventData.slug]" class="more">View Event</a>
                            </div>
                          </li>
                          
                  </div>
                </ul>
            </div>
            <div class="col-md-3 flex-right">
                <div class="rightPart">
                    <div class="innerRightPart">
                      <h2>FILTER RESULT</h2>
                      <ul class="filter-reslt">
                        <li>USERS <span>({{searchData.userresult?.length}})</span></li>
                        <li>COMPANYS <span>({{searchData.companyresult?.length}})</span></li>
                        <li>ARTICLES <span>({{searchData.articleresult?.length}})</span></li>
                        <li>GROUPS  <span>({{searchData.groupresult?.length}})</span></li>
                        <li>EVENTS <span>({{searchData.eventresult?.length}})</span></li>
                      </ul>
                    </div>
                    <div class="innerRightPart share-story right-share-new">
                      <h1>Share your Story</h1>
                      <p>Femnesty is always looking for strong, positive contributors to join our team.</p>
                      <p><a [routerLink]="['/user/shareyourstory']" class="btn btn-primary">Share</a></p>
                    </div>
                    <div class="innerRightPart share-story right-share-new">
                      <h1>Start a Hub</h1>
                      <p>Make a difference where you are, start a Hub today.</p>
                      <p><a [routerLink]="['/user/create_hub/create']" class="btn btn-primary">Start</a></p>
                    </div>
                  </div>
            </div>
        </div>
    </div>
  </section>