 <!-- inner  banner -->
        
 <section class="inner-banner" style="background: url(assets/images/advisory-banner-bg.jpg) center no-repeat; background-size: cover;">
  <div class="container">
      <div class="row">
          <div class="col-md-7">
              <h1 class="text-white">Advisory Board</h1>
          </div>
      </div>
  </div>
</section>
 
<section class="founder p-16 advisory-board">
  <div class="container">
      <div class="row">
          <div class="col-md-3">
          	<img class="img-responsive" src="assets/images/sir-ronald.jpg" />
          </div>
          <div class="col-md-9">
          	<h3>Sir Ronald Sanders, KCMG</h3>
          	<p>Sir Ronald Sanders, Ambassador to the United States and the Organisation of American States, has had a career spanning journalism, banking, diplomacy and international negotiations in both the public and private sectors. Sir Ronald holds a Masters degree in International Relations and is a Senior Fellow at the Institute of Commonwealth Studies, University of London and Massey College in the University of Toronto. He was knighted by HM the Queen in 2002. His expertise is global, having served on numerous committees, task forces and advisory boards for the Commonwealth of Nations, as well as on the Board of Directors for media, telecommunications and financial institutions in the private sector.</p>
          </div>
      </div>
	  <div class="row">
          <div class="col-md-3">
          	<img class="img-responsive" src="assets/images/catherine.jpg" />
          </div>
          <div class="col-md-9">
          	<h3>Dr Catherine Baudino, PhD, MNCP, FRSA</h3>
          	<p>Catherine Baudino had a long, high-flying career in publishing, finance, telecommunications and solar energy before pursuing her current path as coach and mentor to both corporate and individual clients. Catherine became the UK’s youngest PhD at the age of 23 and in 1987 she cracked the ‘glass ceiling’ when she appeared on BBC2’s The Money Programme in a series that brought ‘reality TV’ into our homes and was a clear precursor of The Apprentice. The end of the series saw Catherine hired by media mogul Robert Maxwell. Subsequent roles included CEO of Maxwell Satellite Communications and becoming the first European Business Director of the NASDAQ Stock Market.</p>
          </div>
      </div>
	  <div class="row">
          <div class="col-md-3">
          	<img class="img-responsive" src="assets/images/adam.jpg" />
          </div>
          <div class="col-md-9">
          	<h3>Adam Williams</h3>
          	<p>Adam Williams is Senior Director at Rackspace, a company that manages cloud-based computer storage, networks and operating systems. Adam is a strong believer in servant leadership, and measures his own success by what he helps others to achieve. Adam was educated at Washington and Lee University and has held numerous positions in sales and IT. An entrepreneur with proven business skills, he also founded several successful companies before joining Rackspace in 2008. Alongside his business career, Adam is a keen and highly experienced mentor who believes passionately in the benefits of mentorship on all sides. In a Gallup Strengths test his five key strengths were Achiever, Activator, Arranger, Belief and Relator – all of which help him lead, inspire and encourage people every day.</p>
          </div>
      </div>
  </div>
</section>