<div class="rightPart">
    <div class="innerRightPart">
        <h2> Group Details </h2>
        <div class="hubMet" *ngIf="groupDetailsData1?.group_type=='1' || (!isJoinGroup &&  groupDetailsData1?.group_type=='2')">
            <div class="row">
                <div class="col-md-12">
                    <p>{{groupData.long_desc}}</p>
                </div>
            </div>
        </div>
        <div *ngIf="isJoinGroup && groupDetailsData1?.group_type =='2'">
            You have no permission
        </div>
    </div>
    <div class="innerRightPart">
        <h2>Members</h2>

        <div class="row member" *ngIf="groupMemberList?.length > 0 && (groupDetailsData1?.group_type=='1' || (!isJoinGroup &&  groupDetailsData1?.group_type=='2'))">
            <div class="col-md-3 col-xs-3" *ngFor="let memdata of groupMemberList; index as i" [ngClass]="{'isHideDiv': i>11, 'isShowDiv': showMemberDiv}">
                <a [routerLink]="['/user/profile',memdata.display_name]" title="{{memdata.name}}">
                    <div class="img" [ngStyle]="{'background-image':'url('+memdata.profile_image+')'}"></div>
                </a>
            </div>
            <a *ngIf="memberViewAll" (click)="showAllMember()" class="viewAll text-center col-md-12" style="cursor: pointer">View All ({{groupMemberList?.length}}) </a>
        </div>
        <div *ngIf="isJoinGroup &&  groupDetailsData1?.group_type=='2'">
            You have no permission
        </div>
    </div>

    <div class="innerRightPart">
        <h2>Group Photos</h2>

        <ul class="photoImage" *ngIf="groupImgList?.length > 0 && (groupDetailsData1?.group_type=='1' || (!isJoinGroup &&  groupDetailsData1?.group_type=='2'))">
            <li *ngFor="let gimgdata of groupImgList">
                <a href="Javascript: void(0);">
                    <!--<a href="Javascript: void(0);" (click)="deleteImg(gimgdata)">
                        <i class="icon ion-android-close" style="width: 22px;height: 22px;background: #bb1926;line-height: 23px;color: #fff;text-align: center;border-radius: 100%;float:right"></i>
                    </a>-->
                    <div class="img" [ngStyle]="{'background-image':'url('+gimgdata.file_name+')'}"></div>
                </a>
            </li>
        </ul>
        <ul class="photoImage" *ngIf="groupImgList.length == 0 && (groupDetailsData1?.group_type=='1' || (!isJoinGroup &&  groupDetailsData1?.group_type=='2'))">
            <li>
                <a href="Javascript: void(0);">
                    <div class="img" style=" background-image: url(assets/images/lock.jpg); "></div>
                </a>
            </li>
            <li>
                <a href="Javascript: void(0);">
                    <div class="img" style=" background-image: url(assets/images/lock.jpg); "></div>
                </a>
            </li>
            <li>
                <a href="Javascript: void(0);">
                    <div class="img" style=" background-image: url(assets/images/lock.jpg); "></div>
                </a>
            </li>
            <li>
                <a href="Javascript: void(0);">
                    <div class="img" style=" background-image: url(assets/images/lock.jpg); "></div>
                </a>
            </li>
            <li>
                <a href="Javascript: void(0);">
                    <div class="img" style=" background-image: url(assets/images/lock.jpg); "></div>
                </a>
            </li>
            <li>
                <a href="Javascript: void(0);">
                    <div class="img" style=" background-image: url(assets/images/lock.jpg); "></div>
                </a>
            </li>
        </ul>
        <div *ngIf=" isJoinGroup &&  groupDetailsData1?.group_type=='2'">
            You have no permission
        </div>
        <a *ngIf="totlalGroupImgList?.length > 5" [routerLink]="['/user/group_all_photo',groupData.group_uname]" class="viewAll text-center">View All</a>
    </div>

</div>