<div class="rightPart">
    
                      <div class="innerRightPart">
                          <h2>Photos & Videos</h2>
                          <ul class="photoImage">
                              <li>
                                  <a href="#">
                                      <div class="img" style="background-image: url('assets/images/dog.jpg')"></div>
                                  </a>
                              </li>
                              <li>
                                  <a href="#">
                                      <div class="img" style="background-image: url('assets/images/dog.jpg')"></div>
                                  </a>
                              </li>
                              <li>
                                  <a href="#">
                                      <div class="img" style="background-image: url('assets/images/dog.jpg')"></div>
                                  </a>
                              </li>
                              <li>
                                  <a href="#">
                                      <div class="img" style="background-image: url('assets/images/dog.jpg')"></div>
                                  </a>
                              </li>
                              <li>
                                  <a href="#">
                                      <div class="img" style="background-image: url('assets/images/dog.jpg')"></div>
                                  </a>
                              </li>
                              <li>
                                  <a href="#">
                                      <div class="img" style="background-image: url('assets/images/dog.jpg')"></div>
                                  </a>
                              </li>
    
                          </ul>
                          <a href="#" class="viewAll text-center">View All</a>
                      </div>
                      <div class="innerRightPart">
                          <h2>ATTENDING HUBS</h2>
                          <div class="hubMet hubMet1">
                              <div class="row">
                                  <div class="col-md-4">
                                      <div class="img" style="background-image: url('assets/images/dog1.jpg')"></div>
                                  </div>
                                  <div class="col-md-8">
                                      <h2>Femnesty Hub Met</h2>
                                      <p>2017-09-04, London</p>
                                      <button type="button" class="btn btn-primary">View Hub</button>
                                  </div>
                              </div>
                          </div>
                      </div>
    
                      <div class="innerRightPart">
                          <h2>Groups</h2>
                          <div class="hubMet hubMet1">
                              <div class="row">
                                  <div class="col-md-4">
                                      <div class="img" style="background-image: url('assets/images/dog1.jpg')">
                                      </div>
                                  </div>
                                  <div class="col-md-8">
                                      <h2>London Women Group</h2>
                                      <button type="button" class="btn btn-primary">View Group</button>
                                  </div>
                              </div>
    
                          </div>
                          <div class="hubMet hubMet1">
                              <div class="row">
                                  <div class="col-md-4">
                                      <div class="img" style="background-image: url('assets/images/dog1.jpg')">
                                      </div>
                                  </div>
                                  <div class="col-md-8">
                                      <h2>London Women Group</h2>
                                      <button type="button" class="btn btn-primary">View Group</button>
                                  </div>
                              </div>
    
                          </div>
                      </div>
                  </div>