<section class="sign-up-area">
    <div class="container">
       <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
        <div class="sign-form">
            <h2>Change Password</h2>
            <div class="alert alert-danger" role="alert" *ngIf="(errorMsg != '')">
               {{errorMsg}}
            </div>
            <div class="alert alert-success" role="alert" *ngIf="(successMsg != '')">
                {{successMsg}}.
            </div>
            <form [formGroup]="form" (ngSubmit)="changePassword(form.value)" class="row form-area" #signupForm="ngForm">    
                
                <div class="form-group col-md-6">
                    <input type="password" placeholder="New Password" name="password" validateEqual="cpassword" reverse="true" class="form-control" [formControl]="password">
                    <div class="text-danger" *ngIf="!password.valid && password.touched">New Password Required</div>
                </div>
                <div style="clear:both;"></div>
                <div class="form-group col-md-6">
                    <input type="password" placeholder="Confirm Password" name="cpassword" validateEqual="password" reverse="false" class="form-control" [formControl]="cpassword">
                    <div class="text-danger" *ngIf="!cpassword.valid && cpassword.touched">Confirm Password Required and the passwords must match</div>
                </div>
                
                <div class="form-group col-md-12">
                    <button class="btn btn-primary" [disabled]="!signupForm.valid" type="submit">Submit</button>
                </div>
                <div class="form-group col-md-12">
                    <p>
                        <label>You have a account? <a class="text-red" [routerLink]="['/user/login']">Login</a></label>
                    </p>
                </div>
            </form>
        </div>
		  <a [routerLink]="['/']" class="btn btn-back" style="width: 220px;">BACK TO HOME</a>
    </div>
  </section>
  
  