<section class="section section2 about-content-area visitingProfile">
  <div class="container-fluid">
      <div class="row flex-profile">
          <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
          <div class="col-md-3 flex-left">
            <div *ngIf="isloginUser == 1">
                <user-sidebar></user-sidebar>
            </div>
          </div>
          <div class="col-md-6 flex-middle pd-5">
              <div class="middlePart">
                  <div class="topPart" [ngStyle]="{'background-image':'url('+otherProfileDet?.cover_image_url+')'}">
                  </div>
                  <div class="profPhoto">
                      <div class="img" [ngStyle]="{'background-image':'url('+otherProfileDet?.image_url+')'}">
                      </div>
                  </div>
                 
                  <div class="profDes">
                      <h2 class="text-center">{{otherProfileDet?.name}}</h2>
                      <p class="text-center">{{otherProfileDet?.bio}}</p>
                      <p class="text-center addressP" *ngIf="otherProfileDet?.address">{{otherProfileDet?.address}}, {{otherProfileDet?.city}}</p>
                      <p class="text-center">
                            <a *ngIf="checkIsFriend" [routerLink]="['/user/chat',otherProfileDet?.id]" class="btn btn-primary">Chat With {{otherProfileDet?.first_name}}</a>  
                            <button *ngIf="otherProfileDet?.id!=isloginUserId && !checkIsFriend && !sendrequest" type="button" class="btn btn-primary" (click)="sendFriendRequest(otherProfileDet?.id)">Add Connection</button>
                            <button *ngIf="otherProfileDet?.id!=isloginUserId && sendrequest" type="button" class="btn btn-primary" >Request Sent</button>
                        </p>
                      
                  </div>
                  <div class="row" *ngIf="(successMsg != '')">
                      <div class="alert alert-success" role="alert" *ngIf="(successMsg != '')">
                           {{successMsg}}
                      </div>
                  </div>
                  <div class="row" *ngIf="(errorMsg != '')">
                      <div class="alert alert-danger" role="alert" *ngIf="(errorMsg != '')">
                           {{errorMsg}}
                      </div>
                  </div>
                  <div class="tabPart">
                      <ul class="nav nav-pills">
                          <li [ngClass]="{'active' : activeTab=='activity'}"><a (click)="toggleTab('activity')">Activity</a></li>
                          <li [ngClass]="{'active' : activeTab=='about'}"><a (click)="toggleTab('about')">About</a></li>
                          <li [ngClass]="{'active' : activeTab=='connections'}"><a (click)="toggleTab('connections')">Connections</a></li>
                          <li [ngClass]="{'active' : activeTab=='group'}"><a (click)="toggleTab('group')">Group</a></li>
                      </ul>
                      
                      <div class="tab-content">
                          <div class="tab-pane fade" [ngClass]="{' in active' : activeTab=='activity'}">
                              <!--<app-post-create (getUserPostDetails)="getUserPostDetails()"></app-post-create>-->
                              <div class="allpost" *ngIf="userPostList?.length > 0">
                                  <div class="likePart" *ngFor="let postData of userPostList">
                                      <app-post-card [postData]="postData"></app-post-card>
                                  </div>
                              </div>
                              <div class="likePart" *ngIf="userPostList?.length == 0">
                                  <div class="row">
                                      <div class="col-md-10">
                                          <div class="nothing">Nothing more to show</div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div id="menu1" class="tab-pane fade" [ngClass]="{' in active' : activeTab=='about'}">
                            <div class="new-tabs">
                            <div class="tab-content">
                                  <div class="tab-pane fade in active">
                                    <ul>
                                        <li>
                                            <h5>FULL NAME</h5>
                                            <p>{{otherProfileDet?.first_name}} {{otherProfileDet?.last_name}}</p>
                                        </li>
                                        <li>
                                            <h5>EMAIL</h5>
                                            <p>{{otherProfileDet?.email}}</p>
                                        </li>
                                        <li>
                                            <h5>MOBILE NO</h5>
                                            <p>{{otherProfileDet?.mobile_number}}</p>
                                        </li>
                                        <li>
                                            <h5>OCCUPATION</h5>
                                            <p>{{otherProfileDet?.occupation}}</p>
                                        </li>
                                        <li>
                                            <h5>STATE</h5>
                                            <p>{{otherProfileDet?.state}}</p>
                                        </li>
                                        <li>
                                            <h5>CITY</h5>
                                            <p>{{otherProfileDet?.city}}</p>
                                        </li>
                                        <li>
                                            <h5>ADDRESS</h5>
                                            <p>{{otherProfileDet?.address}}</p>
                                        </li>
                                        <li>
                                            <h5>BIO</h5>
                                            <p>{{otherProfileDet?.bio}}</p>
                                        </li>
                                    </ul>
                                  </div>
                            </div>
                        </div> 
                            
                            
                            
                            <!--<div class="aboutPart">
                                <h2 style="margin-top: 0px;">About {{otherProfileDet?.first_name}}</h2><br/>
                                  <div class="abouts">
                                      <div class="row">
                                          <div class="col-md-12">
                                              <div class="tab-content">
                                                  <div class="tab-pane fade" [ngClass]="{'in active' : aboutActiveTab=='overview'}">
                                                      <ul class="ulList">
                                                          <div class="menu">
                                                              <div class="">
                                                                  
                                                                  <div class="form-group row">
                                                                      <label for="staticEmail" class="col-sm-4 col-form-label">Occupation</label>
                                                                      <div class="col-sm-8">
                                                                          <span>{{otherProfileDet?.occupation}}</span>
                                                                      </div>
                                                                  </div>
                                                                  <div class="form-group row">
                                                                      <label for="staticEmail" class="col-sm-4 col-form-label">State</label>
                                                                      <div class="col-sm-8">
                                                                          <span>{{otherProfileDet?.state}}</span>
                                                                      </div>
                                                                  </div>
                                                                  <div class="form-group row">
                                                                      <label for="staticEmail" class="col-sm-4 col-form-label">City</label>
                                                                      <div class="col-sm-8">
                                                                          <span>{{otherProfileDet?.city}}</span>
                                                                      </div>
                                                                  </div>
                                                                  <div class="form-group row">
                                                                      <label for="staticEmail" class="col-sm-4 col-form-label">Address</label>
                                                                      <div class="col-sm-8">
                                                                          <span>{{otherProfileDet?.address}}</span>
                                                                      </div>
                                                                  </div>
                                                                  <div class="form-group row">
                                                                      <label for="staticEmail" class="col-sm-4 col-form-label">BIO</label>
                                                                      <div class="col-sm-8">
                                                                          <span>{{otherProfileDet?.bio}}</span>
                                                                      </div>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                      </ul>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>-->
                          </div>
                          <div id="menu2" class="tab-pane fade" [ngClass]="{' in active' : activeTab=='connections'}">
                              <div class="connectionsPart">
                                  <!--<h2>Connections</h2>
                                  <div class="connections">
                                        <ul class="friend-box" *ngIf="userFrndList?.length > 0">
                                            <li class="friend-box-list" *ngFor="let friendData of userFrndList">
                                                <div class="friend-boxImage">
                                                    <a [routerLink]="['/user/profile',friendData.display_name]">
                                                    <div class="img" [ngStyle]="{'background-image':'url('+friendData.profile_image+')'}"></div>
                                                    </a>
                                                </div>
                                                <div class="friend-boxText">
                                                    <h2>{{friendData.name}}</h2>
                                                    <a [routerLink]="['/user/profile',friendData.display_name]" class="btn btn-primary">View Profile</a> 
                                                    <button *ngIf="friendData.friend_id!=isloginUserId" type="button" class="btn btn-primary" (click)="sendFriendRequest(friendData.friend_id)">Add Friend</button>
                                                </div>
                                            </li>
                                        </ul>
                                      <div class="likePart" *ngIf="userFrndList?.length == 0">
                                          <div class="row">
                                              <div class="col-md-10">
                                                  <div class="nothing">No connection found</div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>-->
                                  <ul class="contn-box" *ngIf="userFrndList?.length > 0">
                                        <li class="friend-box-list" *ngFor="let friendData of userFrndList">
                                            <div class="friend-boxImage">
	                                            <a [routerLink]="['/user/profile',friendData.display_name]">
	                                                <div class="img" [ngStyle]="{'background-image':'url('+friendData.profile_image+')'}"></div>
	                                            </a>
                                            </div>
                                            <div class="friend-boxText">
                                                <h4>{{friendData.name}}</h4>
                                                <!--<a [routerLink]="['/user/chat',friendData.friend_id]" class="btn btn-primary">Chat </a>-->
                                                <p *ngIf="friendData.bio !=''">{{friendData.bio | limitTo : 40}}</p>
                                            </div>
                                            <div class="sendmsg">
                                            	<!--<a href=""><span><img src="assets/images/send-msg.png" alt=""></span> SEND MESSAGE </a>-->
                                            	<!--<a [routerLink]="['/user/profile',friendData.display_name]" class="btn btn-primary">View Profile</a> -->
                                                <a href="Javascript: void(0)" *ngIf="friendData.friend_id!=isloginUserId" (click)="sendFriendRequest(friendData.friend_id)"><span style="color:#bb1926; font-size:16px;"><i class="ion-android-person-add"></i></span> Add Connection</a>
                                            </div>
                                            <div class="dwn-arrow"><i class="icon ion-chevron-down"></i></div>
                                        </li>
                                    </ul>
                              </div>
                          </div>
                          <div id="menu3" class="tab-pane fade" [ngClass]="{' in active' : activeTab=='group'}">
                              <div class="connectionsPart">
                                  <h2>Groups</h2>
                                  <div class="connections">
                                        <ul class="friend-box" *ngIf="userGroupList?.length > 0">
                                            <li class="friend-box-list" *ngFor="let grpData of userGroupList">
                                                <div class="friend-boxImage">
                                                    <a [routerLink]="['/group/details',grpData.group_uname]">
                                                    <div class="img" [ngStyle]="{'background-image':'url('+grpData.group_image+')'}"></div>
                                                    </a>
                                                </div>
                                                <div class="friend-boxText">
                                                    <a [routerLink]="['/group/details',grpData.group_uname]">
                                                    <h2>{{grpData.group_name}}</h2>
                                                    </a>
                                                    <p style="margin:0">{{grpData.member_count}} members</p>
                                                    <a [routerLink]="['/group/details',grpData.group_uname]" class="btn btn-primary">View Group</a> 
                                                </div>
                                            </li>
                                        </ul>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-3 flex-right">
                <!-- <app-user-prfrsidebar></app-user-prfrsidebar> -->
                <app-other-user-prfrsidebar></app-other-user-prfrsidebar>
          </div>
      </div>
  </div>
</section>