
.topPart{
    height: 210px;
    background-size: cover;

}
.profPhoto .img{
    top: -60px;
}

.profImageP .img {
    height: 50px;
    width: 50px;
    background-size: cover;
    border-radius: 50%;
}

.social-link li a{color:#cc535c; border-radius:50%; background:#fff; border:2px solid #cc535c}