 <section class="inner-banner bcome-mntr" style="background: url(assets/images/share-story-bg.jpg) center no-repeat; background-size: cover;">
  <div class="container">
      <div class="row">
          <div class="col-md-7">
              <h1 class="text-white">Contribute</h1>
          </div>
      </div>
  </div>
</section>

<section class="section p-16">
  <div class="container">
      <h1>Share your story.</h1>
      <p>Are you combining further education with raising a family? Have you made sacrifices for the sake of your career? <br>
Are you a businesswoman, single parent, carer, or all three? By sharing your story, you may be able to help other women facing the same 
issues or challenges in their lives.</p>
<div class="alert alert-success" role="alert" *ngIf="(successMsg != '')">
    <strong>Success: </strong> {{successMsg}}
</div>
  <form class="row form-area" [formGroup]="form" (ngSubmit)="shareStoryArticle()" #sharestoryForm="ngForm"> 
      <div class="form-group col-lg-6">
          <select formControlName="mag_category_id" class="form-control" >
            <option value="">Select Category</option>  
            <option value="{{ catlist.id }}" *ngFor="let catlist of allArticlecat">{{ catlist?.name }}</option>
         </select>
         <div class="text-danger" *ngIf="!form.controls['mag_category_id'].valid && form.controls['mag_category_id'].touched">Category Required</div>
      </div>
      <div class="form-group col-lg-6">
          <input type="text" placeholder="Author" class="form-control" formControlName="author_name">
          <div class="text-danger" *ngIf="!form.controls['author_name'].valid && form.controls['author_name'].touched">Author Name Required</div>
      </div>
      <div class="form-group col-lg-6">
          <input type="text" placeholder="Article Title" class="form-control" formControlName="title">
          <div class="text-danger" *ngIf="!form.controls['mag_category_id'].valid && form.controls['mag_category_id'].touched">Category Required</div>
      </div>
      <div class="form-group col-lg-6">
          <textarea placeholder="Short Description" class="form-control" formControlName="short_desc"></textarea>
          <div class="text-danger" *ngIf="!form.controls['short_desc'].valid && form.controls['short_desc'].touched">Short Description Required</div>
      </div>
      <div class="form-group col-lg-12">
        <textarea placeholder="Long Description" class="form-control" formControlName="description"></textarea>
        <div class="text-danger" *ngIf="!form.controls['description'].valid && form.controls['description'].touched">Long Description Required</div>
      </div>
      <div class="form-group col-lg-6 file-upload-area">
            <div class="file-upload">
                <label for="upload" class="file-upload__label">Choose File</label>
                <input id="upload" class="file-upload__input" type="file" formControlName="image" (change)="fileChangePost($event)">
            </div>
            <p class="">No file selected</p>
        </div>
        <div class="form-group col-lg-6" *ngIf="showPostImgDive">
            <span class="result" *ngIf="postImgData">
                <img [src]="postImgData" [height]="100" >
            </span>
        </div>
      <div class="form-group col-lg-12">
          <div class="mt-30"><input class="styled-checkbox" id="styled-checkbox-1" formControlName="agreetab" type="checkbox" value="value1">
<label for="styled-checkbox-1">I understand my submission may be edited or reformatted in line with existing articles, and that I 
will receive a copy to approve before publication.</label></div>
<div class="text-danger" *ngIf="!form.controls['agreetab'].valid">Please check and continue.</div>
      </div>
      <div class="form-group col-lg-12">
          <button type="submit" class="btn btn-primary" [disabled]="!sharestoryForm.valid">Share your story</button>
      </div>
  </form>
  </div>
</section>
