<section class="inner-banner bcome-mntr" style="background: url(assets/images/menotor-bg.jpg) center no-repeat; background-size: cover;">
  <div class="container">
      <div class="row">
          <div class="col-md-7">
              <h1 class="text-white">Become a Mentor</h1>
          </div>
      </div>
  </div>
</section>

<section class="section p-16 inner-pages-holder">
  <div class="container">
      <h1 class="font-54">Femnesty is always looking for strong, positive contributors to join our team.</h1>
      <p>You can be a mentor at any stage in your life or career. If you’re a high flyer, why not help someone coming up through the business, or if your career is just taking off, why not mentor a student or someone who just started? It’s never too early – or late – to help someone achieve their goals.</p>
<div class="alert alert-success" role="alert" *ngIf="(successMsg != '')">
    <strong>Success: </strong> {{successMsg}}
</div>
  <form class="row form-area" [formGroup]="form" (ngSubmit)="mentor()" #mentorForm="ngForm">
      <div class="form-group col-lg-6">
          <input type="text" placeholder="Name" class="form-control" formControlName="name">
          <div class="text-danger" *ngIf="!form.controls['name'].valid && form.controls['name'].touched">Name Required</div>
      </div>
      <div class="form-group col-lg-6">
          <input type="text" placeholder="Email" class="form-control" formControlName="email">
          <div class="text-danger" *ngIf="!form.controls['email'].valid && form.controls['email'].touched">Email Required</div>
      </div>
      <div class="form-group col-lg-6">
          <input type="text" placeholder="Number" class="form-control" formControlName="mobile_no">
          <div class="text-danger" *ngIf="!form.controls['mobile_no'].valid && form.controls['mobile_no'].touched">Number Required</div>
      </div>
      <div class="form-group col-lg-6">
          <input type="text" placeholder="Certification / Qualification" class="form-control" formControlName="qualification">
      </div>
      <div class="form-group col-lg-12">
          <textarea rows="6" placeholder="Short Description" class="form-control" formControlName="short_desc"></textarea>
      </div>
      <div class="form-group col-lg-12">
          <textarea rows="6" placeholder="Long Description" class="form-control" formControlName="long_desc"></textarea>
      </div>
      <div class="form-group col-lg-6 file-upload-area">
          <div class="file-upload">
              <label for="upload" class="file-upload__label">Choose File</label>
              <input id="upload" class="file-upload__input" type="file" formControlName="image" (change)="fileChangePost($event)">
          </div>
          <p class="">No file selected</p>
      </div>
      <div class="form-group col-lg-6" *ngIf="showPostImgDive">
          <span class="result" *ngIf="postImgData">
              <img [src]="postImgData" [height]="100" >
          </span>
      </div>
      <div class="form-group col-lg-12">
          <button type="submit" [disabled]="!mentorForm.valid" class="btn btn-primary">Submit</button>
      </div>
  </form>
  </div>
</section>