<section class="section about-content-area visitingProfile">
    <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="left-list">
              <div class="profImage">
                    <div class="img" style="background-image: url('assets/images/img-1.jpg')"></div>
              </div>
              <div class="profDetails">
                <h2>Erik Sandberg</h2>
                <p>Entrepreneur, hunk and<br>an absolute dog lover</p>
              </div>
              <div class="messagePart">
                <ul>
                  <li><a href="#"><span class="iconWidth"><img src="assets/images/icon1.png"></span>MESSAGES</a></li>
                  <li><a href="#"><span class="iconWidth"><img src="assets/images/icon2.png"></span>CONNECTIONS</a></li>
                  <li><a href="#"><span class="iconWidth"><img src="assets/images/icon3.png"></span>GROUPS</a></li>
                  <li><a href="#"><span class="iconWidth"><img src="assets/images/icon4.png"></span>HUBS</a></li>
                </ul>
              </div>
              <div class="onlineUsers">
                <h2>Online Users</h2>
                <ul class="onlineList">
                  <li>
                    <div class="img" style="background-image: url('assets/images/img-1.jpg')"></div>
                    <div class="greenIcon"></div>
                  </li>
                  <li>
                    <div  class="img" style="background-image: url('assets/images/img-1.jpg')"></div>
                    <div class="greenIcon"></div>
                  </li>
                  <li>
                    <div class="img" style="background-image: url('assets/images/img-1.jpg')"></div>
                    <div class="greenIcon"></div>
                  </li>
                  <li>
                    <div  class="img" style="background-image: url('assets/images/img-1.jpg')"></div>
                    <div class="greenIcon"></div>
                  </li>
                  <li>
                    <div  class="img" style="background-image: url('assets/images/img-1.jpg')"></div>
                    <div class="greenIcon"></div>
                  </li>
                  <li><div class="upload-btn-wrapper uploadBut">
                <button class="btn"><i class="icon ion-ios-plus-empty"></i></button>
                <input type="file" name="myfile" />
            </div>
          </li>
                </ul>
              </div>
              <div class="bottomList">
                <ul>
                  <li><a href="#">SIGN OUT</a></li>
                  <li>|</li>
                  <li><a href="#">SETTINGS</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="middlePart">
              <div class="main-chat-wrap">
                <div class="chat-holder">
                  <ul>
                    <li>
                      <div class="image-area">
                        <div class="round-image-holder" style="background: url('assets/images/img-1.jpg') no-repeat center center;"></div>
                      </div>
                      <div class="text-area">
                        <h5>Evening chaps, as you would have seen it is a hectic week, lots of behind the scenes work happening.</h5>
                        <p class="date">23 OCT 2017 - 09.43 PM</p>
                      </div>
                    </li>
                    <li>
                      <div class="image-area">
                        <div class="round-image-holder" style="background: url('assets/images/manImage1.jpg') no-repeat center center;"></div>
                      </div>
                      <div class="text-area">
                        <h5>I know, but I’m singing at the American Idol this weekend and can’t afford to ruin my voice over a shit chat with you.</h5>
                        <p class="date">23 OCT 2017 - 09.43 PM</p>
                      </div>
                    </li>
                    <li>
                      <div class="image-area">
                        <div class="round-image-holder" style="background: url('assets/images/img-1.jpg') no-repeat center center;"></div>
                      </div>
                      <div class="text-area">
                        <h5>Evening chaps, as you would have seen it is a hectic week, lots of behind the scenes work happening.</h5>
                        <p class="date">23 OCT 2017 - 09.43 PM</p>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="message-writing-wrap">
          <div class="form-group">
            <textarea class="form-control" placeholder="Type a message.."></textarea>
          </div>
          <div class="text-right">
            <div class="attach-file">
              <input type="file"/>
              <span>Attach File</span>
            </div>
            
            <button type="button" class="btn btn-primary pull-right">Send</button>
          </div>
        </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="rightPart">
              <div class="innerRightPart">
                <h2>CONNECTIONS</h2>
                <div class="inline-search">
                  <div class="input-group">
                    <input placeholder="Search" class="form-control">
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-default"><i class="fa fa-search"></i></button>
                    </span>
                  </div>
                </div>
                <ul class="connectionlist">
                  <li>
                    <div class="image-area">
                      <div class="round-image-holder" style="background: url('assets/images/img-1.jpg') no-repeat center center;"></div>
                    </div>
                    <div class="text-area">
                      <h5>Susan Boyle <span>5.43pm</span></h5>
                      <p>You: Stop screming Susan!</p>
                    </div>
                  </li>
                  <li>
                    <div class="image-area">
                      <div class="round-image-holder" style="background: url('assets/images/img-1.jpg') no-repeat center center;"></div>
                    </div>
                    <div class="text-area">
                      <h5>Susan Boyle <span>5.43pm</span></h5>
                      <p>You: Stop screming Susan!</p>
                    </div>
                  </li>
                  <li>
                    <div class="image-area">
                      <div class="round-image-holder" style="background: url('assets/images/img-1.jpg') no-repeat center center;"></div>
                    </div>
                    <div class="text-area">
                      <h5>Susan Boyle <span>5.43pm</span></h5>
                      <p>You: Stop screming Susan!</p>
                    </div>
                  </li>
                  <li>
                    <div class="image-area">
                      <div class="round-image-holder" style="background: url('assets/images/img-1.jpg') no-repeat center center;"></div>
                    </div>
                    <div class="text-area">
                      <h5>Susan Boyle <span>5.43pm</span></h5>
                      <p>You: Stop screming Susan!</p>
                    </div>
                  </li>
                </ul>
                
              </div>
            </div>
          </div>
        </div>
    </div>
</section>