<div class="likePart" *ngIf="!postData.hide_post_div">
    <div class="row">
        <div class="col-md-10">
            <div class="imageParts">
                <div class="profImageP">
                    <a *ngIf="postData.post_type != 3" [routerLink]="['/user/profile',postData.display_name]">
                        <div class="img" [ngStyle]="{'background-image':'url('+postData.profile_image+')'}"></div>
                    </a>
                    <a *ngIf="postData.post_type == 3">
                        <div class="img" [ngStyle]="{'background-image':'url(assets/images/anonymous.jpg)'}"></div>
                        <!-- <img class="img" src="assets/images/anonymous.jpg" alt="" /> -->
                    </a>
                </div>
                <div class="profTextPart">
                    <a *ngIf="postData.post_type != 3" [routerLink]="['/user/profile',postData.display_name]">
                        <h2>{{postData.name}}</h2>
                    </a>
                    <!-- <p>{{postData.created_date_mod}}</p> -->
                    <p>{{postData.created_date | dateTimeFormat: 'dd MMM yyyy'}}</p>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <!--             
            <a class="icondown">
                <i class="icon ion-chevron-down"></i>
            </a>
            <div>
                    <a class="userDelBth" title="Edit" *ngIf="IsGroupAdmin || IsloginUserId==postData.user_id" (click)="openEditModal(postData,editModal)">
                            <i class="fa fa-pencil-square-o"></i>
                        </a>
                        <a *ngIf="IsGroupAdmin && postData.file_name == ''" title="Delete" class="userDelBth" (click)="deletePost(confirmmodal,postData.id,'P',postData)">
                                <i class="fa fa-trash"></i>
                            </a>
            </div> -->

            <a class="icondown" href="javascript:void(0)" (click)="toggleOptions()">
                <i class="icon ion-chevron-down"></i>
            </a>
            <div class="post-drop-box" *ngIf="IsShowOption">
            <div class="closed"><a (click)="toggleOptions()" ><img src="assets/images/cross.png" alt="" /></a></div>
                <a title="Edit" href="javascript:void(0)" *ngIf="IsloginUserId == postData.user_id" (click)="openEditModal(postData,editModal)">
                    Edit
                </a>
                <a href="javascript:void(0)" *ngIf="IsloginUserId == postData.user_id" title="Delete" (click)="deletePost(confirmmodal,postData.id,'P',postData)">
                    Delete
                </a>
                <!--<a href="javascript:void(0)" *ngIf="IsGroupAdmin || (!IsGroupAdmin && IsloginUserId == postData.user_id)" title="Delete" (click)="deletePost(confirmmodal,postData.id,'P',postData)">
                    Delete
                </a>-->
                <!-- <a href="javascript:void(0)" *ngIf="IsGroupAdmin && postData.file_name != ''" title="Delete" (click)="deletePost(confirmmodal,postData.id,'P',postData)">
                    Delete
                </a> -->
                <!--<a href="javascript:void(0)" *ngIf="IsGroupAdmin || (!IsGroupAdmin && IsloginUserId == postData.user_id)" title="Block" (click)="blockUser(blockConfirmModal,postData.id,'P',postData)">
                    Block
                </a>-->
                <!--<a href="javascript:void(0)" *ngIf="(!IsGroupAdmin && IsloginUserId != postData.user_id)" title="Block" (click)="blockUser(blockConfirmModal,postData.id,'P',postData)">
                    Block
                </a>-->
                <a href="javascript:void(0)" *ngIf="(IsGroupAdmin) || (checkGrpAdminId == '' && IsloginUserId == postData.user_id  && postData.group_type == 1)" title="Ignore" (click)="ignorePost(ignoreConfirmModal,postData.id,'P',postData)">
                    Ignore
                </a>
                <a href="javascript:void(0)" *ngIf="(IsGroupAdmin && IsloginUserId != postData.user_id) || (checkGrpAdminId == '' && IsloginUserId != postData.user_id && postData.group_type==1)" title="Block" (click)="blockUser(blockConfirmModal,postData.id,'P')">
                    Block
                </a>
                <a href="javascript:void(0)" *ngIf="IsloginUserId != postData.user_id" title="Report" (click)="report(reportConfirmModal,postData.id,'P',postData)">
                    Report
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="userComment">
                <div class="imageLikeP" *ngIf="postData.file_name != ''">
                    <!-- <a *ngIf="IsGroupAdmin && postData.file_name != ''" title="Delete" class="del-btns" (click)="deletePost(confirmmodal,postData.id,'P',postData)">
                        <i class="icon ion-android-close"></i>
                    </a> -->
                    <img [src]="postData.file_image_url" class="img-responsive">

                </div>
                <p>{{postData.description}}</p>
                <ul>
                    <li>
                        <a href="javascript: void(0);" (click)="userPostLikeListPopup(postData.id,postlikemodal)">{{postData.likecount}} Likes</a>
                    </li>
                    <li>
                        <a href="javascript: void(0);">{{postData.commentcount}} Comments</a>
                    </li>
                    <li >
                        <a href="javascript: void(0);" *ngIf=" postData.post_type==2"> <i style="font-size: 16px;" class="ion-ios-people"></i> Connection Only</a>
                        <a href="javascript: void(0);" *ngIf=" postData.post_type==1"> <i style="font-size: 16px;" class="ion-android-globe"></i> Members</a>
                        <a href="javascript: void(0);" *ngIf=" postData.post_type==3"><i style="font-size: 16px;" class="ion-ios-people"></i> Anonymous</a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>
<div class="commentPart" *ngIf="!postData.hide_post_div">
    <div class="row">
        <div class="col-md-12">
            <div class="likeComment">
                <div class="row">
                    <div class="col-md-10 col-xs-8">
                        <ul>
                            <li *ngIf="postData.post_like">
                                <a (click)="userPostLike(postData.id,postData)" href="Javascript:void(0);">
                                    <i class="fa fa-thumbs-o-down"></i>
                                </a>
                            </li>
                            <li *ngIf="!postData.post_like">
                                <a (click)="userPostLike(postData.id,postData)" href="Javascript:void(0);">
                                    <i class="fa fa-thumbs-o-up"></i> 
                                </a>
                            </li>
                            <li>
                                <a (click)="userPostComment(postData.id,postData)" href="Javascript:void(0);">
                                    <i class="fa fa-commenting-o"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-2 col-xs-4">
                        <!--<a onClick="window.open('http://www.facebook.com/dialog/feed?app_id=150470825593599&link=http://111.93.169.90/team2/femnesty_web/#/home&picture=http://111.93.169.90/team2/Femnesty/all_images/103_25014750.jpeg&name=nm nmnbc bncbn c&description=n bkjcbkjcvbc cbn&message= nvn vbn vbn vnfg cbncvbvcbc','sharer','toolbar=0,status=0,width=548,height=325');" href="javascript: void(0)">Insert text or an image here.</a>-->
                        <a class="icondown" href="javascript:void(0)" (click)="toggleShare()">
                            <img src="assets/images/share.png" alt="" style="width:20px;float:left"/>
                        </a>
                        <ul class="social-link pull-right" *ngIf="IsShowShareOptions">
                            <li *ngIf="postData.file_image_url != ''">
                                <!-- <a style="width: 25px; height: 25px; border-radius:50%; border:1px solid #bb1926; color:#bb1926; background: #fff" ceiboShare  [facebook]="{u: repoUrl, summary:postData.description, images:postData.file_image_url}">
                                    <i class="ion-social-facebook" style="font-size:16px"></i>
                                </a> -->

                                <app-beta-restriction [height]="'43'" [postcard]="'true'"></app-beta-restriction>

                            </li>
                            <li *ngIf="postData.file_image_url == ''">
                                <a style="width: 25px; height: 25px; border-radius:50%; border:1px solid #bb1926; color:#bb1926; background: #fff" ceiboShare
                                    [facebook]="{u: repoUrl, summary:postData.description}">
                                    <i class="ion-social-facebook" style="font-size:16px"></i>
                                </a>
                            </li>
                            <!--<li>
                                <a style="width: 25px; height: 25px; border-radius:50%; border:1px solid #bb1926; color:#bb1926; background: #fff" (click)="shareOnFacebook(repoUrl, postData.description, postData.file_image_url)">
                                    <i class="ion-social-facebook" style="font-size:16px"></i>
                                </a>
                            </li>-->
                            <li>
                                <a style="width: 25px; height: 25px; border-radius:50%; color:#bb1926; border:1px solid #bb1926; background: #fff" ceiboShare
                                    [linkedIn]="{url:repoUrl, text:postData.description}">
                                    <i class="fa fa-linkedin" style="font-size:16px"></i>
                                </a>
                            </li>
                            <li>
                                <a style="width: 25px; height: 25px; color:#bb1926; border-radius:50%; border:1px solid #bb1926; background: #fff" ceiboShare
                                    [twitter]="{url:repoUrl, text:postData.description}">
                                    <i class="ion-social-twitter" style="font-size:16px"></i>
                                </a>
                            </li>
                        </ul>

                        <!--<button ceiboShare  [facebook]="{u: repoUrl, picture: postData.file_image_url, name: postData.description, description:postData.description}">Facebook</button>
                        <button ceiboShare  [linkedIn]="{url:repoUrl, media: postData.file_image_url, description: postData.description}">Linkedin</button>
                        <button ceiboShare  [googlePlus]="{url:repoUrl, media: postData.file_image_url, description: postData.description}">Google Plus</button>
                        <button ceiboShare  [twitter]="{url:repoUrl, text:'Checkout this awesome ng2 social share directive', hashtags:'angular2, social, ceiboIT'}">Twitter</button>
                        <button ceiboShare [pinterest]="{url:repoUrl, media: imageUrl, description:'Checkout this awesome angular2 directive'}">Pinterest</button>-->
                        <!--<ul class="pull-right">
                        <li class="float-right"><a href="#"><i class="fa fa-share"></i></a></li>
                    </ul>-->
                    </div>
                </div>
            </div>
            <div *ngIf="postData.comments?.length > 0">
                <div *ngFor="let cmtList of postData.comments; let key = index">
                    <div class="reply-comment-wrapper" *ngIf="!cmtList.hide_div && (key < 2 || showmore)">
                        <div class="left-comment-content">
                            <a [routerLink]="['/user/profile',cmtList.display_name]">
                                <div class="user-image" [ngStyle]="{'background-image':'url('+cmtList.profile_image_url+')', 'background-position': 'center', 'background-repeat': 'no-repeat','background-size': 'center'}"></div>
                            </a>
                        </div>
                        <div class="right-comment-content">
                            <div class="profTextPart">
                                <div class="heading" style="width:100%;height:auto; position: relative;">
                                    <!--<a [routerLink]="['/user/profile',cmtList.display_name]" style="float:left;"></a>-->
                                        <h4 class="commentee-name">{{cmtList.name}}
                                            <span>
                                            <a class="icondown"><i class="icon ion-chevron-down" (click)="toggleSubMainComment(cmtList.id)"></i></a>
                                            </span>
                                            <div style="right: 0;" class="post-drop-box" *ngIf="IsShowSubMainCommentAction && IsShowSubMainCommentAction[cmtList.id]">
                                                <div class="closed"><a (click)="toggleSubMainComment(cmtList.id)" ><img src="assets/images/cross.png" alt="" /></a></div>
                                                <!--<a href="javascript:void(0)" *ngIf="IsGroupAdmin || (!IsGroupAdmin && IsloginUserId == cmtList.user_id)" title="Edit" class="userSubDelBth" (click)="openCommentEditModal(cmtList,editcommentModal)">Edit</a>-->
                                                <a href="javascript:void(0)" *ngIf="IsloginUserId == cmtList.user_id" title="Edit" class="userSubDelBth" (click)="openCommentEditModal(cmtList,editcommentModal)">Edit</a>
                                                <a href="javascript:void(0)" *ngIf="IsloginUserId == cmtList.user_id" title="Delete" class="userSubDelBth" (click)="deletePost(confirmmodal,cmtList.id,'C',postData.comments,key)">Delete</a>
                                                <a href="javascript:void(0)" *ngIf="(IsGroupAdmin && IsloginUserId != cmtList.user_id) || (checkGrpAdminId == '' && IsloginUserId != cmtList.user_id  && postData.group_type == 1)" title="Block" (click)="blockUser(blockConfirmModal,cmtList.id,'C')">
                                                    Block
                                                </a>
                                                <a href="javascript:void(0)" *ngIf="(IsGroupAdmin) || (checkGrpAdminId == '' && IsloginUserId == postData.user_id  && postData.group_type == 1)" title="Ignore" (click)="ignorePost(ignoreConfirmModal,cmtList.id,'C',postData.comments,key)">
                                                    Ignore
                                                </a>
                                                <a href="javascript:void(0)" *ngIf="IsloginUserId != cmtList.user_id" title="Report" (click)="reportComment(reportCmtConfirmModal,cmtList.id,'C')">
                                                    Report
                                                </a>
                                            </div>
                                        </h4>
                                        
                                    <!--<a style="float:right;" *ngIf="IsGroupAdmin || (!IsGroupAdmin && IsloginUserId == cmtList.user_id)" title="Delete" class="userSubDelBth" (click)="deletePost(confirmmodal,cmtList.id,'C',postData.comments,key)">
                                        <i style="color:#BB1926" class="fa fa-trash"></i>
                                    </a>
                                    <a style="float:right;" *ngIf="IsGroupAdmin || (!IsGroupAdmin && IsloginUserId == cmtList.user_id)" title="Edit" class="userSubDelBth" (click)="openCommentEditModal(cmtList,editcommentModal)">
                                        <i style="color:#BB1926" class="fa fa-edit"></i>
                                    </a>-->
                                </div>
                                <!--<p class="post-date">{{cmtList.c_date | dateTimeFormat: 'dd MMM yyyy h:m a'}}</p>-->
                                <div class="commenteeComment">
                                    <p>{{cmtList.comment}}</p>
                                    <ul>
                                        <li *ngIf="cmtList.post_like">
                                            <a (click)="userPostLike(cmtList.id,cmtList)" href="Javascript:void(0);">
                                                <i class="fa fa-thumbs-o-down"></i>
                                            </a>
                                            <a *ngIf="cmtList.likecount>0" (click)="userPostLikeListPopup(cmtList.id,postlikemodal)">{{cmtList.likecount}} likes</a>
                                        </li>
                                        <li *ngIf="!cmtList.post_like">
                                            <a (click)="userPostLike(cmtList.id,cmtList)" href="Javascript:void(0);">
                                                <i class="fa fa-thumbs-o-up"></i>
                                            </a>
                                            <a *ngIf="cmtList.likecount>0" (click)="userPostLikeListPopup(cmtList.id, postlikemodal)">{{cmtList.likecount}} likes</a>
                                        </li>
                                        <li><a>-</a></li>
                                        <li>
                                            <a (click)="userSubPostComment(cmtList.id,cmtList)" href="Javascript:void(0);">
                                                <!--<i class="fa fa-commenting-o"></i>-->REPLY
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div *ngIf="cmtList.reply?.length > 0">
                                <div *ngFor="let cmtReply of cmtList.reply; let subkey = index">
                                
                                    <div *ngIf="!cmtReply.hide_div" class="sub-reply-comment-wrapper">
                                    <div class="left-comment-content-arrow"><img src="assets/images/arrow-r.jpg" alt="" /></div>
                                        <div class="left-comment-content">
                                        
                                            <a [routerLink]="['/user/profile',cmtReply.display_name]">
                                                <div class="user-image" [ngStyle]="{'background-image':'url('+cmtReply.profile_image_url+')', 'background-position': 'center', 'background-repeat': 'no-repeat','background-size': 'center'}"></div>
                                            </a>
                                        </div>
                                        <div class="right-comment-content">
                                            <div class="profTextPart">
                                                <div class="heading" style="width:100%;height:auto;overflow: hidden;">
                                                    <h4 style="float:left; width: 100%" class="commentee-name">{{cmtReply.name}} 
                                                    <span>
                                                    <a class="icondown"><i class="icon ion-chevron-down" (click)="toggleSubComment(cmtReply.id)"></i></a>
                                                    </span>
                                                    </h4>
                                                    <!--<a style="float:right" *ngIf="IsGroupAdmin || (!IsGroupAdmin && IsloginUserId == cmtReply.user_id)" title="Delete" class="userSubDelBth" (click)="deletePost(confirmmodal,cmtReply.id,'C',cmtList.reply,subkey)">
                                                        <i class="fa fa-trash" style="color:#BB1926"></i>
                                                    </a>
                                                    <a style="float:right" *ngIf="IsGroupAdmin || (!IsGroupAdmin && IsloginUserId == cmtReply.user_id)" title="Edit" class="userSubDelBth" (click)="openCommentEditModal(cmtReply,editcommentModal)">
                                                        <i class="fa fa-edit" style="color:#BB1926"></i>
                                                    </a>-->
                                                    <div class="post-drop-box" *ngIf="IsShowSubCommentAction && IsShowSubCommentAction[cmtReply.id]">
                                                        <div class="closed"><a (click)="toggleSubComment(cmtReply.id)" ><img src="assets/images/cross.png" alt="" /></a></div>
                										<a href="javascript:void(0)" *ngIf=" IsloginUserId == cmtReply.user_id" title="Edit" class="userSubDelBth" (click)="openCommentEditModal(cmtReply,editcommentModal)">Edit</a>
                                                        <a href="javascript:void(0)" *ngIf=" IsloginUserId == cmtReply.user_id" title="Delete" class="userSubDelBth" (click)="deletePost(confirmmodal,cmtReply.id,'C',cmtList.reply,subkey)">Delete</a>
                                                        <a href="javascript:void(0)" *ngIf="(IsGroupAdmin && IsloginUserId != cmtReply.user_id) || (checkGrpAdminId == '' && IsloginUserId != cmtReply.user_id  && postData.group_type == 1)" title="Block" (click)="blockUser(blockConfirmModal,cmtReply.id,'C')">
                                                            Block
                                                        </a>
                                                        <a href="javascript:void(0)" *ngIf="(IsGroupAdmin) || (checkGrpAdminId == '' && IsloginUserId == postData.user_id  && postData.group_type == 1)" title="Ignore" (click)="ignorePost(ignoreConfirmModal,cmtReply.id,'C',cmtList.reply,subkey)">
                                                            Ignore
                                                        </a>
                                                        <a href="javascript:void(0)" *ngIf="IsloginUserId != cmtReply.user_id" title="Report" (click)="reportComment(reportCmtConfirmModal,cmtReply.id,'C')">
                                                            Report
                                                        </a>
                            						</div>
                                                </div>
                                                <!--<p class="post-date">{{cmtReply.c_date | dateTimeFormat: 'dd MMM yyyy h:m a'}}</p>-->
                                                <div class="commenteeComment">
                                                    <p>{{cmtReply.comment}}</p>
                                                    <ul>
                                                        <li *ngIf="cmtReply.post_like">
                                                            <a (click)="userPostLike(cmtReply.id,cmtReply)" href="Javascript:void(0);">
                                                                <i class="fa fa-thumbs-o-down"></i>
                                                            </a>
                                                            <a *ngIf="cmtReply.likecount>0" (click)="userPostLikeListPopup(cmtReply.id, postlikemodal)">{{cmtReply.likecount}} likes</a>
                                                        </li>
                                                        <li *ngIf="!cmtReply.post_like">
                                                            <a (click)="userPostLike(cmtReply.id,cmtReply)" href="Javascript:void(0);">
                                                                <i class="fa fa-thumbs-o-up"></i>
                                                            </a>
                                                            <a *ngIf="cmtReply.likecount>0" (click)="userPostLikeListPopup(cmtReply.id, postlikemodal)">{{cmtReply.likecount}} likes</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="comment-text-box new-comment-text-box" *ngIf="postSubCmtDiv[cmtList.id]">
                                <form class="" [formGroup]="commentform" (ngSubmit)="submitSubPostComment(cmtList.reply, postData,cmtList.id)" #commentForm="ngForm">
                                    <div class="input-group">
                                        <input placeholder="Write your comment here..." formControlName="comment" class="form-control">
                                        <span class="input-group-btn">
                                            <button type="submit" class="btn btn-default" [disabled]="!commentform.valid">
                                                <i class="fa fa-send"></i>
                                            </button>
                                        </span>
                                    </div>
                                    <div class="text-danger" *ngIf="!commentform.controls['comment'].valid && commentform.controls['comment'].touched">Write a comment.</div>
                                </form>
                            </div>

                            <!--<div class="sub-reply-comment-wrapper">
                <div class="left-comment-content">
                <div class="user-image" style="background: url('images/img-1.jpg') no-repeat center center;"></div>
                </div>
                <div class="right-comment-content">
                <div class="profTextPart">
                    <h4 class="commentee-name">Monalisa Dsouza</h4>
                    <p class="post-date">19 May 2017</p>
                    <div class="commenteeComment">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.</p>
                    </div>
                    </div>
                </div>
            </div>
            <div class="sub-reply-comment-wrapper">
                <div class="left-comment-content">
                <div class="user-image" style="background: url('images/womanImage.png') no-repeat center center;"></div>
                </div>
                <div class="right-comment-content">
                <div class="profTextPart">
                    <h4 class="commentee-name">Monalisa Dsouza</h4>
                    <p class="post-date">19 May 2017</p>
                    <div class="commenteeComment">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.</p>
                    </div>
                    </div>
                </div>
            </div>-->
                        </div>
                    </div>
                    
                </div>
                <div *ngIf="  !showmore">
                        <a class="view-more-down" style="margin: 20px auto 0;display: table;" href="javascript:void(0)" (click)="show_more()">Show More</a>
                         
                     </div>
                <!--<div *ngIf="postCmtHtml!=''" [innerHTML]="postCmtHtml"></div>-->
            </div>
            <div class="comment-text-box" *ngIf="postCmtDiv[postData.id]">
                <form class="" [formGroup]="commentform" (ngSubmit)="submitPostComment(postData.comments, postData)" #commentForm="ngForm">
                    <div class="input-group">
                        <input placeholder="Write your comment here..." formControlName="comment" class="form-control">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-default" [disabled]="!commentform.valid">
                                <i class="fa fa-send"></i>
                            </button>
                        </span>
                    </div>
                    <div class="text-danger" *ngIf="!commentform.controls['comment'].valid && commentform.controls['comment'].touched">Write a comment.</div>
                </form>
            </div>
        </div>
    </div>
</div>

<ng-template #confirmmodal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Confirm!</h4>
        <!--<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>-->
    </div>
    <div class="modal-body">
        <h4>Would you like to delete this data?</h4>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn modal-btn-primary" (click)="c('Close click')">Cancel</button>
        <button type="button" class="btn modal-btn-black btn-default" (click)="confirmPostDelete(); c('Close click')">Confirm</button>
    </div>
</ng-template>
<ng-template #blockConfirmModal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Confirm!</h4>
    </div>
    <div class="modal-body">
        <h4>Would you like to block this post?</h4>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn modal-btn-primary" (click)="c('Close click')">Cancel</button>
        <button type="button" class="btn modal-btn-black btn-default" (click)="confirmBlock(); c('Close click')">Confirm</button>
    </div>
</ng-template>

<ng-template #ignoreConfirmModal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Confirm!</h4>
    </div>
    <div class="modal-body">
        <h4>Would you like to ignore this post?</h4>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn modal-btn-primary" (click)="c('Close click')">Cancel</button>
        <button type="button" class="btn modal-btn-black btn-default" (click)="confirmIgnore(); c('Close click')">Confirm</button>
    </div>
</ng-template>

<ng-template #reportConfirmModal let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h4 class="modal-title">Confirm!</h4>
        </div>
        <div class="modal-body">
            <h4>Would you like to report this post?</h4>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn modal-btn-primary" (click)="c('Close click')">Cancel</button>
            <button type="button" class="btn modal-btn-black btn-default" (click)="confirmReport(); c('Close click')">Confirm</button>
        </div>
    </ng-template>
    
    <ng-template #reportCmtConfirmModal let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h4 class="modal-title">Confirm!</h4>
        </div>
        <div class="modal-body">
            <h4>Would you like to report this comment?</h4>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn modal-btn-primary" (click)="c('Close click')">Cancel</button>
            <button type="button" class="btn modal-btn-black btn-default" (click)="confirmCmtReport(); c('Close click')">Confirm</button>
        </div>
    </ng-template>

<ng-template #postlikemodal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Like User List</h4>
    </div>
    <div class="modal-body">
        <div class="frind-modal">
            <div *ngIf="userList.length > 0">
                <div class="media" *ngFor="let postData of userList">
                    <div class="media-left">
                        <a (click)="gotoProfPage(postData.display_name); c('Close click')" style="cursor: pointer;">
                            <img [src]="postData.profile_image" alt="">
                        </a>
                    </div>
                    <div class="media-body media-middle">
                        <h4 class="media-heading">{{postData.name}}</h4>
                    </div>
                    <div class="media-right media-middle">
                        <a (click)="gotoProfPage(postData.display_name); c('Close click')" class="btn btn-primary">View Profile</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="media" *ngIf="userList.length == 0">
            <div class="media-body media-middle">
                <h4 class="media-heading">No user found.</h4>
            </div>
        </div>
    </div>
    <div class="modal-footer" style="border-top: none;">
        <button type="button" class="btn modal-btn-primary" (click)="c('Close click')">Close</button>
    </div>
</ng-template>




<ng-template #editModal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Edit Post</h4>
    </div>
    <div class="modal-body">
        <div class="frind-modal">
            <div *ngIf="postData.file_image_url && postData.file_name != '' && !showPostImgDive">
                <img [src]="postData.file_image_url" class="img-responsive" style="height:220px;">
            </div>
            <div *ngIf="showPostImgDive">
                <span class="result" *ngIf="postImgData">
                    <img [src]="postImgData" [height]="200">
                    <a (click)="deleteImg()" style="position: absolute;right:413px;width: 22px;height: 22px;background: #bb1926;line-height: 23px;color: #fff;text-align: center;
                            top: 68px; border-radius: 100%;cursor: pointer;">
                        <i class="icon ion-android-close"></i>
                    </a>
                </span>
            </div>
            <div *ngIf="postData.description">

                <div class="textarea">
                    <div class="form-group">


                        <textarea class="form-control" rows="5" placeholder="Share your thoughts..." id="postEdit" [(ngModel)]="editPostText" name="editPostText"></textarea>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <div class="modal-footer" style="border-top: none;">
        <div class="row">
            <div class="col-md-6" *ngIf="postData.file_image_url && postData.file_name != ''">
                <ul class="uploadVideo">
                    <li>
                        <div class="upload-btn-wrapper uploadButtonPart">
                            <button class="btn">Edit Image</button>
                            <input name="myfile" type="file" (change)="fileChangePost($event)">
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">

                <button class="btn modal-btn-primary" type="button" (click)="editPost(postData)">Edit Post</button>
            </div>
            <div class="col-md-3">
                <button type="button" class="btn modal-btn-primary" (click)="c('Close click')" #closeEditModal>Cancel</button>
            </div>
        </div>

    </div>
</ng-template>

<ng-template #editcommentModal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Edit Comment</h4>
    </div>
    <div class="modal-body">
        <div class="frind-modal">
            
            
            <div *ngIf="editCommentText">

                <div class="textarea">
                    <div class="form-group">


                        <textarea class="form-control" rows="5" placeholder="Share your thoughts..." id="commentEdit" [(ngModel)]="editCommentText" name="editCommentText"></textarea>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <div class="modal-footer" style="border-top: none;">
        <div class="row">
            
            <div class="col-md-3">

                <button class="btn modal-btn-primary" type="button" (click)="editComment(postData,editCommentText,editCommentTextId)">Edit Comment</button>
            </div>
            <div class="col-md-3">
                <button type="button" class="btn modal-btn-primary" (click)="c('Close click')" #closeEditModal>Cancel</button>
            </div>
        </div>

    </div>
</ng-template>