.profImageP .img {
    height: 50px;
    width: 50px;
    background-size: cover;
    border-radius: 50%;
}
.profTextPart{
	border-radius: 10px;
	background: #fff;
	padding: 10px;
	/*display: inline-block !important;
	width: auto !important;*/
}

.likePop .btn.btn-primary {
    padding: 8px 15px;
    font-size: 14px;
}

.commenteeComment{margin-bottom: 0}
.commenteeComment ul{margin-top: 10px; border-top:1px solid #f1f1f1; padding-top:5px}
.sub-reply-comment-wrapper{margin-top:10px;}
.new-comment-text-box{padding-left:40px;}
.backdrop{ 
    background-color:rgba(0,0,0,0.6);
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100vh;
}
.commenteeComment ul li a {
    cursor: pointer;
}
.userDelBth{
   position: absolute;
    right: 35px;
    width: 22px;
    height: 22px;
    background: #bb1926;
    line-height: 23px;
    color: #fff;
    text-align: center;
    top: 0;
    border-radius: 100%;
    cursor: pointer;
}
.del-btns{
	 position: absolute;
    right: -9px;
    width: 22px;
    height: 22px;
    background: #bb1926;
    line-height: 23px;
    color: #fff;
    text-align: center;
    top: -11px;
    border-radius: 100%;
    cursor: pointer;
}
.post-drop-box{
	width: 228px;
	height: 186px;
	background: #fff;
	border: solid 1px #f9f9f9;
	border-radius: 3px;
	box-shadow: 10px 10px 8px #dedede;
	
}
.post-drop-box ul{
	padding: 10px;
	margin: 0;
	width: 100%;
}
.post-drop-box ul li{
	list-style-type: none !important;
	float: none;
	padding: 10px 0 !important;
	border-bottom: solid 1px #f9f9f9;
	width: 100% !important;
}
