<header class="navbar-fixed-top" *ngIf="userloggedIn != 1">
    <div class="header-top">
        <div class="container-fluid">
            <ul class="pull-left">
                <li><i class="ion-ios-telephone"></i> +{{siteSettingsDet.phone}}</li>
                <li><i class="ion-email"></i> {{siteSettingsDet.admin_email}}</li>
            </ul>
            <ul class="pull-right">
                <li><a target="_blank" href="{{siteSettingsDet.facebook_url}}"><i class="ion-social-facebook"></i></a></li>
                <li><a target="_blank" href="{{siteSettingsDet.twitter_url}}"><i class="ion-social-twitter"></i></a></li>
                <li><a target="_blank" href="{{siteSettingsDet.linkedIn_url}}"><i class="ion-social-linkedin"></i></a></li>
            </ul>
        </div>
    </div>

    <nav class="navbar" [ngClass]="{'navbar-white':HeaderNavCls === 'navbar-white'}">
    <!--<nav *ngIf="getCurrentPageName != '/home'" class="navbar navbar-white">-->
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" (click)="toggleCollapse()" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" routerLinkActive="active" [routerLink]="['/']"><img [src]="siteSettingsDet.site_logo_url" alt="" /></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" [ngClass]="{'in':show}">
                <ul class="nav navbar-nav navbar-right">
                    <li *ngIf="pageConData.is_active == 1"><a [routerLink]="['/page',pageConData.slug]"> {{ pageConData.page_heading }}</a></li>
                    <li><a routerLinkActive="active" [routerLink]="['/articles']">Articles</a></li>
                    <li><a routerLinkActive="active" [routerLink]="['/enrichment']">Enrichment</a></li>
                    <li><a routerLinkActive="active" [routerLink]="['/mentorship']">Mentorship</a></li>
                    <li><a routerLinkActive="active" [routerLink]="['/page/contribute']">Contribute</a></li>
                    <li *ngIf="userloggedIn != 1"><a routerLinkActive="active" [routerLink]="['/user/login']" style="padding-top: 0px;"><button>Login</button></a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    
</header>
<div class="mb-150" *ngIf="userloggedIn != 1"></div>

<header class="navbar-fixed-top header-inner" *ngIf="userloggedIn == 1">
    <div class="header-top headerTopPart">
        <nav>
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" (click)="toggleCollapse()" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				          <span class="icon-bar"></span>
				          <span class="icon-bar"></span>
				          <span class="icon-bar"></span>
                    </button>
                    <div class="mobile-notification">
                    					<div ngbDropdown><a *ngIf="chatHeads && chatHeads.length == 0" class="dropdown-toggle" [routerLink]="['/user/chat/list']">
                                   <i class="icon ion-ios-filing-outline" style="font-size: 25px;"></i>
                                    <span *ngIf="chatHeads && chatHeads.length > 0" class="badge" style="background-color: red">{{chatHeads.length}}</span>
                                </a>
                                <a *ngIf="chatHeads && chatHeads.length > 0" ngbDropdownToggle class="dropdown-toggle" id="dropdownMenuButton" [routerLink]="['/user/chat/list']">
                                    <i class="icon ion-ios-filing-outline" style="font-size: 25px;"></i>
                                    <span *ngIf="chatHeads && chatHeads.length > 0" class="badge" style="background-color: red">{{chatHeads.length}}</span>
                                </a></div>
                    		<a [routerLink]="['/user/notification']"><i class="icon ion-android-globe"></i> <span *ngIf="userNotiCnt > 0" class="badge" style="background-color:red">{{userNotiCnt}}</span></a>
                    </div>
				        <form class="pull-left" [formGroup]="form" (ngSubmit)="searchDataResult(form.value)" #searchForm="ngForm">
                    <ul class="nav navbar-nav navbar-left">
                        <li>
                            <a [routerLink]="['/social_home']"><img src="assets/images/logo-small.png"></a>
                        </li>
                        <li class="form-search search-icon">
                            <div class="form-group">
                                <input type="text" class="form-control" formControlName="skeyword" (ngModelChange)="searchResult($event)" placeholder="Search" >
                                <button type="submit"><i class="icon ion-ios-search"></i></button>
                            </div>
                        </li>
                    </ul>
               	  </form>
                </div>    


                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse">
                    <div class="pull-right">
                    <ul class="nav navbar-nav rightNav rightNavPart">
                        <li><a routerLinkActive="active" [routerLink]="['/articles']">Articles</a></li>
                        <li><a routerLinkActive="active" [routerLink]="['/mentorship']">Mentorship</a></li>
                        <li><a routerLinkActive="active" [routerLink]="['/enrichment']">Enrichment</a></li>
                        <li><a routerLinkActive="active" [routerLink]="['/page/contribute']">Contribute</a></li>
                        
                    </ul>
                    <ul class="nav navbar-nav navIcon">
                        <li ngbDropdown class="dropdown">
                            <a *ngIf="chatHeads && chatHeads.length == 0" class="dropdown-toggle" [routerLink]="['/user/chat/list']">
                                <i class="icon ion-ios-filing-outline" style="font-size: 32px;"></i>
                                <span *ngIf="chatHeads && chatHeads.length > 0" class="badge" style="background-color: red">{{chatHeads.length}}</span>
                            </a>
                            <a *ngIf="chatHeads && chatHeads.length > 0" ngbDropdownToggle class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="icon ion-ios-filing-outline" style="font-size: 32px;"></i>
                                <span *ngIf="chatHeads && chatHeads.length > 0" class="badge" style="background-color: red">{{chatHeads.length}}</span>
                            </a>
                            <div ngbDropdownMenu class="dropdown-menu msg-item-worp" aria-labelledby="dropdownMenuButton">
                                <div class="innr" *ngIf="chatHeads && chatHeads.length > 0">
                                    <a (click)="openChat(chat)" *ngFor="let chat of chatHeads" class="msg-item unread notify-box-top" href="javascript:void(0)">
                                        <img class="img" *ngIf="chat.userDetails" src="{{chat.userDetails.image_url}}" />
                                        <div *ngIf="chat.userDetails" class="txt">
                                            <div class="upr">
                                                <div class="name">{{chat.userDetails.first_name}} {{chat.userDetails.last_name}}</div>
                                                <div class="time">{{chat.created | date}}</div>
                                            </div>
                                            <div class="msg">{{chat.message.text}}</div>
                                        </div>
                                    </a>

                                    <!-- <a href="" class="viewall">View all</a> -->
                                </div>
                            </div>
                        </li>
                        <li><a [routerLink]="['/user/notification']"><i class="icon ion-android-globe"></i> <span *ngIf="userNotiCnt > 0" class="badge" style="background-color:red">{{userNotiCnt}}</span></a></li>
                    </ul>
                    <ul class="nav navbar-nav user-account">
                        <li class="show-on-hover">
                            <a *ngIf="currentUserDet.user_type=='C' || currentUserDet.user_type=='CE'" [routerLink]="['/user/edit_profile/activity']" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="userIcon"><img [src]="currentUserDet.image_url"></span>
                                <span class="colorWhite">{{currentUserDet.first_name}} <i class="icon ion-chevron-down"></i></span>
                            </a>
                            <a *ngIf="currentUserDet.user_type=='CA' || currentUserDet.user_type=='CSA'" [routerLink]="['/company/profile']" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="userIcon"><img [src]="currentUserDet.image_url"></span>
                                <span class="colorWhite">{{currentUserDet.first_name}} <i class="icon ion-chevron-down"></i></span>
                            </a>
                            <ul class="dropdown-menu" role="menu" *ngIf="currentUserDet.user_type=='C' || currentUserDet.user_type=='CE'">
                                <li class="images">
                                    <img src="assets/images/down-arrow.png" alt="">
                                </li>
                                <li><a [routerLink]="['/user/edit_profile/activity']">My Profile</a></li>
                                <li><a [routerLink]="['/user/find_friends']">Find friends</a></li>
                                <li class="divider"></li>
                                <li><a [routerLink]="['/company']">Create company</a></li>
                                <!--<li><a [routerLink]="['/user/login']">Company Login</a></li>-->
                                <li class="divider"></li>
                                <li><a [routerLink]="['/user/mentor']">Join mentor</a></li>
                                <li *ngIf="userloggedIn == 1"><a href="Javascript: void(0)" (click)="userLogout()">Logout</a></li>
                            </ul>
                            <ul class="dropdown-menu" role="menu" *ngIf="currentUserDet.user_type=='CA' || currentUserDet.user_type=='CSA'">
                                <li class="images">
                                    <img src="assets/images/down-arrow.png" alt="">
                                </li>
                                <li><a [routerLink]="['/company/profile']">Company Profile</a></li>
                                <li><a [routerLink]="['/company/profile',currentUserDet.company_slug]">View Company Profile</a></li>
                                <li *ngIf="userloggedIn == 1"><a href="Javascript: void(0)" (click)="userLogout()">Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                    </div>
                </div>
                <!-- /.navbar-collapse -->
                <div *ngIf="show" class="collapse navbar-collapse" style="display: block;">
                    <ul class="nav navbar-nav navbar-right display-on">
                        <li><a routerLinkActive="active" [routerLink]="['/articles']">Articles</a></li>
                        <li><a routerLinkActive="active" [routerLink]="['/mentorship']">Mentorship</a></li>
                        <li><a routerLinkActive="active" [routerLink]="['/enrichment']">Enrichment</a></li>
                        <li><a routerLinkActive="active" [routerLink]="['/page/contribute']">Contribute</a></li>
                        <li ngbDropdown class="dropdown">
                                <!--<a *ngIf="chatHeads && chatHeads.length == 0" class="dropdown-toggle" [routerLink]="['/user/chat/list']">
                                   Message <i class="icon ion-chatboxes"></i>
                                    <span *ngIf="chatHeads && chatHeads.length > 0" class="badge" style="background-color: red">{{chatHeads.length}}</span>
                                </a>
                                <a *ngIf="chatHeads && chatHeads.length > 0" ngbDropdownToggle class="dropdown-toggle" id="dropdownMenuButton" [routerLink]="['/user/chat/list']">
                                    <i class="icon ion-chatboxes"></i>
                                    <span *ngIf="chatHeads && chatHeads.length > 0" class="badge" style="background-color: red">{{chatHeads.length}}</span>
                                </a>-->
                                <!--<div ngbDropdownMenu class="dropdown-menu msg-item-worp" aria-labelledby="dropdownMenuButton">
                                    <div class="innr" *ngIf="chatHeads && chatHeads.length > 0">
                                        <a (click)="openChat(chat)" *ngFor="let chat of chatHeads" class="msg-item unread notify-box-top" href="javascript:void(0)">
                                            <img class="img" *ngIf="chat.userDetails" src="{{chat.userDetails.image_url}}" />
                                            <div *ngIf="chat.userDetails" class="txt">
                                                <div class="upr">
                                                    <div class="name">{{chat.userDetails.first_name}} {{chat.userDetails.last_name}}</div>
                                                    <div class="time">{{chat.created | date}}</div>
                                                </div>
                                                <div class="msg">{{chat.message.text}}</div>
                                            </div>
                                        </a>
                                        
                                    </div>
                                </div>-->
                            </li>
                           <!-- <li><a [routerLink]="['/user/notification']"> Notification <i class="icon ion-android-globe"></i> <span *ngIf="userNotiCnt > 0" class="badge" style="background-color:red">{{userNotiCnt}}</span></a></li>-->
                            <li *ngIf="currentUserDet.user_type=='C' || currentUserDet.user_type=='CE'"><a [routerLink]="['/user/edit_profile/activity']">My Profile</a></li>
                            <li *ngIf="currentUserDet.user_type=='C' || currentUserDet.user_type=='CE'"><a [routerLink]="['/company']">Create company</a></li>
                            <li *ngIf="currentUserDet.user_type=='CA' || currentUserDet.user_type=='CSA'"><a [routerLink]="['/company/profile']">Company Profile</a></li>
                            <li *ngIf="currentUserDet.user_type=='CA' || currentUserDet.user_type=='CSA'"><a [routerLink]="['/company/profile',currentUserDet.company_slug]">View Company Profile</a></li>
                            <li *ngIf="userloggedIn == 1"><a href="Javascript: void(0)" (click)="userLogout()">Logout</a></li>
                    </ul>
                </div>
            </div>
            <!-- /.container-fluid -->
        </nav>
    </div>
    <!--<nav class="navbar navbar-white desk-only">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
                <a class="navbar-brand" [routerLink]="['/']"><img [src]="siteSettingsDet.site_logo_url" alt="" /></a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right rightNavBar">
                    <li *ngIf="pageConData.is_active == 1"><a [routerLink]="['/page',pageConData.slug]"> {{ pageConData.page_heading }} </a></li>
                    <li><a routerLinkActive="active" [routerLink]="['/articles']">Articles</a></li>
                    <li><a routerLinkActive="active" [routerLink]="['/enrichment']">Enrichment</a></li>
                    <li><a routerLinkActive="active" [routerLink]="['/mentorship']">Mentorship</a></li>
                    <li *ngIf="userloggedIn == 1"><a routerLinkActive="active" href="Javascript: void(0)" (click)="userLogout()" style="padding-top: 0px;"><button>Logout</button></a></li>
                </ul>
            </div>
            
        </div>
        
    </nav>-->
       
    <!--<nav class="navbar navbar-white mobile-only">
        <div class="container-fluid">
            <ul class="nav navbar-nav navbar-right rightNavBar">
             <li *ngIf="pageConData.is_active == 1"><a [routerLink]="['/page',pageConData.slug]"> {{ pageConData.page_heading }} </a></li>
             <li><a routerLinkActive="active" [routerLink]="['/articles']">Articles</a></li>
             <li><a routerLinkActive="active" [routerLink]="['/enrichment']">Enrichment</a></li>
             <li><a routerLinkActive="active" [routerLink]="['/mentorship']">Mentorship</a></li>
             <li><a routerLinkActive="active" [routerLink]="['/page/contribute']">Contribute</a></li>
             <li *ngIf="userloggedIn == 1"><a routerLinkActive="active" href="Javascript: void(0)" (click)="userLogout()" style="padding-top: 0px;"><button>Logout</button></a></li>
         </ul>
        </div>
    </nav>-->
    
</header>
<div class="mb-64" *ngIf="userloggedIn == 1"></div>