<header class="navbar-fixed-top" *ngIf="userloggedIn != 1">
    <div class="header-top">
        <div class="container-fluid">
            <ul class="pull-left">
                <li><i class="ion-ios-telephone"></i> +44 20 3290 3312</li>
                <li><i class="ion-email"></i> info@femnesty.com</li>
            </ul>
            <ul class="pull-right">
                <li><a href=""><i class="ion-social-facebook"></i></a></li>
                <li><a href=""><i class="ion-social-twitter"></i></a></li>
                <li><a href=""><i class="ion-social-linkedin"></i></a></li>
            </ul>
        </div>
    </div>
    <!--<nav class="navbar" [ngClass]="{'navbar-white':HeaderNavCls === 'navbar-white'}">-->
    <nav class="navbar navbar-white">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
                <a class="navbar-brand" routerLinkActive="active" [routerLink]="['/']"><img src="assets/images/logo.png" alt="" /></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li *ngIf="pageConData.is_active == 1"><a [routerLink]="['/page',pageConData.slug]"> {{ pageConData.page_heading }}</a></li>
                    <li><a routerLinkActive="active" [routerLink]="['/articles']">Articles</a></li>
                    <li><a routerLinkActive="active" [routerLink]="['/enrichment']">Enrichment</a></li>
                    <li><a routerLinkActive="active" [routerLink]="['/mentorship']">Mentorship</a></li>
                    <li><a href="#">Contribute</a></li>
                    <li *ngIf="userloggedIn != 1"><a routerLinkActive="active" [routerLink]="['/user/login']" style="padding-top: 0px;"><button>Login</button></a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
</header>


<header class="navbar-fixed-top header-inner" *ngIf="userloggedIn == 1">
    <div class="header-top headerTopPart">
        <nav>
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-left">
                        <li>
                            <a href="#"><img src="assets/images/hamburgIcon.png"></a>
                        </li>
                        <li class="form-search search-icon">
                            <div class="form-group">
                                <input type="text" class="form-control" id="usr" placeholder="Search">
                                <i class="icon ion-ios-search"></i>
                            </div>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav rightNav rightNavPart">
                        <li><a [routerLink]="['/social_home']">Home</a></li>
                        <li><a href="#">Activity</a></li>
                        <li><a href="#">Groups</a></li>
                        <li><a href="#">Hubs</a></li>
                        <li><a href="#">Members</a></li>

                    </ul>
                    <ul class="nav navbar-nav navIcon">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <i class="icon ion-chatboxes"></i>
                            </a>
                            <div class="dropdown-menu msg-item-worp" aria-labelledby="dropdownMenuButton">
                              <div class="innr">
                                <a class="msg-item unread" href="#">
                                  <div class="img" style="background-image: url('images/img-1.jpg')"></div>
                                  <div class="txt">
                                    <div class="upr">
                                      <div class="name">Saikat Bala</div>
                                      <div class="time">MON</div>
                                    </div>
                                    <div class="msg">this is a massage</div>
                                  </div>
                                </a>
                                <a class="msg-item" href="#">
                                  <div class="img" style="background-image: url('images/img-1.jpg')"></div>
                                  <div class="txt">
                                    <div class="upr">
                                      <div class="name">Saikat Bala</div>
                                      <div class="time">MON</div>
                                    </div>
                                    <div class="msg">this is a massage</div>
                                  </div>
                                </a>
                                <a class="msg-item" href="#">
                                  <div class="img" style="background-image: url('images/img-1.jpg')"></div>
                                  <div class="txt">
                                    <div class="upr">
                                      <div class="name">Saikat Bala</div>
                                      <div class="time">MON</div>
                                    </div>
                                    <div class="msg">this is a massage</div>
                                  </div>
                                </a>
                                <a class="msg-item" href="#">
                                  <div class="img" style="background-image: url('images/img-1.jpg')"></div>
                                  <div class="txt">
                                    <div class="upr">
                                      <div class="name">Saikat Bala</div>
                                      <div class="time">MON</div>
                                    </div>
                                    <div class="msg">this is a massage</div>
                                  </div>
                                </a>
                                <a class="msg-item unread" href="#">
                                  <div class="img" style="background-image: url('images/img-1.jpg')"></div>
                                  <div class="txt">
                                    <div class="upr">
                                      <div class="name">Saikat Bala</div>
                                      <div class="time">MON</div>
                                    </div>
                                    <div class="msg">this is a massage</div>
                                  </div>
                                </a>
                                <a class="msg-item unread" href="#">
                                  <div class="img" style="background-image: url('images/img-1.jpg')"></div>
                                  <div class="txt">
                                    <div class="upr">
                                      <div class="name">Saikat Bala</div>
                                      <div class="time">MON</div>
                                    </div>
                                    <div class="msg">this is a massage</div>
                                  </div>
                                </a>
                                <a class="msg-item" href="#">
                                  <div class="img" style="background-image: url('images/img-1.jpg')"></div>
                                  <div class="txt">
                                    <div class="upr">
                                      <div class="name">Saikat Bala</div>
                                      <div class="time">MON</div>
                                    </div>
                                    <div class="msg">this is a massage</div>
                                  </div>
                                </a>
                                <a class="msg-item" href="#">
                                  <div class="img" style="background-image: url('images/img-1.jpg')"></div>
                                  <div class="txt">
                                    <div class="upr">
                                      <div class="name">Saikat Bala</div>
                                      <div class="time">MON</div>
                                    </div>
                                    <div class="msg">this is a massage</div>
                                  </div>
                                </a>
                                <a class="msg-item" href="#">
                                  <div class="img" style="background-image: url('images/img-1.jpg')"></div>
                                  <div class="txt">
                                    <div class="upr">
                                      <div class="name">Saikat Bala</div>
                                      <div class="time">MON</div>
                                    </div>
                                    <div class="msg">this is a massage</div>
                                  </div>
                                </a>
                                <a class="msg-item unread" href="#">
                                  <div class="img" style="background-image: url('images/img-1.jpg')"></div>
                                  <div class="txt">
                                    <div class="upr">
                                      <div class="name">Saikat Bala</div>
                                      <div class="time">MON</div>
                                    </div>
                                    <div class="msg">this is a massage</div>
                                  </div>
                                </a>
                                <a class="msg-item unread" href="#">
                                  <div class="img" style="background-image: url('images/img-1.jpg')"></div>
                                  <div class="txt">
                                    <div class="upr">
                                      <div class="name">Saikat Bala</div>
                                      <div class="time">MON</div>
                                    </div>
                                    <div class="msg">this is a massage</div>
                                  </div>
                                </a>
                                <a class="msg-item" href="#">
                                  <div class="img" style="background-image: url('images/img-1.jpg')"></div>
                                  <div class="txt">
                                    <div class="upr">
                                      <div class="name">Saikat Bala</div>
                                      <div class="time">MON</div>
                                    </div>
                                    <div class="msg">this is a massage</div>
                                  </div>
                                </a>
                                <a class="msg-item" href="#">
                                  <div class="img" style="background-image: url('images/img-1.jpg')"></div>
                                  <div class="txt">
                                    <div class="upr">
                                      <div class="name">Saikat Bala</div>
                                      <div class="time">MON</div>
                                    </div>
                                    <div class="msg">this is a massage</div>
                                  </div>
                                </a>
                                <a class="msg-item" href="#">
                                  <div class="img" style="background-image: url('images/img-1.jpg')"></div>
                                  <div class="txt">
                                    <div class="upr">
                                      <div class="name">Saikat Bala</div>
                                      <div class="time">MON</div>
                                    </div>
                                    <div class="msg">this is a massage</div>
                                  </div>
                                </a>
                                <a class="msg-item unread" href="#">
                                  <div class="img" style="background-image: url('images/img-1.jpg')"></div>
                                  <div class="txt">
                                    <div class="upr">
                                      <div class="name">Saikat Bala</div>
                                      <div class="time">MON</div>
                                    </div>
                                    <div class="msg">this is a massage</div>
                                  </div>
                                </a>
                                <a href="" class="viewall">View all</a>
                              </div>
                            </div>
                          </li>
                        <li><a [routerLink]="['/user/notification']"><i class="icon ion-android-globe"></i> <span *ngIf="userNotiCnt > 0" class="badge" style="background-color:red">{{userNotiCnt}}</span></a></li>
                    </ul>
                    <ul class="nav navbar-nav">
                        <li class="show-on-hover">
                            <a [routerLink]="['/user/profile']" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="userIcon"><img [src]="currentUserDet.image_url"></span>
                                <span class="colorWhite">{{currentUserDet.first_name}} <i class="icon ion-chevron-down"></i></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li class="images">
                                    <img src="assets/images/down-arrow.png" alt="">
                                </li>
                                <li><a [routerLink]="['/user/profile']">My Profile</a></li>
                                <li><a [routerLink]="['/user/find_friends']">Find friends</a></li>
                                <li class="divider"></li>
                                <li><a [routerLink]="['/company']">Create company</a></li>
                                <li><a [routerLink]="['/user/login']">Company Login</a></li>
                                <li class="divider"></li>
                                <li><a [routerLink]="['/user/mentor']">Join mentor</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
    </div>
    <nav class="navbar navbar-white">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
                <a class="navbar-brand" [routerLink]="['/']"><img src="assets/images/logo.png" alt="" /></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right rightNavBar">
                    <li *ngIf="pageConData.is_active == 1"><a [routerLink]="['/page',pageConData.slug]"> {{ pageConData.page_heading }} </a></li>
                    <li><a routerLinkActive="active" [routerLink]="['/articles']">Articles</a></li>
                    <li><a routerLinkActive="active" [routerLink]="['/enrichment']">Enrichment</a></li>
                    <li><a routerLinkActive="active" [routerLink]="['/mentorship']">Mentorship</a></li>
                    <!--<li><a href="#">Contribute</a></li>-->
                    <li *ngIf="userloggedIn == 1"><a routerLinkActive="active" href="Javascript: void(0)" (click)="userLogout()" style="padding-top: 0px;"><button>Logout</button></a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
</header>