<section class="inner-banner vid-details-section" [ngStyle]="{'background-image':'url('+videoDetData.banner_image_url+')', 'background-position': 'center', 'background-repeat': 'no-repeat','background-size': 'cover','margin-top':'0px'}">
  <div class="container">
      
      <div class="video-info">
          <h1 class="text-white">{{videoDetData.title}}</h1>
          <h3 class="gry-txt">Advice for Entrepreneurs</h3>
      </div>
      
  </div>
</section>

<section class="video-section p-16 ">
  <div class="container">
      <div>
            <iframe width="100%" height="600" [src]="safeyoutube_link | safe" frameborder="0" allowfullscreen></iframe>
      </div>
      <ul class="social-link mt-30 text-center">
            <!-- <li ceiboShare  [facebook]="{u: repoUrl}">
                <img src="assets/images/facebook.png" style="height: 43px;" />
            </li> -->
            <li>
                <app-beta-restriction [height]="'43'" [image]="'assets/images/facebook.png'">
                </app-beta-restriction>
                <span>5</span>
            </li>
            <li ceiboShare  [linkedIn]="{url:repoUrl, text:videoDetData.title}">
                <img src="assets/images/linkedin.png" style="height: 43px;" />
                <span>5</span>
            </li>
            <li ceiboShare  [twitter]="{url:repoUrl, text:videoDetData.title}">
                <img src="assets/images/twitter.png" style="height: 43px;" />
                <span>5</span>
            </li>
      </ul>     
  </div>
</section>