<section class="inner-banner bcome-mntr" style="background: url(assets/images/member-ship-bg.jpg) center no-repeat; background-size: cover;">
  <div class="container">
      <div class="row">
          <div class="col-md-7">
              <h1 class="text-white">Mentorship</h1>
          </div>
      </div>
  </div>
</section>

<section class="section p-16 inner-pages-holder">
  <div class="container">
      <h1>Mentorship</h1>
      <p class="mb-30">A good mentor can literally change your life. Mentors guide you personally and professionally; their mission is to support you, encourage you, 
challenge you if necessary and help you be the very best you can be. </p>
      <p class="mb-30">Everyone benefits from some support in their life. Often we get this from friends, family and loved ones, but sometimes it can help if that 
support comes from a third party who isn’t involved personally, but who can give you honest, impartial and structured advice as to which 
paths to take.</p>
      <p class="mb-30">A mentor is just such a person. Most mentors are highly experienced, motivated individuals who want to share their success by helping 
others achieve their goals. They are professionals who see and understand the challenges we face today, often because they’ve overcome the 
same issues themselves.</p>
      <p class="mb-30">Mentors work in different ways. Some will see you regularly in person, others might talk to you via skype, phone or email. It doesn’t matter. 
However they give it, their influence could spearhead a whole new phase in your life and career.</p>
      <p class="mb-30">Everyone gains from structured, ongoing mentorship, and many mentors and mentees become firm friends.</p>
      <a [routerLink]="['/user/mentor']" class="btn btn-primary">Become a mentor today</a>
  </div>
</section>

<section class="advisory gray p-16 mentor-partner">
  <div class="container">
      <h2 class="text-red">Our Mentors and mentoring partners.</h2>
      <div class="row" *ngFor="let mentorData of mentorshipList">
          <div class="col-md-3">
            <a class="mentor-img" [routerLink]="['/mentorship/details',mentorData.id]">
              <img [src]="mentorData.image" class="img-responsive">
            </a>
          </div>
          <div class="col-md-9">
              <h3><span class="text-red">{{mentorData.name}}</span> {{mentorData.qualification}}</h3>
              <p>{{mentorData.short_desc}}</p>
              <a [routerLink]="['/mentorship/details',mentorData.id]" class="btn btn-primary mt-30">Read More</a>
          </div>
      </div>
  </div>
</section>