<section class="section about-content-area visitingProfile">
    <div class="container">
        <div class="row">
            <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
          <div class="col-md-3">
            <user-sidebar></user-sidebar>
          </div>
          <div class="col-md-6">
            <div class="middlePart">
              <div class="tabPart">
                <div class="tab-content">
                  
                    <div class="col-md-12">
                        <div class="tab-content">
                            <h2>Find Friends</h2>

                            <div class="tab-pane fade in active">
                                <div class="connectionsPart">
                                  <h2>Connections</h2>
                                  <div class="connections">
                                    <ul class="uilist">
                                      <li class="connectionList">
                                        <div class="connectionImage">
                                          <a href="#">
                                            <div class="img" style="background-image: url('assets/images/manImage.jpg')"></div>
                                          </a>
                                        </div>
                                        <div class="connectionText">
                                          <h2>Lorem Ipsum</h2>
                                          <p>3 mutual friend</p>
                                          <button type="button" class="btn btn-primary">Add Friend</button>											</div>
                                      </li>
                                      <li class="connectionList">
                                        <div class="connectionImage">
                                          <a href="#">
                                            <div class="img" style="background-image: url('assets/images/manImage.jpg')"></div>
                                          </a>
                                        </div>
                                        <div class="connectionText">
                                          <h2>Lorem Ipsum</h2>
                                          <p>3 mutual friend</p>
                                          <button type="button" class="btn btn-primary">Add Friend</button>											</div>
                                      </li>
                                      <li class="connectionList">
                                        <div class="connectionImage"><a href="#"><div class="img" style="background-image: url('assets/images/manImage.jpg')"></div></a></div>
                                        <div class="connectionText">
                                          <h2>Lorem Ipsum</h2>
                                          <p>3 mutual friend</p>
                                          <button type="button" class="btn btn-primary">Add Friend</button>											</div>
                                      </li>
                                      <li class="connectionList">
                                        <div class="connectionImage"><a href="#"><div class="img" style="background-image: url('assets/images/manImage.jpg')"></div></a></div>
                                        <div class="connectionText">
                                          <h2>Lorem Ipsum</h2>
                                          <p>3 mutual friend</p>
                                          <button type="button" class="btn btn-primary">Add Friend</button>											</div>
                                      </li>
                                      <li class="connectionList">
                                        <div class="connectionImage"><a href="#"><div class="img" style="background-image: url('assets/images/manImage.jpg')"></div></a></div>
                                        <div class="connectionText">
                                          <h2>Lorem Ipsum</h2>
                                          <p>3 mutual friend</p>
                                          <button type="button" class="btn btn-primary">Add Friend</button>											</div>
                                      </li>
                                      <li class="connectionList">
                                        <div class="connectionImage"><a href="#"><div class="img" style="background-image: url('assets/images/manImage.jpg')"></div></a></div>
                                        <div class="connectionText">
                                          <h2>Lorem Ipsum</h2>
                                          <p>3 mutual friend</p>
                                          <button type="button" class="btn btn-primary">Add Friend</button>											</div>
                                      </li>
                                      <li class="connectionList">
                                        <div class="connectionImage"><a href="#"><div class="img" style="background-image: url('assets/images/manImage.jpg')"></div></a></div>
                                        <div class="connectionText">
                                          <h2>Lorem Ipsum</h2>
                                          <p>3 mutual friend</p>
                                          <button type="button" class="btn btn-primary">Add Friend</button>											</div>
                                      </li>
                                      <li class="connectionList">
                                        <div class="connectionImage"><a href="#"><div class="img" style="background-image: url('assets/images/manImage.jpg')"></div></a></div>
                                        <div class="connectionText">
                                          <h2>Lorem Ipsum</h2>
                                          <p>3 mutual friend</p>
                                          <button type="button" class="btn btn-primary">Add Friend</button>											</div>
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                          
                        </div>
                      </div>
                  
                  
                </div>
              </div>
            </div>
           
          </div>
          <div class="col-md-3">
            <div class="rightPart">
                
              <div class="innerRightPart">
                <h2>Photos & Videos</h2>
              <ul class="photoImage">
                <li>
                  <a href="#">
                    <div class="img" style="background-image: url('assets/images/dog.jpg')"></div>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <div class="img" style="background-image: url('assets/images/dog.jpg')"></div>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <div class="img" style="background-image: url('assets/images/dog.jpg')"></div>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <div class="img" style="background-image: url('assets/images/dog.jpg')"></div>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <div class="img" style="background-image: url('assets/images/dog.jpg')"></div>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <div class="img" style="background-image: url('assets/images/dog.jpg')"></div>
                  </a>
                </li>
  
              </ul>
              <a href="#" class="viewAll text-center">View All</a>
              </div>
              <div class="innerRightPart">
                <h2>ATTENDING HUBS</h2>
                <div class="hubMet hubMet1">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="img" style="background-image: url('assets/images/dog1.jpg')"></div>
                    </div>
                    <div class="col-md-8">
                      <h2>Femnesty Hub Met</h2>
              <p>2017-09-04, London</p>
              <button type="button" class="btn btn-primary">View Hub</button>
                    </div>
                  </div>
                </div>
              </div>
  
              <div class="innerRightPart">
                <h2>Groups</h2>
                <div class="hubMet hubMet1">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="img" style="background-image: url('assets/images/dog1.jpg')">
                      </div>
                    </div>
                    <div class="col-md-8">
                      <h2>London Women Group</h2>
              <button type="button" class="btn btn-primary">View Group</button>
                    </div>
                  </div>
  
                </div>
                <div class="hubMet hubMet1">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="img" style="background-image: url('assets/images/dog1.jpg')">
                      </div>
                    </div>
                    <div class="col-md-8">
                      <h2>London Women Group</h2>
                      <button type="button" class="btn btn-primary">View Group</button>
                    </div>
                  </div>
  
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </section>