<section class="section about-content-area visitingProfile section2">
    <div class="container-fluid">
        <div class="row flex-profile">
            <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
            <div class="col-md-3 flex-left">
                <div *ngIf="isloginUser == 1">
                    <user-sidebar></user-sidebar>
                </div>
            </div>
            <div class="col-md-6 flex-middle pd-5">
                <div class="middlePart">

                    <div class="topPart" [ngStyle]="{'background-image':'url('+otherProfileDet?.cover_img+')'}">
                        <input name="myfile1" type="file" (change)="coverFileChangePost($event)" style="display:none;" #fileTypeEdit>
                        <!-- <a href="javascript:void(0)" (click)="openFile()" *ngIf="isAdmin">
                            <i class="fa fa-pencil" style="color: #bd1927;float: right;margin-top: -7px;margin-right: -1px;"></i>
                        </a> -->
                        <!-- <a href="javascript:void(0)" *ngIf="isAdmin" (click)="openUpdateCoverProModal(updateCoverPictureModal)">
                            <img src="assets/images/pencil-icon.png" alt="" style="width:17px;height:18px;float:right;margin-right:-22px" />
                        </a> -->
                        <div class="change-img" (click)="openUpdateCoverProModal(updateCoverPictureModal)">
                                <i class="fa fa-camera"></i>
                                <div class="txt">Upload Banner Photo</div>
                            </div>
                    </div>
                    <div class="profPhoto">

                        <div class="img" [ngStyle]="{'background-image':'url('+otherProfileDet?.profile_image+')'}">
                            <input name="myfile" type="file" (change)="fileChangePost($event)" style="display:none;" #profileImageType>
                            <!-- <a href="javascript:void(0)" (click)="openProFile()" *ngIf="isAdmin">
                                <i class="fa fa-pencil" style="color: #bd1927;float: right;margin-top: -7px;margin-right: -1px;"></i>
                            </a> -->
                            <!-- <a href="javascript:void(0)" (click)="openUpdateProModal(updateProfilePictureModal)" *ngIf="isAdmin">
                                    <img src="assets/images/pencil-icon.png" alt="" style="width:17px;height:18px;float:right;margin-right:39px" />
                            </a> -->
                            <div class="inner-bg" (click)="openUpdateProModal(updateProfilePictureModal)">
                                <div class="icon-change" id="clickableLiElement">
                                    <i class="fa fa-camera"></i>
                                    <div class="txt">Update Profile
                                        <br> Picture</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" *ngIf="showImgDive">
                        <div class="col-md-12" *ngIf="prfImageData.image" style="padding-bottom:10px;">
                            <div class="col-md-4" style="padding-top: 90px;">
                                <button type="button" class="btn btn-primary" (click)="UploadPrfImg()">Update Profile Image</button>
                            </div>
                        </div>
                        <img-cropper #cropper [image]="prfImageData" [settings]="prfCropperSettings" (onCrop)="cropped($event)"></img-cropper>
                    </div>
                    <div class="col-md-12" *ngIf="showCoverImgDive">
                        <div class="col-md-12" *ngIf="coverImageData.image" style="padding-bottom:10px;">

                            <div class="col-md-4" style="padding-top: 10px;">
                                <button type="button" class="btn btn-primary" (click)="UploadCoverImg()">Update Cover Image</button>
                            </div>
                        </div>
                        <div class="col-md-12 text-center">
                            <img-cropper #cropper [image]="coverImageData" [settings]="coverCropperSettings" (onCrop)="cropped($event)"></img-cropper>
                        </div>
                    </div>
                    <div class="profDes">
                        <h2 class="text-center">{{otherProfileDet?.company_name}}</h2>
                        <p class="text-center">{{otherProfileDet?.bio}}</p>
                        <p class="text-center addressP">{{otherProfileDet?.address}}, {{otherProfileDet?.city}}</p>
                        <p class="text-center addressP">{{userFollowerList?.length }} Followers</p>
                        <p class="text-center" *ngIf="isFollowRequest">

                            <button *ngIf="otherProfileDet?.id!=isloginUserId && loginUserDet.user_type == 'C'" type="button" class="btn btn-primary"
                                (click)="sendFollowRequest(otherProfileDet?.id)">Follow Company</button>
                        </p>
                        <!-- <p class="text-center" style="padding-top: 10px;" *ngIf="isEmpRequest">
                        <button *ngIf="otherProfileDet?.id!=isloginUserId && loginUserDet.user_type == 'C'" type="button" class="btn btn-primary" (click)="sendEmployeeRequest(otherProfileDet?.id)">Employee Request</button>
                        </p>  -->

                        <p class="text-center" style="padding-top: 10px;" *ngIf="!isFollowRequest">
                            <button *ngIf="otherProfileDet?.id!=isloginUserId && loginUserDet.user_type == 'C'" type="button" class="btn btn-primary"
                                (click)="unflow_company()">Unfollow</button>
                        </p>
                    </div>
                    <div class="row" *ngIf="(successMsg != '')">
                        <div class="alert alert-success" role="alert" *ngIf="(successMsg != '')">
                            {{successMsg}}
                        </div>
                    </div>
                    <div class="row" *ngIf="(errorMsg != '')">
                        <div class="alert alert-danger" role="alert" *ngIf="(errorMsg != '')">
                            {{errorMsg}}
                        </div>
                    </div>
                    <div class="tabPart">
                        <ul class="nav nav-pills">
                            <li [ngClass]="{'active' : activeTab=='activity'}">
                                <a (click)="toggleTab('activity')">Activity</a>
                            </li>
                            <li *ngIf="!isAdmin" [ngClass]="{'active' : activeTab=='about'}">
                                <a (click)="toggleTab('about')">About</a>
                            </li>
                            <li *ngIf="isAdmin" [ngClass]="{'active' : activeTab=='about_edit'}">
                                <a (click)="toggleTab('about_edit')">About</a>
                            </li>
                            <li [ngClass]="{'active' : activeTab=='contact'}">
                                <a (click)="toggleTab('contact')">Contact</a>
                            </li>
                            <!--<li [ngClass]="{'active' : activeTab=='invite'}"><a (click)="toggleTab('invite')">Invite</a></li>-->
                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane fade" [ngClass]="{' in active' : activeTab=='activity'}">
                                <div *ngIf="isAdmin">
                                    <app-post-create [postType]="groupPostDetData" (getUserPostDetails)="getUserPostDetails()"></app-post-create>
                                </div>
                                <!--<app-post-create (getUserPostDetails)="getUserPostDetails()"></app-post-create>-->
                                <div *ngIf="userPostList?.length > 0">
                                    <div *ngFor="let postData of userPostList">
                                        <app-post-card [postData]="postData"></app-post-card>
                                    </div>
                                </div>
                                <div class="likePart" *ngIf="userPostList?.length == 0">
                                    <div class="row">
                                        <div class="col-md-10">
                                            <div class="nothing">Nothing more to show</div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div id="menu1" class="tab-pane fade" [ngClass]="{' in active' : activeTab=='about'}">
                                <div class="aboutPart">
                                    <h3 style="margin-top: 0px;">About {{otherProfileDet?.company_name}}</h3>
                                    <div class="abouts">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="tab-content">
                                                    <div class="tab-pane fade in active">
                                                        <ul class="ulList">
                                                            <div class="menu">
                                                                <div class="">
                                                                    <div class="form-group row">
                                                                        <label for="staticEmail" class="col-sm-4 col-form-label">Company Name</label>
                                                                        <div class="col-sm-8">
                                                                            <span>{{otherProfileDet?.company_name}}</span>

                                                                        </div>

                                                                    </div>
                                                                    <div class="form-group row">
                                                                        <label for="staticEmail" class="col-sm-4 col-form-label">Website</label>
                                                                        <div class="col-sm-8" *ngIf="!website">
                                                                            <a href="javascript:void(0)" (click)="openEdit('website')" *ngIf="isAdmin">
                                                                                <i class="fa fa-pencil" style="color: #bd1927;float:right"></i>
                                                                            </a>
                                                                            <span>{{otherProfileDet?.website}}</span>
                                                                        </div>

                                                                        <div class="col-sm-8" *ngIf="website">
                                                                            <a href="javascript:void(0)" (click)="openEdit('website')" *ngIf="isAdmin">
                                                                                <i class="fa fa-pencil" style="color: #bd1927;float:right"></i>
                                                                            </a>
                                                                            <input class="text-center" type="text" [(ngModel)]="website">
                                                                        </div>

                                                                    </div>
                                                                    <div class="form-group row">
                                                                        <label for="staticEmail" class="col-sm-4 col-form-label">Email </label>
                                                                        <div class="col-sm-8">
                                                                            <span>{{otherProfileDet?.email}}</span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group row">
                                                                        <label for="staticEmail" class="col-sm-4 col-form-label">Mobile No</label>
                                                                        <div class="col-sm-8" *ngIf="!mobile_number">
                                                                            <a href="javascript:void(0)" (click)="openEdit('mobile_number')" *ngIf="isAdmin">
                                                                                <i class="fa fa-pencil" style="color: #bd1927;float:right"></i>
                                                                            </a>
                                                                            <span>{{otherProfileDet?.mobile_number}}</span>
                                                                        </div>
                                                                        <div class="col-sm-8" *ngIf="mobile_number">
                                                                            <a href="javascript:void(0)" (click)="openEdit('mobile_number')" *ngIf="isAdmin">
                                                                                <i class="fa fa-pencil" style="color: #bd1927;float:right"></i>
                                                                            </a>
                                                                            <input class="text-center" type="text" [(ngModel)]="mobile_number">
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group row">
                                                                        <label for="staticEmail" class="col-sm-4 col-form-label">State</label>
                                                                        <div class="col-sm-8" *ngIf="!state">
                                                                            <a href="javascript:void(0)" (click)="openEdit('state')" *ngIf="isAdmin">
                                                                                <i class="fa fa-pencil" style="color: #bd1927;float:right"></i>
                                                                            </a>
                                                                            <span>{{otherProfileDet?.state}}</span>
                                                                        </div>
                                                                        <div class="col-sm-8" *ngIf="state">
                                                                            <a href="javascript:void(0)" (click)="openEdit('state')" *ngIf="isAdmin">
                                                                                <i class="fa fa-pencil" style="color: #bd1927;float:right"></i>
                                                                            </a>
                                                                            <input class="text-center" type="text" [(ngModel)]="state">
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group row">
                                                                        <label for="staticEmail" class="col-sm-4 col-form-label">City</label>
                                                                        <div class="col-sm-8" *ngIf="!city">
                                                                            <a href="javascript:void(0)" (click)="openEdit('city')" *ngIf="isAdmin">
                                                                                <i class="fa fa-pencil" style="color: #bd1927;float:right"></i>
                                                                            </a>
                                                                            <span>{{otherProfileDet?.city}}</span>
                                                                        </div>
                                                                        <div class="col-sm-8" *ngIf="city">
                                                                            <a href="javascript:void(0)" (click)="openEdit('city')" *ngIf="isAdmin">
                                                                                <i class="fa fa-pencil" style="color: #bd1927;float:right"></i>
                                                                            </a>
                                                                            <input class="text-center" type="text" [(ngModel)]="city">
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group row">
                                                                        <label for="staticEmail" class="col-sm-4 col-form-label">Address</label>
                                                                        <div class="col-sm-8" *ngIf="!address">
                                                                            <a href="javascript:void(0)" (click)="openEdit('address')" *ngIf="isAdmin">
                                                                                <i class="fa fa-pencil" style="color: #bd1927;float:right"></i>
                                                                            </a>
                                                                            <span>{{otherProfileDet?.address}}</span>
                                                                        </div>
                                                                        <div class="col-sm-8">
                                                                            <a href="javascript:void(0)" (click)="openEdit('address')" *ngIf="isAdmin && address">
                                                                                <i class="fa fa-pencil" style="color: #bd1927;float:right"></i>
                                                                            </a>
                                                                            <input type="text" class="form-control-plaintext" value="" placeholder="Type anything and you will get a location *" id="autocomplete"
                                                                                style="display:none" #addressEdit>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group row">
                                                                        <label for="staticEmail" class="col-sm-4 col-form-label">About Company</label>
                                                                        <div class="col-sm-8" *ngIf="!bio">
                                                                            <a href="javascript:void(0)" (click)="openEdit('bio')" *ngIf="isAdmin">
                                                                                <i class="fa fa-pencil" style="color: #bd1927;float:right"></i>
                                                                            </a>
                                                                            <span>{{otherProfileDet?.bio}}</span>
                                                                        </div>
                                                                        <div class="col-sm-8" *ngIf="bio">
                                                                            <a href="javascript:void(0)" (click)="openEdit('bio')" *ngIf="isAdmin">
                                                                                <i class="fa fa-pencil" style="color: #bd1927;float:right"></i>
                                                                            </a>
                                                                            <input class="text-center" type="text" [(ngModel)]="bio">
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group row">
                                                                        <label for="staticEmail" class="col-sm-4 col-form-label">Company Mission</label>
                                                                        <div class="col-sm-8" *ngIf="!company_mission">
                                                                            <a href="javascript:void(0)" (click)="openEdit('company_mission')" *ngIf="isAdmin">
                                                                                <i class="fa fa-pencil" style="color: #bd1927;float:right"></i>
                                                                            </a>
                                                                            <span>{{otherProfileDet?.company_mission}}</span>
                                                                        </div>
                                                                        <div class="col-sm-8" *ngIf="company_mission">
                                                                            <a href="javascript:void(0)" (click)="openEdit('company_mission')" *ngIf="isAdmin">
                                                                                <i class="fa fa-pencil" style="color: #bd1927;float:right"></i>
                                                                            </a>
                                                                            <input class="text-center" type="text" [(ngModel)]="company_mission">
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group row">
                                                                        <label for="staticEmail" class="col-sm-4 col-form-label">Company Vission</label>
                                                                        <div class="col-sm-8" *ngIf="!company_vission">
                                                                            <a href="javascript:void(0)" (click)="openEdit('company_vission')" *ngIf="isAdmin">
                                                                                <i class="fa fa-pencil" style="color: #bd1927;float:right"></i>
                                                                            </a>
                                                                            <span>{{otherProfileDet?.company_vission}}</span>
                                                                        </div>
                                                                        <div class="col-sm-8" *ngIf="company_vission">
                                                                            <a href="javascript:void(0)" (click)="openEdit('company_vission')" *ngIf="isAdmin">
                                                                                <i class="fa fa-pencil" style="color: #bd1927;float:right"></i>
                                                                            </a>
                                                                            <input class="text-center" type="text" [(ngModel)]="company_vission">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="menu2" class="tab-pane fade" [ngClass]="{' in active' : activeTab=='contact'}">
                                <div class="connectionsPart">

                                    <!--<h2>Employee List</h2>
                                <div class="connections">
                                    
                                        <div class="grp-rqsts" *ngIf="userEmployeeList?.length > 0">
                                                
                                                <ul >
                                                    <li *ngFor="let userData of userEmployeeList">
                                                        <div class="left-area">
                                                            <div class="round-image">
                                                                <a [routerLink]="['/user/profile',userData.display_name]">
                                                                    <img [src]="userData.profile_image" alt="">
                                                                </a>
                                                            </div>
                                                            <div class="content-part">
                                                                <p>{{userData.name}}</p>
                                                            </div>
                                                        </div>
                                                        <div class="right-area">
                                                            <p>
                                                                    <a class="btn btn-primary" [routerLink]="['/user/profile',userData.display_name]">
                                                                       <b>View Profile</b>
                                                                    </a>
                                                               
                                                            </p>
                                                        </div>
                                                    </li>
                                                    
                                                </ul>
                                        </div>
     
                                        <div class="likePart" *ngIf="!userEmployeeList">
                                            <div class="row">
                                                <div class="col-md-10">
                                                    <div class="nothing">No employee found</div>
                                                </div>
                                            </div>
                                        </div>
                                    
                                    
                                    

                                    
                                </div>-->
                                    
                                <div class="connections invite-member-new">
                                    <h2 style="margin-top: 0px;">Follower List</h2>
                                    <ul class="media-list connections" *ngIf="userFollowerList?.length > 0">
                                        <li class="media" *ngFor="let joinFrnd of userFollowerList;let i=index">
                                            <div class="media-left">
                                                <a [routerLink]="['/user/profile',joinFrnd.display_name]">
                                                    <div class="img" [ngStyle]="{'background-image':'url('+joinFrnd?.profile_image+')'}" style="height: 62px !important;"></div>
                                                </a>
                                            </div>
                                            <div class="media-body media-middle">
                                                <a [routerLink]="['/user/profile',joinFrnd.display_name]">
                                                    <h2>{{joinFrnd.name}}</h2>
                                                </a>                                                   
                                            </div>
                                            <div class="media-right media-middle">
                                                <div class="button-holder-width">
                                                    <button class="btn btn-primary"
                                                    [routerLink]="['/user/profile',joinFrnd.display_name]">View Profile</button>
                                                    
                                                    <!--<button class="btn btn-black btn-default">
                                                        HIDE
                                                    </button>-->
                                                </div>
                                            </div>
                                        </li>
                                    </ul>

                                    <div class="nothing" *ngIf="userFollowerList?.length == 0" style="padding-bottom: 50px;">No follower found</div>
                                </div>

                                </div>
                            </div>
                            <div class="tab-pane fade" [ngClass]="{' in active' : activeTab=='about_edit'}">
                                <app-about-company *ngIf="otherProfileDet" [companyID]="otherProfileDet.id" [adminStatus]="adminStatusObj"></app-about-company>
                            </div>
                            <div id="menu3" class="tab-pane fade" [ngClass]="{' in active' : activeTab=='invite'}">
                                <div class="connectionsPart">
                                    <h2>invite</h2>
                                    <div class="connections">
                                        No Invite
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 flex-right">
                <app-company-rightbar *ngIf="otherProfileDet" [profileData]="otherProfileDet" [companyID]="otherProfileDet.id"></app-company-rightbar>
            </div>
        </div>
    </div>
</section>

<ng-template class="crop-modal" #updateCoverPictureModal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Change Image</h4>
        <button type="button" class="close" aria-label="Close" (click)="c('Close click')">
          <!--  <span aria-hidden="true">&times;</span>-->
        </button>
    </div>
    <div class="modal-body">
        <div class="alert alert-danger" role="alert" *ngIf="modalErrorMsg">
            {{modalErrorMsg}}
        </div>
        <div class="img result" *ngIf="!IsShowCropperCoverImage">
            <img [src]="otherProfileDet?.cover_img" class="crop-img">
        </div>
        <!--<div class="inner-bg">
            <div class="icon-change">
                <div class=" btn modal-btn-black btn-default" style="float:right;">Change Image
                    <input type="file" id="upload" accept="image/*" (change)="coverCropperChange($event)" />
                </div>
            </div>
        </div>-->
        <div class="upload-demo">
            <div class="upload-demo-wrap">
                <div id="upload-demo"></div>
            </div>
        </div>
        <div class="edit-option">
        	<ul>
        		<li>
        			<a><img src="assets/images/move.png" alt="" /></a>
        			<span>Move</span>
        		</li>
        		<li>
        			<a><img src="assets/images/crop.png" alt="" /></a>
        			<span>Crop</span>
        		</li>
        		<li>
        			<a href="Javascript:void(0);">
        			<label style="padding: 0; margin: 0; line-height: 1px;" for="upload1"> <img src="assets/images/photo.png" alt="" /></label>
        			<input type="file" id="upload1" style="display: none;" accept="image/*" (change)="coverCropperChange($event)" />
        			</a>
        			<span>CHANGE IMAGE</span>
        		</li>
        	</ul>
        </div>

    </div>
    <div class="modal-footer">
    <a class="remove" (click)="resetCover()">REMOVE IMAGE</a>
        <!--<button type="button" class="btn modal-btn-primary" (click)="resetCover()">Remove Image</button>-->
        <button type="button" class="btn modal-btn-primary btn-cancel" (click)="c('Close click')">Cancel</button>
        <button type="button" class="btn modal-btn-primary" (click)="UpdateCoverImg()">Change</button>
    </div>
</ng-template>

<ng-template #updateProfilePictureModal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Change Image</h4>
        <button type="button" class="close" aria-label="Close" (click)="c('Close click')">
            <!--<span aria-hidden="true">&times;</span>-->
        </button>
    </div>
    <div class="modal-body">
        <div class="alert alert-danger" role="alert" *ngIf="modalErrorMsg">
            {{modalErrorMsg}}
        </div>
        <div class="img result" *ngIf="!IsShowCropperProfileImage">
            <img [src]="otherProfileDet?.profile_image" class="crop-img">
        </div>
        <!--<div class="inner-bg">
            <div class="icon-change">
                <div class=" btn modal-btn-black btn-default" style="float:right;">Change Image
                    <input type="file" id="upload" accept="image/*" (change)="cropperChange($event)" />
                </div>
            </div>
        </div>-->
        <div class="upload-demo">
            <div class="upload-demo-wrap">
                <div id="upload-demo"></div>
            </div>
        </div>
        <div class="edit-option">
        	<ul>
        		<li>
        			<a><img src="assets/images/move.png" alt="" /></a>
        			<span>Move</span>
        		</li>
        		<li>
        			<a><img src="assets/images/crop.png" alt="" /></a>
        			<span>Crop</span>
        		</li>
        		<li>
        			<a href="Javascript:void(0);">
        			<label style="padding: 0; margin: 0; line-height: 1px;" for="upload"> <img src="assets/images/photo.png" alt="" /></label>
        			<input type="file" id="upload" style="display: none;" accept="image/*" (change)="cropperChange($event)" />
        			</a>
        			<span>CHANGE IMAGE</span>
        		</li>
        	</ul>
        </div>

    </div>
    <div class="modal-footer">
    <a class="remove" (click)="resetPro()">REMOVE IMAGE</a>
        <!--<button type="button" class="btn modal-btn-primary" (click)="resetPro()">Remove Image</button>-->
        <button type="button" class="btn modal-btn-primary btn-cancel" (click)="c('Close click')">Cancel</button>
        <button type="button" class="btn modal-btn-primary" (click)="UpdateProImg()">Change</button>
    </div>
</ng-template>