<section class="section about-content-area visitingProfile">
  <div class="container-fluid">
      <div class="row flex-profile">
          <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
          <div class="col-md-3 flex-left">
            <div *ngIf="isloginUser == 1">
                <user-sidebar></user-sidebar>
            </div>
          </div>
          <div class="col-md-6 flex-middle">
              <div class="middlePart">
                  <div class="topPart" [ngStyle]="{'background-image':'url('+otherProfileDet?.cover_img+')'}">
                  </div>
                  <div class="profPhoto">
                      <div class="img" [ngStyle]="{'background-image':'url('+otherProfileDet?.profile_image+')'}">
                      </div>
                  </div>
                 
                  <div class="profDes">
                      <h2 class="text-center">{{otherProfileDet?.company_name}}</h2>
                      <p class="text-center">{{otherProfileDet?.bio}}</p>
                      <p class="text-center addressP">{{otherProfileDet?.address}}, {{otherProfileDet?.city}}</p>
                      <p class="text-center">
                            <button *ngIf="otherProfileDet?.id!=isloginUserId" type="button" class="btn btn-primary" (click)="sendFollowRequest(otherProfileDet?.id)">Follow Company</button>
                            <button *ngIf="otherProfileDet?.id!=isloginUserId" type="button" class="btn btn-primary" (click)="sendEmployeeRequest(otherProfileDet?.id)">Employee Request</button>
                        </p>
                      
                  </div>
                  <div class="row" *ngIf="(successMsg != '')">
                      <div class="alert alert-success" role="alert" *ngIf="(successMsg != '')">
                           {{successMsg}}
                      </div>
                  </div>
                  <div class="row" *ngIf="(errorMsg != '')">
                      <div class="alert alert-danger" role="alert" *ngIf="(errorMsg != '')">
                           {{errorMsg}}
                      </div>
                  </div>
                  <div class="tabPart">
                      <ul class="nav nav-pills">
                          <li [ngClass]="{'active' : activeTab=='activity'}"><a (click)="toggleTab('activity')">Activity</a></li>
                          <li [ngClass]="{'active' : activeTab=='about'}"><a (click)="toggleTab('about')">About</a></li>
                          <li [ngClass]="{'active' : activeTab=='contact'}"><a (click)="toggleTab('contact')">Contact</a></li>
                          <li [ngClass]="{'active' : activeTab=='invite'}"><a (click)="toggleTab('invite')">Invite</a></li>
                      </ul>
                      
                      <div class="tab-content">
                          <div class="tab-pane fade" [ngClass]="{' in active' : activeTab=='activity'}">
                              <!--<app-post-create (getUserPostDetails)="getUserPostDetails()"></app-post-create>-->
                              <div *ngIf="userPostList?.length > 0">
                                  <div class="likePart" *ngFor="let postData of userPostList">
                                      <app-post-card [postData]="postData"></app-post-card>
                                  </div>
                              </div>
                              <div class="likePart" *ngIf="userPostList?.length == 0">
                                  <div class="row">
                                      <div class="col-md-10">
                                          <div class="nothing">Nothing more to show</div>
                                      </div>
                                  </div>
                              </div>

                          </div>
                          <div id="menu1" class="tab-pane fade" [ngClass]="{' in active' : activeTab=='about'}">
                              <div class="aboutPart">
                                  <h3 style="margin-top: 0px;">About {{otherProfileDet?.company_name}}</h3>
                                  <div class="abouts">
                                      <div class="row">
                                          <div class="col-md-12">
                                              <div class="tab-content">
                                                  <div class="tab-pane fade" [ngClass]="{'in active' : aboutActiveTab=='overview'}">
                                                      <ul class="ulList">
                                                          <div class="menu">
                                                              <div class="">
                                                                  <div class="form-group row">
                                                                      <label for="staticEmail" class="col-sm-4 col-form-label">Company Name</label>
                                                                      <div class="col-sm-8">
                                                                          <span>{{otherProfileDet?.company_name}}</span>
                                                                      </div>
                                                                  </div> 
                                                                  <div class="form-group row">
                                                                        <label for="staticEmail" class="col-sm-4 col-form-label">Website</label>
                                                                        <div class="col-sm-8">
                                                                            <span>{{otherProfileDet?.website}}</span>
                                                                        </div>
                                                                    </div>                                                                 
                                                                  <div class="form-group row">
                                                                      <label for="staticEmail" class="col-sm-4 col-form-label">Email </label>
                                                                      <div class="col-sm-8">
                                                                          <span>{{otherProfileDet?.email}}</span>
                                                                      </div>
                                                                  </div>
                                                                  <div class="form-group row">
                                                                      <label for="staticEmail" class="col-sm-4 col-form-label">Mobile No</label>
                                                                      <div class="col-sm-8">
                                                                          <span>{{otherProfileDet?.mobile_number}}</span>
                                                                      </div>
                                                                  </div>                                                                  
                                                                  <div class="form-group row">
                                                                      <label for="staticEmail" class="col-sm-4 col-form-label">State</label>
                                                                      <div class="col-sm-8">
                                                                          <span>{{otherProfileDet?.state}}</span>
                                                                      </div>
                                                                  </div>
                                                                  <div class="form-group row">
                                                                      <label for="staticEmail" class="col-sm-4 col-form-label">City</label>
                                                                      <div class="col-sm-8">
                                                                          <span>{{otherProfileDet?.city}}</span>
                                                                      </div>
                                                                  </div>
                                                                  <div class="form-group row">
                                                                      <label for="staticEmail" class="col-sm-4 col-form-label">Address</label>
                                                                      <div class="col-sm-8">
                                                                          <span>{{otherProfileDet?.address}}</span>
                                                                      </div>
                                                                  </div>
                                                                  <div class="form-group row">
                                                                      <label for="staticEmail" class="col-sm-4 col-form-label">BIO</label>
                                                                      <div class="col-sm-8">
                                                                          <span>{{otherProfileDet?.bio}}</span>
                                                                      </div>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                      </ul>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div id="menu2" class="tab-pane fade" [ngClass]="{' in active' : activeTab=='contact'}">
                            <div class="connectionsPart">
                                
                                <h2>Employee List</h2>
                                <div class="connections">
                                    <ul class="uilist" *ngIf="userEmployeeList?.length > 0">
                                        <li class="connectionList" *ngFor="let userData of userEmployeeList">
                                            <div class="connectionImage">
                                                <a [routerLink]="['/user/profile',userData.display_name]">
                                                    <div class="img" [ngStyle]="{'background-image':'url('+userData.profile_image+')'}"></div>
                                                </a>
                                            </div>
                                            <div class="connectionText">
                                                    <a [routerLink]="['/user/profile',userData.display_name]">
                                                        <h2>{{userData.name}}</h2>
                                                    </a>                                                  
                                                
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="likePart" *ngIf="userEmployeeList?.length == 0">
                                        <div class="row">
                                            <div class="col-md-10">
                                                <div class="nothing">No employee found</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <h2>Follower List</h2>
                                <div class="connections">
                                    <ul class="uilist" *ngIf="userFollowerList?.length > 0">
                                        <li class="connectionList" *ngFor="let followData of userFollowerList">
                                            <div class="connectionImage">
                                                <a [routerLink]="['/user/profile',followData.display_name]">
                                                    <div class="img" [ngStyle]="{'background-image':'url('+followData.profile_image+')'}"></div>
                                                </a>
                                            </div>
                                            <div class="connectionText">
                                                    <a [routerLink]="['/user/profile',followData.display_name]">
                                                        <h2>{{followData.name}}</h2>
                                                    </a>                                                  
                                                
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="likePart" *ngIf="userFollowerList?.length == 0">
                                        <div class="row">
                                            <div class="col-md-10">
                                                <div class="nothing">No employee found</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                          </div>
                          <div id="menu3" class="tab-pane fade" [ngClass]="{' in active' : activeTab=='invite'}">
                              <div class="connectionsPart">
                                  <h2>invite</h2>
                                  <div class="connections">
                                      No Invite
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-3 flex-right">              
                <app-company-rightbar [profileData]="otherProfileDet" [companyID]="otherProfileDet.id"></app-company-rightbar> 
          </div>
      </div>
  </div>
</section>