<section class="section about-content-area visitingProfile">
    <div class="container-fluid">
        <div class="row flex-profile">
            <div class="col-md-3 flex-left">
              <div *ngIf="isUserLogin == 1">
                  <user-sidebar></user-sidebar>
              </div>
            </div>
            <div class="col-md-6 flex-middle">
                <div class="middlePart">
                    <div class="main-chat-wrap">
                      <h3 class="result-count">All Group List</h3>
                    </div>
                </div>
                <ul class="search-list">
                      <div>
                        <li *ngFor="let grpData of groupList">
                            <div class="left-side" [ngStyle]="{'background-image':'url('+grpData.group_image+')'}"></div>
                            <div class="right-side">
                              <h4>{{grpData.group_name}}</h4>
                              <small class="text">{{grpData.short_desc}}</small>
                              <p class="font-weight-bold">By {{grpData.name}}</p>
                              <a [routerLink]="['/group/details',grpData.group_uname]" class="more">View Group</a>
                            </div>
                        </li>
                  </div>
                </ul>
            </div>
            <div class="col-md-3 flex-right">
                <div class="rightPart">
                    <div class="innerRightPart">
                      <h2>FILTER RESULT</h2>
                      <ul class="filter-reslt">
                        <li>GROUPS  <span>({{groupList?.length}})</span></li>
                      </ul>
                    </div>
                    <div class="innerRightPart share-story">
                      <h1>Share your Story</h1>
                      <p>Femnesty is always looking for strong, positive contributors to join our team.</p>
                      <p><a [routerLink]="['/user/shareyourstory']" class="btn btn-primary">Share</a></p>
                    </div>
                    <div class="innerRightPart share-story">
                      <h1>Start a Hub</h1>
                      <p>Make a difference where you are, start a Hub today.</p>
                      <p><a href="" class="btn btn-primary">Start</a></p>
                    </div>
                  </div>
            </div>
        </div>
    </div>
  </section>