<section class="section about-content-area visitingProfile">
    <div class="container-fluid">
        <div class="row flex-profile">
            <div class="col-md-3 flex-left">
                <div *ngIf="isUserLogin == 1">
                    <user-sidebar></user-sidebar>
                </div>
            </div>
            <div class="col-md-6 flex-middle">
                <div class="middlePart" style="background: transparent">
                    <div class="MyGroups-list" *ngIf="myGrpList.length>0 || errorMsg">
                        <h5 class="mt-0">FILTERED RESULTS</h5>
                        <div class="alert alert-danger" role="alert" *ngIf="errorMsg">
                            <strong>Error: </strong> {{errorMsg}}
                        </div>
                        <ul class="search-list">
                            <li *ngFor="let grpData of myGrpList">
                                <a [routerLink]="['/group/details',grpData.group_uname]">
                                    <div class="left-side" [ngStyle]="{'background-image':'url('+grpData.group_image+')'}"></div>
                                </a>
                                <div class="right-side">
                                    <h4>
                                        <a [routerLink]="['/group/details',grpData.group_uname]">{{grpData.group_name}}</a>
                                    </h4>
                                    <!--<small class="text">{{grpData.short_desc}}</small>-->
                                    <p class="s-desc">{{grpData.short_desc | limitTo : 50}}</p>
                                    <p class="txt-red">By {{grpData.name}}</p>
                                    <!--<a [routerLink]="['/group/details',grpData.group_uname]" class="more">View Group</a>-->
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="MyGroups-list">
                        <h5 class="mt-0">MY GROUPS</h5>
                        <ul class="search-list">
                            <li *ngFor="let grpData of totalMyGrpList">
                                <a [routerLink]="['/group/details',grpData.group_uname]">
                                    <div class="left-side" [ngStyle]="{'background-image':'url('+grpData.group_image+')'}"></div>
                                </a>
                                <div class="right-side">
                                    <h4>
                                        <a [routerLink]="['/group/details',grpData.group_uname]">{{grpData.group_name}}</a>
                                    </h4>
                                    <!--<small class="text">{{grpData.short_desc}}</small>-->
                                    <p class="s-desc">{{grpData.short_desc | limitTo : 50}}</p>
                                    <p class="txt-red">By {{grpData.name}}</p>
                                    <!--<a [routerLink]="['/group/details',grpData.group_uname]" class="more">View Group</a>-->
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="MyGroups-list">
                        <h5 class="mt-0">TOP GROUPS</h5>
                        <ul class="search-list">
                            <li *ngFor="let grpData of groupList">
                                <a [routerLink]="['/group/details',grpData.group_uname]">
                                    <div class="left-side" [ngStyle]="{'background-image':'url('+grpData.group_image+')'}"></div>
                                </a>
                                <div class="right-side">
                                    <h4>
                                        <a [routerLink]="['/group/details',grpData.group_uname]">{{grpData.group_name}}</a>
                                    </h4>
                                    <!--<small class="text">{{grpData.short_desc}}</small>-->
                                    <p class="s-desc">{{grpData.short_desc | limitTo : 50}}</p>
                                    <p class="txt-red">By {{grpData.name}}</p>
                                    <!--<a [routerLink]="['/group/details',grpData.group_uname]" class="more">View Group</a>-->
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--<ul class="search-list">
                      <div>
                        <li *ngFor="let grpData of groupList">
                            <div class="left-side" [ngStyle]="{'background-image':'url('+grpData.group_image+')'}"></div>
                            <div class="right-side">
                              <h4>{{grpData.group_name}}</h4>
                              <small class="text">{{grpData.short_desc}}</small>
                              <p class="font-weight-bold">By {{grpData.name}}</p>
                              <a [routerLink]="['/group/details',grpData.group_uname]" class="more">View Group</a>
                            </div>
                        </li>
                  </div>
                </ul>-->
            </div>
            <div class="col-md-3 flex-right">
                <div class="rightPart">
                    <div class="innerRightPart">
                        <h2>BROWSE GROUPS</h2>
                        <ul class="filter-reslt">
                            <li style="position: relative;">
                                <div class="form-group">
                                    <input class="form-control" placeholder="Search" [(ngModel)]="search_group" type="text">
                                    <button type="button" (click)="searchGroup()">
                                        <i class="icon ion-ios-search"></i>
                                    </button>
                                </div>
                            </li>
                            <li>My Groups
                                <span>({{myGrpList?.length}})</span>
                            </li>
                            <li>Top Groups
                                <span>({{groupList?.length}})</span>
                            </li>
                            <li *ngFor="let item of categoryListWithCount">
                                <a style="cursor:pointer;" (click)="getCatDetails(item.id)">{{item.title}}
                                    <span>({{item.group_count}})</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="innerRightPart latest-article">
                        <h2>Latest Articles</h2>
                        <div *ngIf="latestArticles?.length > 0">
                            <div class="hubMet hubMet2" *ngFor="let articleData of latestArticles">
                                <a [routerLink]="['/articles/details',articleData.slug]">
                                    <div class="img" [ngStyle]="{'background-image':'url('+articleData.image_url+')'}"></div>
                                </a>
                                <div class="article-text">
                                    <p>{{articleData.title | limitTo : 20}}</p>
                                    <a [routerLink]="['/articles/details',articleData.slug]" class="downtxt">By {{articleData.author_name}} on {{articleData.created_date_mod}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="innerRightPart share-story">
                        <h1>Share your Story</h1>
                        <p>Femnesty is always looking for strong, positive contributors to join our team.</p>
                        <p>
                            <a [routerLink]="['/user/shareyourstory']" class="btn btn-primary">Share</a>
                        </p>
                    </div>
                    <div class="innerRightPart share-story">
                        <h1>Start a Hub</h1>
                        <p>Make a difference where you are, start a Hub today.</p>
                        <p>
                            <a [routerLink]="['/user/create_hub/create']" class="btn btn-primary">Start</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>