<section class="section section2 about-content-area visitingProfile">
    <div class="container-fluid">
        <div class="row flex-profile">
            <div class="col-md-3 flex-left">
                <div *ngIf="isUserLogin == 1">
                    <user-sidebar></user-sidebar>
                </div>
            </div>
            <div class="col-md-6 flex-middle pd-5">
                <div class="middlePart" style="background: transparent">

                    <app-group-create></app-group-create>
                    <div *ngIf="aboutActiveTab=='find'">
                        <div class="MyGroups-list" *ngIf="myGrpList.length>0 || errorMsg">
                            <h5 class="mt-0" *ngIf="filteredTitle">FILTERED GROUPS FOR "{{filteredTitle}}"</h5>
                            <div class="alert alert-danger" role="alert" *ngIf="errorMsg">
                                {{errorMsg}}
                            </div>
                            <ul class="search-list">
                                <li *ngFor="let grpData of myGrpList">
                                    <a [routerLink]="['/group/details',grpData.group_uname]">
                                        <div class="left-side" [ngStyle]="{'background-image':'url('+grpData.group_image+')'}"></div>
                                    </a>
                                    <div class="right-side">
                                        <h4>
                                            <a [routerLink]="['/group/details',grpData.group_uname]">{{grpData.group_name}}</a>
                                        </h4>
                                        <!--<small class="text">{{grpData.short_desc}}</small>-->
                                        <p class="s-desc">{{grpData.short_desc | limitTo : 50}}</p>
                                        <!-- <p class="txt-red">By {{grpData.name}}</p> -->
                                        <p class="text-red">{{grpData.member_type=='1'?'Admin':grpData.member_type=='2'?'Member':'Not Member'}}</p>
                                        <!--<a [routerLink]="['/group/details',grpData.group_uname]" class="more">View Group</a>-->
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="MyGroups-list" #myGroupsList *ngIf="IsShowMyGrp">
                            <h5 class="mt-0">MY GROUPS</h5>
                            <ul class="search-list">
                                <li *ngFor="let grpData of totalMyGrpList">
                                    <a [routerLink]="['/group/details',grpData.group_uname]">
                                        <div class="left-side" [ngStyle]="{'background-image':'url('+grpData.group_image+')'}"></div>
                                    </a>
                                    <div class="right-side">
                                        <h4>
                                            <a [routerLink]="['/group/details',grpData.group_uname]">{{grpData.group_name | limitTo : 20}}</a>
                                        </h4>
                                        <!--<small class="text">{{grpData.short_desc}}</small>-->
                                        <p class="s-desc">{{grpData.short_desc | limitTo : 50}}</p>
                                        <!-- <p class="txt-red">By {{grpData.name}}</p> -->
                                        <p class="text-red">{{grpData.member_type=='1'?'Admin':grpData.member_type=='2'?'Member':'Not Member'}}</p>
                                        <!--<a [routerLink]="['/group/details',grpData.group_uname]" class="more">View Group</a>-->
                                    </div>
                                </li>
                            </ul>
                            <a class="view-more-down" style="margin: 10px 0 0 0" href="javascript:void(0)" *ngIf="IsShowMyViewMore" (click)="viewMoreMy()">View More</a>
                            <a style="margin: 10px 0 0 0" href="javascript:void(0)" *ngIf="IsShowNothingForMy">Nothing More to Show</a>
                        </div>
                        <div #topGroupsList *ngIf="IsShowTopGrp">
                            <div class="MyGroups-list with-right-button">
                                <h5 class="mt-0">TOP GROUPS</h5>
                                <ul class="search-list">
                                    <li *ngFor="let grpData of groupList">
                                        <a [routerLink]="['/group/details',grpData.group_uname]">
                                            <div class="left-side" [ngStyle]="{'background-image':'url('+grpData.group_image+')'}"></div>
                                        </a>
                                        <div class="right-side">
                                            <h4>
                                                <a [routerLink]="['/group/details',grpData.group_uname]">{{grpData.group_name | limitTo : 20}}</a>
                                            </h4>
                                            <!--<small class="text">{{grpData.short_desc}}</small>-->
                                            <p class="s-desc">{{grpData.short_desc | limitTo : 50}}</p>
                                            <!-- <p class="txt-red">By {{grpData.name}}</p> -->
                                            <p class="txt-red">{{grpData.member_type=='1'?'Admin':grpData.member_type=='2'?'Member':'Not Member'}}</p>
                                            <!--<a [routerLink]="['/group/details',grpData.group_uname]" class="more">View Group</a>-->
                                            <button _ngcontent-c0="" class="btn btn-primary" type="button">JOIN GROUP</button>
                                        </div>
                                    </li>
                                </ul>
                                <a class="view-more-down" style="margin: 10px 0 0 0" href="javascript:void(0)" *ngIf="IsShowTopViewMore" (click)="viewMoreTop()">View More</a>
                                <a style="margin: 10px 0 0 0" href="javascript:void(0)" *ngIf="IsShowNothingForTop">Nothing More to Show</a>
                            </div>
                        </div>

                    </div>
                </div>
                <!--<ul class="search-list">
                      <div>
                        <li *ngFor="let grpData of groupList">
                            <div class="left-side" [ngStyle]="{'background-image':'url('+grpData.group_image+')'}"></div>
                            <div class="right-side">
                              <h4>{{grpData.group_name}}</h4>
                              <small class="text">{{grpData.short_desc}}</small>
                              <p class="font-weight-bold">By {{grpData.name}}</p>
                              <a [routerLink]="['/group/details',grpData.group_uname]" class="more">View Group</a>
                            </div>
                        </li>
                  </div>
                </ul>-->
            </div>
            <div class="col-md-3 flex-right">
                <div class="obj-center">
                    <a [routerLink]="['/group/add_group']" class="btn btn-primary" href="javascript:void(0)">Create A Group</a>
                </div>
                <div class="rightPart">
                    <div class="innerRightPart new-group-section">
                        <h2>BROWSE GROUPS</h2>
                        <div class="inline-search">
                            <div class="input-group">
                                <input class="form-control" placeholder="Search" [(ngModel)]="search_group" type="text">
                                <span class="input-group-btn">
                                    <button type="button" (click)="searchGroup()" class="btn btn-default">
                                        <!--<i class="icon ion-ios-search"></i>-->
                                        <img src="assets/images/search-icon.png" alt="" />
                                    </button>
                                </span>
                            </div>
                        </div>
                        <ul class="filter-reslt">

                            <li>
                                <a href="javascript:void(0);" (click)="scrollToMyGroup()">My Groups
                                    <span>({{totalMyGrpList?.length}})</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" (click)="scrollToTopGroups()">Top Groups
                                    <span>({{groupList?.length}})</span>
                                </a>
                            </li>
                            <li *ngFor="let item of categoryListWithCount">
                                <a style="cursor:pointer;" (click)="getCatDetails(item.id,item.title)">{{item.title}}
                                    <span>({{item.group_count}})</span>
                                </a>
                            </li>
                        </ul>

                    </div>
                    <div class="innerRightPart latest-article">
                        <h2>Latest Articles</h2>
                        <div *ngIf="latestArticles?.length > 0">
                            <div class="hubMet hubMet2" *ngFor="let articleData of latestArticles">
                                <a [routerLink]="['/articles/details',articleData.slug]">
                                    <div class="img" [ngStyle]="{'background-image':'url('+articleData.image_url+')'}"></div>
                                </a>
                                <div class="article-text">
                                    <p>{{articleData.title | limitTo : 20}}</p>
                                    <a [routerLink]="['/articles/details',articleData.slug]" class="downtxt">By {{articleData.author_name}} on {{articleData.c_date | dateTimeFormat: 'MMM dd, yyyy'}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="innerRightPart share-story right-share-new">
                        <h1>Share your Story</h1>
                        <p>Femnesty is always looking for strong, positive contributors to join our team.</p>
                        <p>
                            <a [routerLink]="['/user/shareyourstory']" class="btn btn-primary">Share</a>
                        </p>
                    </div>
                    <div class="innerRightPart share-story right-share-new">

                        <h1>Start a Hub</h1>
                        <p>Make a difference where you are, start a Hub today.</p>
                        <p>
                            <a [routerLink]="['/user/create_hub/create']" class="btn btn-primary">Start</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>