<section class="banner pt-150 pt-64" [ngStyle]="{'background-image':'url('+homepageData?.top_banner_image+')'}">
  <div class="container"><h1>{{homepageData?.top_banner_main_text}}</h1></div>
</section>
<section class="section what-is-femnesty">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-8">
        <h1 style="width: 80%">{{homepageData?.below_top_header}}</h1>
        <p class="pr-50">{{homepageData?.below_top_text}}</p>
        <a class="btn btn-primary" [routerLink]="['/page/about-us']">About us</a>
      </div>
      <div class="col-md-6 col-sm-4">
        <img [src]="homepageData?.below_top_side_image" alt="" class="img-responsive"/>
      </div>
    </div>
  </div>
</section>
<section class="section gray article">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2>{{homepageData?.below_second_list_heading1}}</h2>
        <p>{{homepageData?.below_second_list_text1}}</p><br>
        <a href="{{homepageData?.below_second_list_link1}}" class="btn btn-primary">READ MORE</a>
      </div>
      <div class="col-md-4">
        <h2>{{homepageData?.below_second_list_heading2}}</h2>
        <p>{{homepageData?.below_second_list_text2}}</p><br>
        <a href="{{homepageData?.below_second_list_link2}}" class="btn btn-primary">READ MORE</a>
      </div>
      <div class="col-md-4">
        <h2>{{homepageData?.below_second_list_heading3}}</h2>
        <p>{{homepageData?.below_second_list_text3}}</p><br>
        <a href="{{homepageData?.below_second_list_link3}}" class="btn btn-primary">READ MORE</a>
      </div>
    </div>
  </div>
</section>
<section class="section quote">
  <div class="container">
    <blockquote>
       <i class="ion-quote"></i>
        <p>{{homepageData?.below_list_maintext}}</p>
        <footer>John C. Maxwell</footer>
    </blockquote>
  </div>
</section>
<section class="section top-articles">
  <div class="container">
    <h1>Top Articles</h1>
    <div class="row">
      <div class="col-md-4 col-sm-6" *ngFor="let artData of homepageArtData">
        <div class="gray">
          <div class="article-image-holder"><img [src]="artData.image_url" alt="" /></div>
          <div class="article-add-holder">
            <h3>{{artData.title | limitTo : 20}} </h3>
            <span>Article by {{artData.author_name}}</span>
            <p>{{artData.short_desc | limitTo : 200}}</p><br>
            <a [routerLink]="['/articles/details',artData.slug]" class="btn btn-primary">Read Article</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section gray article">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2>{{homepageData?.last_list_heading1}}</h2>
        <p>{{homepageData?.last_list_text1}}</p><br>
        <a [routerLink]="['/user/shareyourstory']" class="btn btn-primary">READ MORE</a>
      </div>
      <div class="col-md-4">
        <h2>{{homepageData?.last_list_heading2}}</h2>
        <p>{{homepageData?.last_list_text2}}</p><br>
        <a [routerLink]="['/']" class="btn btn-primary">READ MORE</a>
      </div>
      <div class="col-md-4">
        <h2>{{homepageData?.last_list_heading3}}</h2>
        <p>{{homepageData?.last_list_text3}}</p><br>
        <a [routerLink]="['/user/mentor']" class="btn btn-primary">READ MORE</a>
      </div>
    </div>
  </div>
</section>