<section class="banner">
  <div class="container"><h1>Femnesty connects women from all walks of life and all around the world.</h1></div>
</section>
<section class="section what-is-femnesty">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-8">
        <h1>What is <br/>Femnesty?</h1>
        <p>Femnesty is a network that connects women from all around the world. It exists to help women recognise and unleash the potential in their own personal and professional lives, and to promote the positive roles we play as parents, professionals, family members and friends.</p>
        <button class="btn btn-primary">About us</button>
      </div>
      <div class="col-md-6 col-sm-4">
        <img src="assets/images/what-is.jpg" alt="" class="img-responsive"/>
      </div>
    </div>
  </div>
</section>
<section class="section gray article">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2>Articles</h2>
        <p>Read inspirational stories from women about the challenges of working, raising families and balancing personal fulfilment with professional success.</p>
        <button class="btn btn-primary">READ MORE</button>
      </div>
      <div class="col-md-4">
        <h2>Safe Place</h2>
        <p>Femnesty provides a dedicated Space where you can talk to, learn from and debate with women around the world on the issues that matter to you. </p>
        <button class="btn btn-primary">READ MORE</button>
      </div>
      <div class="col-md-4">
        <h2>Mentorship</h2>
        <p>Our mentoring scheme enables women to find, work with, learn from and even become the best mentors in their industry.

</p>
        <button class="btn btn-primary">READ MORE</button>
      </div>
    </div>
  </div>
</section>
<section class="section quote">
  <div class="container">
    <blockquote>
       <i class="ion-quote"></i>
        <p>The difference between average people and achieving people
is their perceptionof and response to failure.</p>
        <footer>John C. Maxwell</footer>
    </blockquote>
  </div>
</section>
<section class="section top-articles">
  <div class="container">
    <h1>Top Articles</h1>
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="gray">
          <div class="article-image-holder"><img src="assets/images/article.jpg" alt="" /></div>
          <div class="article-add-holder">
            <h3>Why be a Mentor? </h3>
            <span>Article by Author, June 14, 2017</span>
            <p>
            Tips and advice for mentors and mentees.
            Adam Williams has over 17 years of global 
            sales and marketing experience. He is a 
            passionate believer in servant leadership 
            and has found his niche...</p>
            <button  class="btn btn-primary">Read Article</button>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="gray">
          <div class="article-image-holder"><img src="assets/images/article.jpg" alt="" /></div>
          <div class="article-add-holder">
            <h3>Why be a Mentor? </h3>
            <span>Article by Author, June 14, 2017</span>
            <p>
            Tips and advice for mentors and mentees.
            Adam Williams has over 17 years of global 
            sales and marketing experience. He is a 
            passionate believer in servant leadership 
            and has found his niche...</p>
            <button  class="btn btn-primary">Read Article</button>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="gray">
          <div class="article-image-holder"><img src="assets/images/article.jpg" alt="" /></div>
          <div class="article-add-holder">
            <h3>Why be a Mentor? </h3>
            <span>Article by Author, June 14, 2017</span>
            <p>
            Tips and advice for mentors and mentees.
            Adam Williams has over 17 years of global 
            sales and marketing experience. He is a 
            passionate believer in servant leadership 
            and has found his niche...</p>
            <button  class="btn btn-primary">Read Article</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section gray article">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2>Share your story</h2>
        <p>Together we’re wiser and stronger. Tell us your story, so others can learn and grow from your experiences.</p>
        <button class="btn btn-primary">READ MORE</button>
      </div>
      <div class="col-md-4">
        <h2>Join the team</h2>
        <p>Femnesty is always looking for strong contributors to join our team. If you would like to get involved, contact us.</p>
        <button class="btn btn-primary">READ MORE</button>
      </div>
      <div class="col-md-4">
        <h2>Become a mentor</h2>
        <p>Women can be brilliant advocates. Become a mentor and help another woman achieve her dreams today.</p>
        <button class="btn btn-primary">READ MORE</button>
      </div>
    </div>
  </div>
</section>