blockquote{padding: 10px 0;}

#slider-css{
  width:100%;
  height:100%;
  position:relative;
  overflow:hidden;
}
@keyframes load{
  from{left:-100%;}
  to{left:0;}
}
.slides-css{
  width:400%;
  height:100%;
  position:relative;
  -webkit-animation:slide 30s infinite;
  -moz-animation:slide 30s infinite;
  animation:slide 30s infinite;
}
.slider-css{
  width:25%;
  height:100%;
  float:left;
  position:relative;
  z-index:1;
  overflow:hidden;
}


.feedhover{
  left:0 !important;
  background-color: black !important;
}

/* Switch */
.switch{
  width:120px;
  height:10px;
  position:absolute;
  bottom:50px;
  z-index:99;
  left:0;
}
.switch > ul{
  list-style:none;
}
.switch > ul > li{
  width:10px;
  height:10px;
  border-radius:50%;
  background:#333;
  float:left;
  margin-right:5px;
  cursor:pointer;
}
.switch ul{
  overflow:hidden;
}
.on{
  width:100%;
  height:100%;
  border-radius:50%;
  background:#f39c12;
  position:relative;
  -webkit-animation:on 30s infinite;
  -moz-animation:on 30s infinite;
  animation:on 30s infinite;
}

/* Animation */
@-webkit-keyframes slide{
  0%,100%{
    margin-left:0%;
  }
  21%{
    margin-left:0%;
  }
  25%{
    margin-left:-100%;
  }
  46%{
    margin-left:-100%;
  }
  50%{
    margin-left:-200%;
  }
  71%{
    margin-left:-200%;
  }
  75%{
    margin-left:-300%;
  }
  96%{
    margin-left:-300%;
  }
}
@-moz-keyframes slide{
  0%,100%{
    margin-left:0%;
  }
  21%{
    margin-left:0%;
  }
  25%{
    margin-left:-100%;
  }
  46%{
    margin-left:-100%;
  }
  50%{
    margin-left:-200%;
  }
  71%{
    margin-left:-200%;
  }
  75%{
    margin-left:-300%;
  }
  96%{
    margin-left:-300%;
  }
}
@keyframes slide{
  0%,100%{
    margin-left:0%;
  }
  21%{
    margin-left:0%;
  }
  25%{
    margin-left:-100%;
  }
  46%{
    margin-left:-100%;
  }
  50%{
    margin-left:-200%;
  }
  71%{
    margin-left:-200%;
  }
  75%{
    margin-left:-300%;
  }
  96%{
    margin-left:-300%;
  }
}

@-webkit-keyframes content-s{
  0%{left:-420px;}
  10%{left:0px;}
  30%{left:0px;}
  40%{left:0px;}
  50%{left:0px;}
  60%{left:0px;}
  70%{left:0;}
  80%{left:-420px;}
  90%{left:-420px;}
  100%{left:-420px;}
}
@-moz-keyframes content-s{
  0%{left:-420px;}
  10%{left:0px;}
  30%{left:0px;}
  40%{left:0px;}
  50%{left:0px;}
  60%{left:0px;}
  70%{left:0;}
  80%{left:-420px;}
  90%{left:-420px;}
  100%{left:-420px;}
}
@keyframes content-s{
  0%{left:-420px;}
  10%{left:20px;}
  15%{left:0px;}
  30%{left:0px;}h
  40%{left:0px;}
  50%{left:0px;}
  60%{left:0px;}
  70%{left:0;}
  80%{left:-420px;}
  90%{left:-420px;}
  100%{left:-420px;}
}

@-webkit-keyframes on{
  0%,100%{
    margin-left:0%;
  }
  21%{
    margin-left:0%;
  }
  25%{
    margin-left:15px;
  }
  46%{
    margin-left:15px;
  }
  50%{
    margin-left:30px;
  }
  71%{
    margin-left:30px;
  }
  75%{
    margin-left:45px;
  }
  96%{
    margin-left:45px;
  }
}

@-moz-keyframes on{
  0%,100%{
    margin-left:0%;
  }
  21%{
    margin-left:0%;
  }
  25%{
    margin-left:15px;
  }
  46%{
    margin-left:15px;
  }
  50%{
    margin-left:30px;
  }
  71%{
    margin-left:30px;
  }
  75%{
    margin-left:45px;
  }
  96%{
    margin-left:45px;
  }
}

@keyframes on{
  0%,100%{
    margin-left:0%;
  }
  21%{
    margin-left:0%;
  }
  25%{
    margin-left:15px;
  }
  46%{
    margin-left:15px;
  }
  50%{
    margin-left:30px;
  }
  71%{
    margin-left:30px;
  }
  75%{
    margin-left:45px;
  }
  96%{
    margin-left:45px;
  }
}




/*blockquote{
	margin: 46px 0 20px !important;
}
/* colorDissolve 
.colorDissolve {
	position: relative;
	  overflow: hidden;
	  width: 1000px;
	  height: 430px;
	}
	.colorDissolve .item {
		position: absolute;
	  left: 0;
	  right: 0;
	  opacity: 0;
	  -webkit-animation: colorDissolve 24s linear infinite;
	  -moz-animation: colorDissolve 24s linear infinite;
	  -ms-animation: colorDissolve 24s linear infinite;
	  animation: colorDissolve 24s linear infinite;
	}
	.colorDissolve .item:nth-child(2) {
	  -webkit-animation-delay: 6s;
	  -moz-animation-delay: 6s;
	  -ms-animation-delay: 6s;
	  animation-delay: 6s;
	}*/
	/* .colorDissolve .item:nth-child(3) {
	  -webkit-animation-delay: 12s;
	  -moz-animation-delay: 12s;
	  -ms-animation-delay: 12s;
	  animation-delay: 12s;
	} */
	/*span{
	position:absolute;
		top:0px;
		left:0px;
		color:#c30;
		font-size:2em;
		-webkit-text-stroke-width: 1px;
	   -webkit-text-stroke-color: black;
	}*/
	/*.colorDissolve .item:nth-child(4) {
	  -webkit-animation-delay: 18s;
	  -moz-animation-delay: 18s;
	  -ms-animation-delay: 18s;
	  animation-delay: 18s;
	}
	
	@-webkit-keyframes colorDissolve {
		0%, 25%, 100% { opacity: 0; }
		4.17%, 20.84% { opacity: 1;}
	}
	@-moz-keyframes colorDissolve {
		0%, 25%, 100% { opacity: 0; }
		4.17%, 20.84% { opacity: 1;}
	}
	@-ms-keyframes colorDissolve {
		0%, 25%, 100% { opacity: 0; }
		4.17%, 20.84% { opacity: 1;}
	}
	@keyframes colorDissolve {
		0%, 25%, 100% { opacity: 0; }
		4.17%, 20.84% { opacity: 1;}
	}*/