.input-custom-type {
    display: flex;
    align-items: center;
}

.input-custom-type span{width: 40%;
    width: 45%;
    padding: 19px 10px;
    color: #555;
    font-size: 18px;
    background: #ebebeb;
    border-radius: 5px;
    text-align: center;
}