<section class="sign-up-area">
    <div class="container">
       <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading> 
        <div class="sign-form" style="margin-top: 110px;">
            <h2>Company</h2>
            <div class="alert alert-danger" role="alert" *ngIf="(errorMsg != '')">
                <strong>Error!</strong> {{errorMsg}}
            </div>
            <div class="alert alert-success" role="alert" *ngIf="successMsg">
                    Please check your email and ativate your account, then <a (click)="companyLogin()" href="javascript:;">login</a>
            </div>
           
            <form [formGroup]="form" (ngSubmit)="checkSignup(form.value)" class="row form-area" #signupForm="ngForm">    
                 
                <div class="form-group col-md-6 input-custom-type">
                    <span>http://</span>
                    <input type="url" placeholder="Company Url" class="form-control" [formControl]="website" (ngModelChange)="checkCompanyurl($event)">
                    <!--<div class="text-danger" *ngIf="!website.valid && website.touched">
                      Please enter the correct Company Url, this Company Url is not valid.
                    </div>-->
                    <div class="text-danger" *ngIf="!website.valid && website.touched">
                            Enter the Company Url.
                    </div>
                    <div class="text-danger" *ngIf="!domainmatch1 && website.valid">
                        Company url domain and email domain not match.
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <input type="text" placeholder="Email Address" class="form-control" [formControl]="email" (ngModelChange)="checkEmail($event)">
                    <div class="text-danger" *ngIf="(email.hasError('email', 'email') || !email.valid) && email.touched">
                            Enter the correct email, this email is not valid.
                    </div>
                    <div class="text-danger" *ngIf="checkEmailExist && email.valid">
                        This email already exist.
                    </div>
                    <div class="text-danger" *ngIf="!domainmatch && email.valid">
                        Company url domain and email domain not match.
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <input type="text" placeholder="Company Name" class="form-control" [formControl]="company_name" (ngModelChange)="checkCompanyname($event)">
                    <div class="text-danger" *ngIf="!company_name.valid && company_name.touched">
                            Enter your company name.
                    </div>
                    <div class="text-danger" *ngIf="!checkCompanynameExist && company_name.valid">
                        This company already exist.
                    </div>
                    <!-- <div class="text-danger" *ngIf="!domainmatch && company_name.valid && checkCompanynameExist">
                        Company name and domain not match.
                    </div> -->
                    
                </div>
    
                <div class="form-group col-md-6">
                    <input type="text" placeholder="Contact Number" class="form-control" [formControl]="mobile_number">
                    <div class="text-danger" *ngIf="!mobile_number.valid && mobile_number.touched">
                            Enter the correct contact no, this contact no is not valid.
                    </div>
                    <!-- <div class="text-danger" *ngIf="!domainmatch && company_name.valid">
                        Company email domain  and company url not match.
                    </div> -->
                </div>
                
                <div class="form-group col-md-6">
                    <input type="password" placeholder="Password" name="password" validateEqual="cpassword" reverse="true" class="form-control" [formControl]="password">
                    <div class="text-danger" *ngIf="!password.valid && password.touched">Password required.</div>
                </div>
                <div class="form-group col-md-6">
                    <input type="password" placeholder="Confirm Password" name="cpassword" validateEqual="password" reverse="false" class="form-control" [formControl]="cpassword">
                    <div class="text-danger" *ngIf="!cpassword.valid && cpassword.touched">Confirm password required and the passwords must match.</div>                   
                </div>
                <div class="form-group col-md-12">
                    <p>
                        <input type="checkbox" id="test1" [formControl]="agreetab" />
                        <label for="test1">I agree to the <a class="text-red" [routerLink]="['/page/terms-of-use']" target="_blank">Terms and Conditions</a></label>
                    </p>
                    <div class="text-danger" *ngIf="!agreetab.valid">Please check terms and conditions.</div>
                </div>
                <div class="form-group col-md-12">
                    <button class="btn btn-primary" [disabled]="!signupForm.valid || checkEmailExist || !checkCompanynameExist || !domainmatch || !domainmatch1" type="submit">Submit</button>
                     <!--<button class="btn btn-primary" [disabled]="!signupForm.valid || disableSignup" type="submit">Submit</button>-->
                </div>
               
            </form>
        </div>
    </div>
  </section>
  
  