<div class="rightPart">                			
    <div class="innerRightPart right-map-details">
      <h2>Company details</h2>
      <div class="right-map">
        <img src="assets/images/map.jpg" alt="" />
      </div>
      <b>Thammavongsa</b>
      <p>Lorem ipsum dolor sit amet, consectetur.</p>
      
      <b>About Company</b>
      <p>{{profileData.bio}}</p>
      <b>Website <span>{{profileData.website}}</span></b>
      <b>Phone <span>{{profileData.mobile_number}}</span></b>
      <b>Email <span>{{profileData.email}}</span></b>
      <b>Opening Hour <span>{{profileData.opening_hour}}</span></b>
    </div>
    <div class="innerRightPart right-map-details right-followers">
      <h2>Followers</h2>
      <ul *ngIf="userFollowerList?.length > 0">         
        <li *ngFor="let followData of userFollowerList">               
          <a [routerLink]="['/user/profile',followData.display_name]"><img src="{{followData.profile_image}}" alt="{{followData.first_name}} {{followData.last_name}}" /></a>
        </li>
       
      </ul>
<a href="#" class="viewAll text-center">View All</a>
    </div>
    <div class="innerRightPart right-map-details">
      <h2>Photos & Videos</h2>
      <ul class="photoImage" *ngIf="companyImageList?.length > 0">
        <li *ngFor="let imageList of  companyImageList">
          <a href="#">
            <div class="img" style="background-image: url(imageList.file_name)"></div>
          </a>
        </li>       

      </ul>
      <a href="#" class="viewAll text-center">View All</a>
    </div>
<div class="innerRightPart right-map-details right-sharing">
<h2>Share</h2>
      <ul>
  <li><a href="" class="fa fa-facebook" style="background: #395899"></a></li>
  <li><a href="" class="fa fa-linkedin" style="background: #19699c"></a></li>
  <li><a href="" class="fa fa-twitter" style="background: #499bcd"></a></li>
</ul>
    </div>
  </div>