<div class="rightPart">                			
    <div class="innerRightPart right-map-details">
      <h5>Company details</h5>
      <div class="right-map">
        <img src="assets/images/map.jpg" alt="" />
      </div>
      <b>Thammavongsa</b>
      <p>Lorem ipsum dolor sit amet, consectetur.</p>
      
      <b>About Company</b>
      <p>{{profileData.bio}}</p>
      <b>Website <span>{{profileData.website}}</span></b>
      <b>Phone <span>{{profileData.mobile_number}}</span></b>
      <b>Email <span>{{profileData.email}}</span></b>
      <b>Opening Hour <span>8am - 6pm</span></b>
    </div>
    <div class="innerRightPart right-map-details right-followers">
      <h5>Followers</h5>
      <ul>
  <li><a href=""><img src="assets/images/team-2.jpg" alt="" /></a></li>
  <li><a href=""><img src="assets/images/team-2.jpg" alt="" /></a></li>
  <li><a href=""><img src="assets/images/team-2.jpg" alt="" /></a></li>
  <li><a href=""><img src="assets/images/team-2.jpg" alt="" /></a></li>
  <li><a href=""><img src="assets/images/team-2.jpg" alt="" /></a></li>
  <li><a href=""><img src="assets/images/team-2.jpg" alt="" /></a></li>
  <li><a href=""><img src="assets/images/team-2.jpg" alt="" /></a></li>
  <li><a href=""><img src="assets/images/team-2.jpg" alt="" /></a></li>
  <li><a href=""><img src="assets/images/team-2.jpg" alt="" /></a></li>
  <li><a href=""><img src="assets/images/team-2.jpg" alt="" /></a></li>
  <li><a href=""><img src="assets/images/team-2.jpg" alt="" /></a></li>
</ul>
<a href="#" class="viewAll text-center">View All</a>
    </div>
    <div class="innerRightPart right-map-details">
      <h5>Photos & Videos</h5>
      <ul class="photoImage">
        <li>
          <a href="#">
            <div class="img" style="background-image: url('assets/images/dog.jpg')"></div>
          </a>
        </li>
        <li>
          <a href="#">
            <div class="img" style="background-image: url('assets/images/dog.jpg')"></div>
          </a>
        </li>
        <li>
          <a href="#">
            <div class="img" style="background-image: url('assets/images/dog.jpg')"></div>
          </a>
        </li>
        <li>
          <a href="#">
            <div class="img" style="background-image: url('assets/images/dog.jpg')"></div>
          </a>
        </li>
        <li>
          <a href="#">
            <div class="img" style="background-image: url('assets/images/dog.jpg')"></div>
          </a>
        </li>
        <li>
          <a href="#">
            <div class="img" style="background-image: url('assets/images/dog.jpg')"></div>
          </a>
        </li>

      </ul>
      <a href="#" class="viewAll text-center">View All</a>
    </div>
<div class="innerRightPart right-map-details right-sharing">
<h5>Share</h5>
      <ul>
  <li><a href="" class="fa fa-facebook" style="background: #395899"></a></li>
  <li><a href="" class="fa fa-linkedin" style="background: #19699c"></a></li>
  <li><a href="" class="fa fa-twitter" style="background: #499bcd"></a></li>
</ul>
    </div>
  </div>