<section class="section section2 about-content-area visitingProfile">
    <div class="container-fluid">
        <div class="row flex-profile">
            <div class="col-md-3 flex-left">
              <div *ngIf="isUserLogin == 1">
                  <app-group-leftbar [groupData]="groupDetailsData"></app-group-leftbar>
              </div>
            </div>
            <div class="col-md-6 flex-middle pd-5">
                <div class="middlePart">
                    <div class="topPart" [ngStyle]="{'background-image':'url('+groupDetailsData.group_image+')'}">
                      </div>
                   
                      <div class="profDes">
                          <h2 class="text-center">{{groupDetailsData.group_name}}</h2>
                          <p class="text-center">
                              {{groupDetailsData.short_desc}} 
                              <span *ngIf="groupDetailsData.group_type=='1'"> (Public)</span>
                              <span *ngIf="groupDetailsData.group_type=='2'"> (Private)</span>
                            </p>
                          <p class="text-center addressP">{{groupDetailsData.member_count}} Members</p>
                      </div>
                    
                    <div class="tabPart">
                        <!--<ul class="nav nav-pills">
                            <li [ngClass]="{'active' : activeTab=='activity'}"><a (click)="toggleTab('activity')">Activity</a></li>
                            <li [ngClass]="{'active' : activeTab=='about'}"><a (click)="toggleTab('about')">About</a></li>
                            <li [ngClass]="{'active' : activeTab=='connections'}"><a (click)="toggleTab('connections')">Connections</a></li>
                            <li [ngClass]="{'active' : activeTab=='group'}"><a (click)="toggleTab('group')">Group</a></li>
                        </ul>-->
                        
                        <div class="tab-content">
                            <div class="tab-pane fade in active">
                                <div class="shareYourThought">
                                  <div class="row"  *ngIf="groupImgList?.length > 0">
                                  <h4>{{groupDetailsData.group_name}} Photos</h4>
                                    <div class="col-sm-3 col-xs-4 pd-7" *ngFor="let gimgdata of groupImgList">
                                        <div class="img" [ngStyle]="{'background-image':'url('+gimgdata.file_name+')'}"></div>
                                    </div>
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="col-md-3 flex-right">
                  <app-user-prfrsidebar></app-user-prfrsidebar>
            </div>-->
            <div class="col-md-3 flex-right" *ngIf="(groupDetailsData.group_type=='1' || !isJoinGroup)">
                <app-group-rightbar [groupData]="groupDetailsData" [groupPId]="isGroupId"></app-group-rightbar>
            </div>
        </div>
    </div>
  </section>