 <!-- inner  banner -->
        
<section class="inner-banner" [ngStyle]="{'background-image':'url('+enrichmentConData[0]?.banner_image_url+')', 'background-position': 'center', 'background-repeat': 'no-repeat','background-size': 'cover'}" >
<!--<section class="inner-banner" [style.background]="'url('+enrichmentConData[0].banner_image_url+')'"> -->
    <div class="container">
      <div class="row">
          <div class="col-md-7">
              <h1 class="text-white">{{enrichmentConData[0]?.title}}</h1>
          </div>
      </div>
  </div>
</section>
<!--   -->

<section class="section p-16 article-page enrichment-page">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-12 col-xs-12">
        <div class="enrichmentHeading">
          <h2>{{enrichmentConData[0]?.page_heading}}<span class="bottomLine"></span></h2>
          <p>{{enrichmentConData[0]?.short_desc}}</p>
        </div>
      </div>
    </div>
    <div class="row enrichmentText">
        <div class="col-md-4 col-sm-6" *ngFor="let catEnrichment of enrichmentCatConData">
            <img [src]="catEnrichment.image_url" alt="" class="img-responsive">
            <h3 class="text-red">{{catEnrichment.title}}</h3>
            <!--<p>{{catEnrichment.short_desc.toString() | limitTo:200}}</p>-->
            <p>{{catEnrichment.short_desc | limitTo : 250}}</p>
            <a [routerLink]="['/enrichment/books']" class="btn btn-primary" *ngIf="(catEnrichment.id == 2)">Find Out More</a>
            <a [routerLink]="['/enrichment/events']" class="btn btn-primary" *ngIf="(catEnrichment.id == 5)">Find Out More</a>
            <a [routerLink]="['/enrichment/videos']" class="btn btn-primary" *ngIf="(catEnrichment.id == 4)">Find Out More</a>
        </div>
        
    </div>
  </div>
</section>