<section class="section section2 about-content-area visitingProfile">
    <div class="container-fluid">
        <div class="row flex-profile">
            <div class="col-md-3 flex-left">
              <div>
                  <user-sidebar></user-sidebar>
              </div>
            </div>
            <div class="col-md-6 flex-middle pd-5">
                <div class="middlePart">
                    
                </div>
            </div>
            <div class="col-md-3 flex-right">
                  <app-user-prfrsidebar></app-user-prfrsidebar>
            </div>
        </div>
    </div>
  </section>