.result {
    margin-top: 30px;
    border: 1px solid rgba(125,125,125,0.6);
    display: inline-block;
    padding: 1px;
}

.result.rounded > img {
    border-radius: 50%;
}
.topPart{
    height: 210px;
    background-size: cover;

}
.profPhoto .img{
    top: -60px;
}

.profImageP .img {
    height: 50px;
    width: 50px;
    background-size: cover;
    border-radius: 50%;
}

.connectionList {
    border: 1px solid #e9ebee;
    display: inline-block;
    margin: 0 0 13px 13px;
    padding: 0 10px 0 0;
    position: relative;
    vertical-align: top;
    width: 80%;
}