<section class="section section2 about-content-area visitingProfile">
    <div class="container-fluid">
        <div class="row flex-profile">
            <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
            <div class="col-md-3 flex-left">
                <user-sidebar></user-sidebar>
            </div>
            <div class="col-md-6 flex-middle pd-5">
                <div class="middlePart">
                    <div class="topPart" *ngIf="!coverImageData.image" [ngStyle]="{'background-image':'url('+publicCmpDet.cover_image_url+')'}">
                        <!--<img [src]="loginUserDet.cover_image_url" class="img-responsive">-->
                        <!-- <div class="change-img">
                            <i class="fa fa-camera"></i>
                            <div class="txt">Upload Banner Photo</div>
                        </div>
                        <input type="file" class="change-img-input" (change)="fileChangeListenerCover($event)">
                        <div class="addCoverPhoto">
                            <span class="coverPhoto">Add Cover Photo</span>
                        </div> -->
                        <div class="change-img" (click)="openUpdateCoverProModal(updateCoverPictureModal)">
                                <i class="fa fa-camera"></i>
                                <div class="txt">Upload Banner Photo</div>
                            </div>
                    </div>
                    <!--<div class="topPart inner-bg" *ngIf="coverImageData.image" [ngStyle]="{'background-image':coverImageData.image}">
                        <img [src]="coverImageData.image" style="width:100%;height:100%">
                    </div>-->
                    <div class="profPhoto">
                        <div *ngIf="!prfImageData.image" class="img imgp1" [ngStyle]="{'background-image':'url('+publicCmpDet.image_url+')'}">

                            <!-- <div class="inner-bg">
                                <div class="icon-change" id="clickableLiElement">
                                    <i class="fa fa-camera"></i>
                                    <div class="txt">Update Profile <br> Picture</div>
                                    <input type="file" id="theFileInput" (change)="fileChangeListener($event)" />
                                </div>
                            </div> -->
                            <div class="inner-bg" (click)="openUpdateProModal(updateProfilePictureModal)">
                                    <div class="icon-change" id="clickableLiElement">
                                        <i class="fa fa-camera"></i>
                                        <div class="txt">Update Profile
                                            <br> Picture</div>
                                    </div>
                                </div>
                        </div>
                        <div class="img result rounded" *ngIf="prfImageData.image">
                            <img [src]="prfImageData.image" style="width:100%; height:100%">
                        </div>
                    </div>
                    <div class="col-md-12" *ngIf="showImgDive">
                        <div class="col-md-12" *ngIf="prfImageData.image" style="padding-bottom:10px;">
                            <div class="col-md-4" style="padding-top: 90px;">
                                <button type="button" class="btn btn-primary" (click)="UploadPrfImg()">Upload</button>
                            </div>
                        </div>
                        <img-cropper #cropper [image]="prfImageData" [settings]="prfCropperSettings" (onCrop)="cropped($event)"></img-cropper>
                    </div>
                    <div class="col-md-12" *ngIf="showCoverImgDive">
                        <div class="col-md-12" *ngIf="coverImageData.image" style="padding-bottom:10px;">

                            <div class="col-md-4" style="padding-top: 10px;">
                                <button type="button" class="btn btn-primary" (click)="UploadCoverImg()">Upload</button>
                            </div>
                        </div>
                        <div class="col-md-12 text-center">
                            <img-cropper #cropper [image]="coverImageData" [settings]="coverCropperSettings" (onCrop)="cropped($event)"></img-cropper>
                        </div>
                    </div>
                    <div class="profDes">
                        <h2 class="text-center">{{publicCmpDet?.name}}</h2>
                        <p class="text-center">{{publicCmpDet.bio}}</p>
                        <p class="text-center addressP">{{publicCmpDet.address}}, {{publicCmpDet.city}}</p>
                    </div>
                    <div class="tabPart">
                        <ul class="nav nav-pills">
                            <li [ngClass]="{'active' : activeTab=='activity'}"><a (click)="toggleTab('activity')">Activity</a></li>
                            <li [ngClass]="{'active' : activeTab=='about'}"><a (click)="toggleTab('about')">About</a></li>
                            <li [ngClass]="{'active' : activeTab=='contact'}"><a (click)="toggleTab('contact')">Contact</a></li>
                            <li [ngClass]="{'active' : activeTab=='invite'}"><a (click)="toggleTab('invite')">Invite</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade" [ngClass]="{' in active' : activeTab=='activity'}">
                                <app-post-create [postType]="groupPostDetData" (getUserPostDetails)="getUserPostDetails()"></app-post-create>
                                <div *ngIf="userPostList?.length > 0">
                                    <div *ngFor="let postData of userPostList">
                                        <app-post-card [postData]="postData"></app-post-card>
                                    </div>
                                </div>
                                <div class="likePart" *ngIf="userPostList?.length == 0">
                                    <div class="row">
                                        <div class="col-md-10">
                                            <div class="nothing">Nothing more to show</div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div id="menu1" class="tab-pane fade" [ngClass]="{' in active' : activeTab=='about'}">
                                <app-about-company [companyID]="cmpId" [adminStatus]="adminStatusObj"></app-about-company>
                            </div>
                            <div id="menu2" class="tab-pane fade" [ngClass]="{' in active' : activeTab=='contact'}">
                                <div class="connectionsPart">
                                    
                                    <!-- <h2>Employee List</h2> -->
                                    <!-- <div class="connections">

                                        <div class="grp-rqsts" *ngIf="userEmployeeList?.length > 0">
                                            
                                            <ul >
                                                <li *ngFor="let userData of userEmployeeList">
                                                    <div class="left-area">
                                                        <div class="round-image">
                                                            <a [routerLink]="['/user/profile',userData.display_name]">
                                                                <img [src]="userData.profile_image" alt="">
                                                            </a>
                                                        </div>
                                                        <div class="content-part">
                                                            <p>{{userData.name}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="right-area">
                                                        <p>
                                                                <a class="btn btn-primary" [routerLink]="['/user/profile',userData.display_name]">
                                                                   <b>View</b>
                                                                </a>
                                                           
                                                        </p>
                                                    </div>
                                                </li>
                                                
                                            </ul>
                                    </div>

                                           
                                        <div class="likePart" *ngIf="userEmployeeList?.length == 0">
                                            <div class="row">
                                                <div class="col-md-10">
                                                    <div class="nothing">No employee found</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div> -->
 
                                    <h2>Follower List</h2>

                                    <div class="connections">

                                            <div class="grp-rqsts" *ngIf="userFollowerList?.length > 0">
                                            
                                                    <ul >
                                                        <li *ngFor="let userData of userFollowerList">
                                                            <div class="left-area">
                                                                <div class="round-image">
                                                                    <a [routerLink]="['/user/profile',userData.display_name]">
                                                                        <img [src]="userData.profile_image" alt="">
                                                                    </a>
                                                                </div>
                                                                <div class="content-part">
                                                                    <p>{{userData.name}}</p>
                                                                </div>
                                                            </div>
                                                            <div class="right-area">
                                                                <p>
                                                                        <a class="btn btn-primary" (click)="follower_block(userData.id)" >
                                                                           <b>Block</b>
                                                                        </a>
                                                                   
                                                                </p>
                                                            </div>
                                                        </li>
                                                        
                                                    </ul>
                                            </div>







                                        <!-- <ul class="friend-box" *ngIf="userFollowerList?.length > 0">
                                            <li class="friend-box-list" *ngFor="let followData of userFollowerList">
                                                <div class="friend-boxImage">
                                                    <a [routerLink]="['/user/profile',followData.display_name]">
                                                        <div class="img" [ngStyle]="{'background-image':'url('+followData.profile_image+')'}"></div>
                                                    </a>
                                                </div>
                                                <div class="friend-boxText">
                                                    <a [routerLink]="['/user/profile',followData.display_name]">
                                                        <h2>{{followData.name}}</h2>
                                                    </a>  
                                                </div>
                                            </li>
                                        </ul> -->
                                        <div class="likePart" *ngIf="userFollowerList?.length == 0">
                                            <div class="row">
                                                <div class="col-md-10">
                                                    <div class="nothing">No followers found</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>

                            <div id="menu3" class="tab-pane fade" [ngClass]="{' in active' : activeTab=='invite'}">
                                    <!-- <h3>Select multiple cities</h3>
                                    <ng-select  [multiple]="true"
                                                [items]="items"
                                                [disabled]="disabled"
                                                (selected)="selected($event)"
                                                (removed)="removed($event)"
                                                placeholder="No city selected"></ng-select> -->
                                                <div class="alert alert-success" role="alert" *ngIf="(successMsg != '')">
                                                        {{successMsg}}
                                                    </div>
                                                    <div class="alert alert-danger" role="alert" *ngIf="errorFriendrMsg != ''">
                                                        {{errorFriendrMsg}}
                                                    </div>
                                                <h2>Add Employee</h2>
                                                <div class="form-group row">
                                                        <div class="col-sm-12">
                                                            <form method="post" [formGroup]="postform" (ngSubmit)="sendInvites()" #createGroupForm="ngForm">
                                                                <div class="form-group">
                                                                    <select class="form-control" multiple required formControlName="user_ids">
                                                                        <option value="{{ itm.id }}" *ngFor="let itm of items">{{ itm ?.text }}</option>
                                                                    </select>
                                                                </div>
                                                                <!-- <ng-select [multiple]="true" [(ngModel)]="friends" formControlName="user_ids" [items]="items" placeholder="No city selected"></ng-select> -->
                                                                
                                                                <input type="submit" value="Send" class="btn btn-primary">
                                                            </form>
                                                        </div>
                                                    </div>
                               
                                                <div class="connectionsPart">
                                    
                                        
                                        <!-- <div class="form-group row" >
                                                <div class="col-sm-12">
                                                  <!-- <select class="form-control-plaintext" multiple>
                                                    <option value="{{ user.id }}" *ngFor="let user of userSearchFrndList">{{ user?.name }}</option>
                                                  </select> -->
                                                  <!--<ng-select [multiple]="true"  [items]="items" placeholder="No friend selected"></ng-select>
                                                </div>
                                              </div> -->
                                    <h2>Request List</h2>
                                    <div class="connections">
                                        
                                            <div class="grp-rqsts" *ngIf="userRequestList?.length > 0">
                                                    <!-- <h3 style="margin-top: 0px;">Request to join group</h3> -->
                                                    <ul >
                                                        <li *ngFor="let userData of userRequestList">
                                                            <div class="left-area">
                                                                <div class="round-image">
                                                                    <a [routerLink]="['/user/profile',userData.display_name]">
                                                                        <img [src]="userData.profile_image" alt="">
                                                                    </a>
                                                                </div>
                                                                <div class="content-part">
                                                                    <p>{{userData.name}}</p>
                                                                </div>
                                                            </div>
                                                            <div class="right-area">
                                                                <p>
                                                                    <button *ngIf="isloginUserId !=''" type="button" class="btn btn-primary" (click)="RequestAccept(userData.id, 2)">Accept</button>
                                                                    <button *ngIf="isloginUserId !=''" type="button" class="btn btn-black btn-default" (click)="RequestAccept(userData.id, 3)">Decline</button>
                                                                </p>
                                                            </div>
                                                        </li>
                                                        
                                                    </ul>
                                            </div>
                                        



                                        <!-- <ul class="friend-box" *ngIf="userRequestList?.length > 0">
                                            <li class="friend-box-list" *ngFor="let userData of userRequestList">
                                                <div class="friend-boxImage">
                                                    <a [routerLink]="['/user/profile',userData.display_name]">
                                                    <div class="img" [ngStyle]="{'background-image':'url('+userData.profile_image+')'}"></div>
                                                    </a>
                                                </div>
                                                <div class="friend-boxText">
                                                    <a [routerLink]="['/user/profile',userData.display_name]">
                                                        <h2>{{userData.name}}</h2>
                                                    </a>   
                                                    <a (click)="RequestAccept(userData.id, 2)" class="btn btn-primary">Accept</a>
                                                    <a (click)="RequestAccept(userData.id, 3)" class="btn btn-primary">Reject</a> 
                                                </div>
                                            </li>
                                        </ul> -->
                                        <div class="likePart" *ngIf="userRequestList?.length == 0">
                                            <div class="row">
                                                <div class="col-md-10">
                                                    <div class="nothing">No request found</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 flex-right">
                <app-company-rightbar [profileData]="publicCmpDet" [companyID]="cmpId"></app-company-rightbar>
            </div>
        </div>
    </div>
</section>


<ng-template #updateCoverPictureModal let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h4 class="modal-title">Change Image</h4>
            <button type="button" class="close" aria-label="Close" (click)="c('Close click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
                <div class="alert alert-danger" role="alert" *ngIf="modalErrorMsg">
                        {{modalErrorMsg}}
                    </div>
                <div class="img result" *ngIf="!IsShowCropperCoverImage">
                        <img [src]="publicCmpDet.cover_image_url" style="width:100%; height:100%">
                    </div>
                    <div class="inner-bg">
                            <div class="icon-change">
                                <div class=" btn modal-btn-black btn-default" style="float:right;">Change Image
                                    <input type="file" id="upload" accept="image/*" (change)="coverCropperChange($event)" />
                                </div>
                            </div>
                        </div>
                        <div class="upload-demo">
                            <div class="upload-demo-wrap">
                                <div id="upload-demo"></div>
                            </div>
                        </div>
            <!-- <div class="img result" *ngIf="!coverCroppedImage">
                <img [src]="publicCmpDet.cover_image_url" style="width:100%; height:100%">
            </div>
            <div class="img result" *ngIf="coverCroppedImage">
                <img [src]="coverCroppedImage" style="width:100%; height:100%">
    
    
            </div>
    
            <div class="col-md-12" *ngIf="showCoverCrop">
                <image-cropper [imageChangedEvent]="coverImageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="4 / 3" [resizeToWidth]="200"
                    format="png" (imageCropped)="coverImageCropped($event)"></image-cropper>
            </div>
            <div class="inner-bg">
                <div class="icon-change">
                    <div class=" btn modal-btn-black btn-default" style="float:right;">Change Image
                        <input type="file" id="theFileInput" (change)="fileChangeListenerCover($event)" />
                    </div>
                </div>
            </div> -->
    
        </div>
        <div class="modal-footer">
            <button type="button" class="btn modal-btn-primary" (click)="resetCover()">Remove Image</button>
            <button type="button" class="btn modal-btn-primary" (click)="c('Close click')">Cancel</button>
            <button type="button" class="btn modal-btn-black btn-default" (click)="UploadCoverImg()">Change</button>
        </div>
    </ng-template>


    <ng-template #updateProfilePictureModal let-c="close" let-d="dismiss">
            <div class="modal-header">
                <h4 class="modal-title">Change Image</h4>
                <button type="button" class="close" aria-label="Close" (click)="c('Close click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                    <div class="alert alert-danger" role="alert" *ngIf="modalErrorMsg">
                            {{modalErrorMsg}}
                        </div>
                <div class="img result" *ngIf="!IsShowCropperProfileImage">
                    <img [src]="publicCmpDet.image_url" style="width:100%; height:100%">
                </div>
                <div class="inner-bg">
                    <div class="icon-change">
                        <div class=" btn modal-btn-black btn-default" style="float:right;">Change Image
                            <input type="file" id="upload" accept="image/*" (change)="cropperChange($event)" />
                        </div>
                    </div>
                </div>
                <div class="upload-demo">
                    <div class="upload-demo-wrap">
                        <div id="upload-demo"></div>
                    </div>
                </div>
        
            </div>
            <div class="modal-footer">
                    <button type="button" class="btn modal-btn-primary" (click)="resetPro()">Remove Image</button>
                <button type="button" class="btn modal-btn-primary" (click)="c('Close click')">Cancel</button>
                <button type="button" class="btn modal-btn-black btn-default"  (click)="UploadPrfImg()">Change</button>
            </div>
        </ng-template>