
.topPart{
    height: 210px;
    background-size: cover;

}
.profPhoto .img{
    top: -60px;
}

.profImageP .img {
    height: 50px;
    width: 50px;
    background-size: cover;
    border-radius: 50%;
}
.grp-rqsts h4{font-family: 'montserratmedium';color: #000000;text-transform: uppercase;font-size: 12px; letter-spacing: 1px; margin-bottom: 20px}
.grp-rqsts ul{padding:0; margin: 0; list-style-type: none; display: block !important;}
.grp-rqsts ul li{display: flex; flex-wrap:wrap; padding: 20px 0; text-align: left; width:100%; justify-content: space-between; align-items:center; border-bottom:3px solid #f0f0f0; margin-right: 0; margin-bottom: 0}
.grp-rqsts ul li:last-child{border-bottom:0}
.grp-rqsts ul li .left-area{display: flex; align-items:center}
.grp-rqsts ul li .right-area p{margin-bottom: 0}
.grp-rqsts ul li .round-image{margin-right: 10px}
.grp-rqsts ul li .round-image img{width:46px; height:46px; border-radius:100%}
.grp-rqsts ul li .content-part{flex:1 1 auto}
.grp-rqsts ul li .content-part p{margin-bottom:0;line-height:1.1}
.grp-rqsts ul li .content-part small{color:#7e7e7e;line-height:1; font-size:9px}
.grp-rqsts ul li .btn{font-size:10px !important; padding:9px 22px; text-transform:uppercase; margin: 3px 0}
.grp-rqsts ul li .btn.btn-default{background: #373737; box-shadow:none; text-shadow:none; color:#fff; border-radius:50px; border: 0}
.grp-rqsts ul li .btn.btn-default:hover{background: #000; transition: ease all 0.2s}