<section class="section section2 about-content-area visitingProfile">
    <div class="container-fluid">
        <div class="row flex-profile">
            <div class="col-md-3 flex-left">
                <user-sidebar></user-sidebar>
            </div>
            <div class="col-md-6 flex-middle pd-5">                
                <div class="notification-wrap new-notifi-box">
                		 <div class="new-notifi-header">
                		 	<h2>NOTIFICATIONS</h2> <a href="">SETTINGS</a>    
                		 </div>
                      <ul>
                          <li *ngFor="let notiData of userNotiList" [ngClass]="{'unread' : notiData.is_view=='0'}">
                              <div class="image-area">
                                  <!--<a [routerLink]="['/user/profile',notiData.display_name]">
                                    <div class="noti-image" [ngStyle]="{'background-image':'url('+notiData.profile_image+')'}"></div>
                                  </a>{{repoUrl+'/'+notiData.link}}-->
                                  <a href="javascript:void(0)" (click)="go_notification_details(notiData.link,notiData.id)">
                                    <div class="noti-image" [ngStyle]="{'background-image':'url('+notiData.profile_image+')'}"></div>
                                  </a>
                              </div>
                              <div class="text-area">
                                  <a href="javascript:void(0)" (click)="go_notification_details(notiData.link,notiData.id)">
                                    <h4>{{notiData.name}}<span>{{notiData.message}}</span></h4>
                                    <p class="desc">{{notiData.created_date | dateTimeFormat: 'dd MMM yyyy h:m a'}}</p>
                                  </a>                                                                 
                              </div>
                            <div _ngcontent-c5="" class="notify-right"> 
                                <a _ngcontent-c5="" class="icondown" (click)="togglenotiList(notiData.id)">
                                    <i _ngcontent-c5="" class="icon ion-chevron-down"></i>
                                </a>
                                <div _ngcontent-c5="" class="post-drop-box" *ngIf="IsShowSubMainCommentAction && IsShowSubMainCommentAction[notiData.id]">
                                    <div _ngcontent-c5="" class="closed"><a _ngcontent-c5="" (click)="togglenotiList(notiData.id)"><img _ngcontent-c5="" alt="" src="assets/images/cross.png"></a></div>
                                    <a _ngcontent-c5="" href="javascript:void(0)" title="Hide Notification">Hide Notification</a>
                                    <a _ngcontent-c5="" href="javascript:void(0)" title="Turn off these notifications"> Turn off these notifications</a>
                                    <a _ngcontent-c5="" href="javascript:void(0)" title="Mark as unread">Mark as unread </a>
                                </div>
                            </div>
                          </li>
                      </ul>
                  </div>
              
            </div>
            <div class="col-md-3 flex-right">
                <app-user-prfrsidebar></app-user-prfrsidebar>
            </div>
        </div>
    </div>
</section>