<section class="section about-content-area visitingProfile">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <user-sidebar></user-sidebar>
            </div>
            <div class="col-md-6">
                <div class="middlePart">
                    <div class="notification-wrap">
                        <h2>Your notification</h2>
                      <ul>
                          <li *ngFor="let notiData of userNotiList">
                              <div class="image-area">
                                  <a [routerLink]="['/user/profile',notiData.display_name]">
                                    <div class="noti-image" [ngStyle]="{'background-image':'url('+notiData.profile_image+')'}"></div>
                                  </a>
                              </div>
                              <div class="text-area">
                                  <a [routerLink]="['/user/profile',notiData.display_name]">
                                    <h4>{{notiData.name}}</h4>
                                  </a>
                                  <p class="desc">{{notiData.message}}</p>
                                  <p class="time">{{notiData.created_date | dateTimeFormat: 'dd MMM yyyy h:m a'}}</p>
                              </div>
                              
                          </li>
                      </ul>
                  </div>
              </div>
            </div>
            <div class="col-md-3">
                <app-user-prfrsidebar></app-user-prfrsidebar>
            </div>
        </div>
    </div>
</section>