<div class="rightPart"> 
    <div class="innerRightPart" *ngIf="userImgList?.length > 0 && (get_value.photo_visible == 0 || (get_value.photo_visible ==1 && is_friend == '1' ) || isloginUserId == loginUserId)">
        <h2>Photos</h2>
        <ul class="photoImage">
            <li *ngFor="let imgData of userImgList | slice:0:6;">
                <div class="img" [ngStyle]="{'background-image':'url('+imgData.image_url+')'}"></div>
            </li>
        </ul>
        <a *ngIf="userImgList?.length > 6" [routerLink]="['/user/other_all_photo']" class="viewAll text-center">View All</a>
        <!--<a href="#" class="viewAll text-center">View All</a>-->
    </div>
    <div class="innerRightPart" *ngIf="userImgList?.length == 0 && (get_value.photo_visible == 0 || (get_value.photo_visible ==1 && is_friend == '1' ))">
        <h2>Photos</h2>
        <p>This user hasn't added photo's yet</p>
    </div>
    <div class="innerRightPart" *ngIf="get_value.photo_visible ==1 && is_friend == '0' && isloginUserId != loginUserId">
        <h2>Photos</h2>
        <p>You don't have permission to see this.</p>
    </div>
    <!--<div class="innerRightPart share-story">
        <h1>Share your story</h1>
        <p>Femnesty is always looking for strong, positive contributors to join our team.</p>
        <div class="">
            <div class="row">
                <div class="col-md-12">
                    <a [routerLink]="['/user/shareyourstory']" class="btn btn-primary">Post your story</a>
                </div>
            </div>
        </div>
    </div>-->
	
	 <div class="innerRightPart" *ngIf="latestHubList?.length > 0 && (get_value.hub_visible == 0 || (get_value.hub_visible ==1 && is_friend == '1' ) || isloginUserId == loginUserId)">
        <h2 style="margin-bottom: 0">MY ATTENDING HUBS</h2>
        <div class="hubMet hubMet1 group">
            <div class="row" *ngFor="let hubData of latestHubList">
                <div class="col-md-4">
                    <a href="">
                        <div class="img" [ngStyle]="{'background-image':'url('+hubData.image+')'}"></div>
                    </a>
                </div>
                <div class="col-md-8">
                    <h2 style="margin-top: 8px">{{hubData.title | limitTo : 30}}</h2>
                    <p style="margin:0px" *ngIf="hubData.type !='R'">{{hubData.hub_date}}</p>
                    <p style="margin:0px" *ngIf="hubData.type =='R'">{{hubData.recurring_start}} - {{hubData.recurring_end}}</p>
                    <!-- <p>{{hubData.address}}</p> -->
                    <a [routerLink]="['/user/hub_details',hubData.slug]" class="btn btn-primary" style="margin-top: 8px">View Hub</a>
                </div>
            </div>

        </div>
        <a class="btn btn-primary" href="javascript:void(0)" *ngIf="IsShowViewMore" (click)="viewMore()">View More</a>
    </div>

    <div class="innerRightPart" *ngIf="!latestHubList && latestHubList?.length == 0">
        <h2 style="margin-bottom: 0">MY ATTENDING HUBS</h2>
        <div class="hubMet hubMet1 group">
                Not currently attending any Hubs.
        </div>
        
    </div>
	
    <div class="innerRightPart" *ngIf="userGrpList?.length > 0 && (get_value.group_visible == 0 || (get_value.group_visible ==1 && is_friend == '1' ) || isloginUserId == loginUserId)">
        <h2 style="margin-bottom: 0">Groups</h2>
        <div class="hubMet hubMet1 group" *ngFor="let grpData of userGrpList">
            <div class="row">
                <div class="col-md-4">
                    <a [routerLink]="['/group/details',grpData.group_uname]">
                        <div class="img" [ngStyle]="{'background-image':'url('+grpData.group_image+')'}"></div>
                    </a>
                </div>
                <div class="col-md-8">
                    <h2>{{grpData.group_name | limitTo : 30}}</h2>
                    <a [routerLink]="['/group/details',grpData.group_uname]" class="btn btn-primary">View Group</a>
                </div>
            </div>

        </div>
    </div>
    <div class="innerRightPart" *ngIf="userGrpList && userGrpList?.length == 0">
        <h2 style="margin-bottom: 0">Groups</h2>
        <div class="hubMet hubMet1 group">
            <div class="row">
                    Not engaged with any Groups.
            </div>
        </div>
    </div>
</div>