<section class="inner-banner" [ngStyle]="{'background-image':'url('+articleDetData[0]?.banner_image_url+')', 'background-position': 'center', 'background-repeat': 'no-repeat','background-size': 'cover'}">
  <div class="container">
      
          <div class="info">
              <h1 class="text-white">{{articleDetData[0]?.title}}</h1>
          </div>
     
  </div>
</section>

<section class="section p-16 article-page">
<div class="container">
    <div class="mb-50" *ngFor="let catArticle of articleListData">
        <h2 class="">{{catArticle.name}}</h2>
        <div class="row" *ngIf="catArticle.all_eventbycat?.length>0">
            <div class="col-md-3 col-sm-6 col-multi-article" *ngFor="let articleData of catArticle.all_eventbycat">
                <div class="book-pic1" style="height: 145px">
                    <a [routerLink]="['/enrichment/eventdetails',articleData.slug]"> <div [ngStyle]="{'background-image':'url('+articleData.image_url+')', 'background-position': 'center', 'background-repeat': 'no-repeat','background-size': 'cover'}" class="img-responsive article-img"> </div></a>
                </div>
                <h3 class="text-red">{{articleData.title | limitTo : 22}}</h3>
                <h5 class="text-red">By {{articleData.author_name}}</h5>
                <p>{{articleData.short_desc | limitTo : 200}}</p>
                <a [routerLink]="['/enrichment/eventdetails',articleData.slug]" class="btn btn-primary">Read more</a>
            </div>
        </div>
        <div class="row" *ngIf="catArticle.all_eventbycat?.length==0">
            <div class="col-md-12 col-sm-12 text-center"><p>No record found</p></div>
        </div>
    </div>
</div>
</section>
