 <!-- inner  banner -->
        
 <section class="banner pt-150 pt-64" style="background: url(assets/images/corpo-partner.jpg) center no-repeat; background-size: cover;">
    <div class="container">
        <div class="row">
            <div class="col-md-7 corpo-partener">
                <h2>It’s a partnership that works.</h2>
                <P>Women’s roles are changing in the workplace, and companies that lead and champion this trend are those that will reap the rewards. Partnering with Femnesty gives your female staff a dedicated Space where they can share ideas, start discussions, encourage each other and address office issues in a structured, fully supported setting. Our work helps to close leadership gaps and rebalance gender bias with programmes that encourage personal growth, professional development and social responsibility at work. Members can set up virtual or face-to-face Hubs, find or become a mentor, communicate with other women in the organisation or network with other Femnesty Partners. It’s a partnership that strengthens, supports and benefits everyone involved.

</P>
<a class="btn btn-primary" href="" style="margin-top: 50px;">Contact us</a>
            </div>
        </div>
    </div>
</section>
 
<section class="section p-16 single-article inner-pages-holder">
  <div class="container">
      <div class="row">
          <h1>Join us to champion diversity and <br> 
reduce the gender gap.

</h1>
<div class="col-md-6">
	<h2>Femnesty Hubs</h2>
	<p>Femnesty Hubs are at the very heart of what we do. These small peer groups meet regularly to discuss issues, share ideas, support one another and encourage professional development. Hubs grow into strong support networks, and these empower women to tackle new challenges and embrace opportunities. Partner with Femnesty and we’ll help you set up Hubs in your workplace. Our online tool will help you establish and manage your network, and we can also provide ideas and materials to help you succeed.</p>
	<h2>Femnesty Events</h2>
	<p>Every year we organise two Femnesty events highlighting issues that are affecting women at work. With inspirational speakers, workshops and presentations, these events are a great focal point for companies who recognise the need for gender equality, and seek to be proactive themselves. It’s also an opportunity to meet, network and benchmark with other Femnesty Hubs, associates and Partners. As one of our Partners, we may even ask you to speak at an event, to promote your organisation and share the experiences you’ve had.</p>
	
</div>
<div class="col-md-6">
	<h2>Femnesty Hubs</h2>
	<p>Femnesty Hubs are at the very heart of what we do. These small peer groups meet regularly to discuss issues, share ideas, support one another and encourage professional development. Hubs grow into strong support networks, and these empower women to tackle new challenges and embrace opportunities. Partner with Femnesty and we’ll help you set up Hubs in your workplace. Our online tool will help you establish and manage your network, and we can also provide ideas and materials to help you succeed.</p>
	<h2>Femnesty Events</h2>
	<p>Every year we organise two Femnesty events highlighting issues that are affecting women at work. With inspirational speakers, workshops and presentations, these events are a great focal point for companies who recognise the need for gender equality, and seek to be proactive themselves. It’s also an opportunity to meet, network and benchmark with other Femnesty Hubs, associates and Partners. As one of our Partners, we may even ask you to speak at an event, to promote your organisation and share the experiences you’ve had.</p>
	
</div>
      </div>
  </div>
</section>