
.topPart{
    height: 210px;
    background-size: cover;

}
.profPhoto .img{
    top: -60px;
}

.profImageP .img {
    height: 50px;
    width: 50px;
    background-size: cover;
    border-radius: 50%;
}

.new-tabs .nav-tabs{
	border-bottom:  none !important;
}
.new-tabs ul li{ border-radius:  0; border: none; background: #b8b8b8 !important; font-weight:500; font-size: 12px;}
.new-tabs .nav-tabs > li > a {
    margin-right:0 !important;
    line-height: 1.42857143;
    border: none;
    border-radius:0;
    padding: 15px 20px;
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	font-weight: bold;
	cursor: pointer;
	color: #fff;
	letter-spacing: 2px;
}
.new-tabs .nav-tabs > li.active > a{
	color: #000;
}
.new-tabs .nav-tabs > li.active > a:hover{ background: none;}
.new-tabs .tab-content{
	background: #fff;
}
.new-tabs .tab-content ul{ padding:20px; margin:0; display: block;}
.new-tabs .tab-content ul li{ padding:15px; margin-bottom: 10px; border-bottom: solid 1px #f0f0f0; background: none !important; width: 100% !important; position: relative; display: block !important; float: none !important;}
.new-tabs .tab-content ul li h5{
	font-size: 14px; color: #000; font-weight: bold; padding-right: 25px; text-align: left; border:none; 
}
.new-tabs .tab-content ul li p{
	font-size: 18px; color: #7b7b7b; padding: 0 25px; text-align: left; margin-bottom: 10px;
}
.social-link li a{color:#cc535c; border-radius:50%; background:#fff; border:2px solid #cc535c}