.right-img-hold{
	width: 100%;
	height: 180px;
}
.right-img-hold img{
	width:100%;
	height: 180px;
	object-fit: cover;
	text-align: center;
}
.modify-row{
	display: flex;
	flex-wrap: wrap;
}
.single-article.section.women-21 h1{
	line-height: 28px;
	margin-bottom: 30px;
}
.right-gray-box .right-text-hold{
	padding: 42px 16px;
	
}
.font-weight-bold{
	font-weight: bold;
}

.books-tab .nav-tabs li:hover{
	 	background: none !important;
	 	color: #000 !important;
	 }
.books-tab .nav-tabs > li a:hover, .books-tab .nav-tabs > li a:focus{
	 	color:#000;
} 
.toolti {
    display: inline;
   
}

.toolti:hover {
    color: #c00;
    text-decoration: none;
    
}      
.tooltips {
    display: inline;
    position: relative;
    overflow: hidden;
}

.tooltips:hover {
    color: #c00;
    text-decoration: none;
}



.tooltips:hover:after {
    background: #111;
    background: #be1620;
    bottom: 45px;
    color: #fff;
    content: attr(name);
    display: block;
    left: -115px;
    padding: 15px;
    position: absolute;
    white-space: nowrap;
    z-index: 9800;
    width: 320px;
    height: auto;
    white-space: pre-wrap;
    border-radius: 0 !important;
    font-size: 10px;
}

.tooltips:hover:before {
    border: solid;
    border-color: #111 transparent;
    border-color: rgba(190,22,32,1) transparent;
    border-width: .8em .8em 0 .8em;
    bottom: 35px;
    content: "";
    display: block;
    left: 2em;
    position: absolute;
    z-index: 9900;
     
}
.nav-tabs > li > a{
	border: none !important;
}


