 <!-- inner  banner -->
        
        <section class="inner-banner" [ngStyle]="{'background-image':'url('+articleCatData?.banner_image_url+')', 'background-position': 'top center', 'background-repeat': 'no-repeat','background-size': 'cover'}">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <h1 class="text-white">{{articleCatData?.name}}</h1>
                    </div>
                </div>
            </div>
        </section>
         
        <section *ngIf="SlugName!='all'" class="section p-16 single-article inner-pages-holder new-article women-21">
          <div class="container">
              <div class="row">
                  <div class="col-md-8">
                      <h1>{{articleCatData.name}}</h1>
                      <p class="font-weight-bold mb-30">{{articleCatData.short_description}}</p>
                      <div [innerHTML]="articleCatData.description" class="mb-30"></div>
                      <a [routerLink]="['/articles/list',articleCatData.slug]" class="btn btn-primary">Read more</a>
                      <ul class="n-social mt-30">
                            <li>
                                <app-beta-restriction [height]="''" [image]="'assets/images/facebook.png'">
                                </app-beta-restriction>
                            </li>
                            <!-- <li ceiboShare  [facebook]="{u: repoUrl}">
                                <img src="assets/images/facebook.png" />
                            </li> -->
                            <li ceiboShare  [linkedIn]="{url:repoUrl, text:articleCatData.short_description}">
                                <img src="assets/images/linkedin.png" />
                            </li>
                            <li ceiboShare  [twitter]="{url:repoUrl, text:articleCatData.short_description}">
                                <img src="assets/images/twitter.png" />
                            </li>
                        </ul>
                  </div>
                  <div class="col-md-4 right-gray-box">
                      <div *ngIf="articleListData.length > 0">
                      <div class="right-img-hold">
                          <a [routerLink]="['/articles/details',articleListData[0].slug]"><img [src]="articleListData[0].image_url" alt="" class="img-responsive"></a>
                      </div>
                      <div class="right-text-hold">
                            <h3 class="text-red">{{articleListData[0].title}}</h3>
                            <p class="font-weight-bold">By {{articleListData[0].author_name}}</p>
                            <p class="text-gray">{{articleListData[0].short_desc | limitTo : 250}}</p>
                            
                          <!--<ul class="social-link mt-30">
                              <li>
                                  <a href="#" class="fb-bg"><i class="ion-social-facebook"></i></a>
                                   <span>5</span>
                              </li>
                              <li>
                                  <a href="#" class="linked-bg"><i class="fa fa-linkedin"></i></a>
                                  <span>5</span>
                              </li>
                              <li>
                                  <a href="#" class="twitter-bg"><i class="ion-social-twitter"></i></a>
                                  <span>5</span>
                              </li>
                          </ul>-->
                          <a [routerLink]="['/articles/details',articleListData[0].slug]" class="btn btn-primary">Read more</a>
                      </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>

      <section *ngIf="SlugName=='all'" class="section p-16 article-page">
        <div class="container">
            <div class="mb-50" *ngFor="let catData of catWiseAllArt">
                <h2 class="">{{catData.name}}</h2>
                <div class="row modify-row" *ngIf="catData.all_articlebycat.length > 0">
                    <div class="col-md-3 col-sm-6 col-multi-article" *ngFor="let articleData of catData.all_articlebycat">
                        <!--<div class="cat-article-img" [ngStyle]="{'background-image':'url('+catData.image_url+')', 'background-position': 'center', 'background-repeat': 'no-repeat','background-size': 'cover'}"></div>-->
                        <img [src]="articleData.image_url" alt="" class="img-responsive">
                        <h3 class="text-red">{{articleData.title | limitTo : 19}}</h3>
                        <h5 class="text-red">By {{articleData.author_name}}</h5>
                        <p>{{articleData.short_desc | limitTo : 250}}</p>
                        <a [routerLink]="['/articles/details',articleData.slug]" class="btn btn-primary">Read more</a>
                    </div>
                </div>
                <div class="row" *ngIf="catData.all_articlebycat.length == 0">
                    <div class="col-md-12 col-sm-12 col-multi-article">
                        <p class="text-center">No article found.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

      