.right-img-hold{
	width: 100%;
	height: 180px;
}
.right-img-hold img{
	width:100%;
	height: 180px;
	object-fit: cover;
	text-align: center;
}
.modify-row{
	display: flex;
	flex-wrap: wrap;
}
.single-article.section.women-21 h1{
	line-height: 28px !important;
	margin-bottom: 30px !important;
}
.right-gray-box .right-text-hold{
	padding: 42px 18px;
}
.font-weight-bold{
	font-weight: bold;
}