<section class="section about-content-area visitingProfile">
  <div class="container-fluid">
      <div class="row flex-profile">
          <div class="col-md-3 flex-left">
            <div *ngIf="isloginUser == 1">
                <user-sidebar></user-sidebar>
            </div>
          </div>
          <div class="col-md-6 flex-middle">
              <div class="middlePart">
                  <div class="topPart" [ngStyle]="{'background-image':'url('+otherProfileDet?.cover_image_url+')'}">
                  </div>
                  <div class="profPhoto">
                      <div class="img" [ngStyle]="{'background-image':'url('+otherProfileDet?.image_url+')'}">
                      </div>
                  </div>
                 
                  <div class="profDes">
                      <h2 class="text-center">{{otherProfileDet?.name}}</h2>
                      <p class="text-center">{{otherProfileDet?.bio}}</p>
                      <p class="text-center addressP">{{otherProfileDet?.address}}, {{otherProfileDet?.city}}</p>
                      <p class="text-center">
                            <a *ngIf="checkIsFriend" [routerLink]="['/user/chat',otherProfileDet?.id]" class="btn btn-primary">Chat With {{otherProfileDet?.first_name}}</a>  
                            <button *ngIf="otherProfileDet?.id!=isloginUserId && !checkIsFriend" type="button" class="btn btn-primary" (click)="sendFriendRequest(otherProfileDet?.id)">Add Friend</button>
                        </p>
                      
                  </div>
                  
                  <div class="tabPart">
                      <ul class="nav nav-pills">
                          <li [ngClass]="{'active' : activeTab=='activity'}"><a (click)="toggleTab('activity')">Activity</a></li>
                          <li [ngClass]="{'active' : activeTab=='about'}"><a (click)="toggleTab('about')">About</a></li>
                          <li [ngClass]="{'active' : activeTab=='connections'}"><a (click)="toggleTab('connections')">Connections</a></li>
                          <li [ngClass]="{'active' : activeTab=='group'}"><a (click)="toggleTab('group')">Group</a></li>
                      </ul>
                      
                      <div class="tab-content">
                          <div class="tab-pane fade in active">
                              fghf ghfg hfghf gh
                              
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-3 flex-right">
                <app-user-prfrsidebar></app-user-prfrsidebar>
          </div>
      </div>
  </div>
</section>