<section class="inner-banner" style="background: url(assets/images/about-bg.jpg) center no-repeat; background-size: cover;">
  <div class="container">
      <div class="row">
          <div class="col-md-7">
              <h1 class="text-white">Account Activated Successfully</h1>
          </div>
      </div>
  </div>
</section>

<section class="section about-content-area new-about-content-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                  <h1>Your Account has been activated.</h1>
                  <p>You can now login using your credential. Please login.<!-- Please <a [routerLink]="['/user/signup']">LOGIN NOW</a>-->.</p>
            </div>
        </div>
    </div>
</section>
