<section class="section about-content-area visitingProfile">
  <div class="container">
      <div class="row flex-profile">
          <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
          <div class="col-md-3 flex-left">
            <div>
                <user-sidebar></user-sidebar>
            <!--<div *ngIf="isUserLogin == 1"> --> 
                <!--<app-group-leftbar [groupData]="groupDetailsData"></app-group-leftbar>-->

            </div>
          </div>
          <div class="col-md-6 flex-middle">
              <div class="middlePart">
                  <div class="topPart" [ngStyle]="{'background-image':'url('+groupDetailsData?.group_image+')'}">
                  </div>
                  <div class="profDes">
                      <h2 class="text-center">{{groupDetailsData?.group_name}}</h2>
                      <p class="text-center">
                          {{groupDetailsData?.short_desc}} 
                          <span *ngIf="groupDetailsData?.group_type=='1'"> (Public)</span>
                          <span *ngIf="groupDetailsData?.group_type=='2'"> (Private)</span>
                        </p>
                      <p class="text-center addressP">{{groupDetailsData?.member_count}} Members</p>
                      <p class="text-center">
                          <br />
                            <a *ngIf="checkIsFriend" [routerLink]="['/user/chat',otherProfileDet?.id]" class="btn btn-primary">Chat With {{otherProfileDet?.first_name}}</a>  
                            <button *ngIf="groupDetailsData?.user_id!=isloginUserId && allgroupstatusset == '' && isloginUserId !='' && isJoinGroup" type="button" class="btn btn-primary" (click)="joinGroupRequest(isloginUserId)">Join Group</button>
                            <button *ngIf="groupDetailsData?.user_id!=isloginUserId && allgroupstatusset == '1' && isJoinGroup" type="button" class="btn btn-primary" >Group Request Send</button>
                            <button *ngIf="groupDetailsData?.user_id!=isloginUserId && allgroupstatusset == '1' && isJoinGroup" type="button" class="btn btn-primary" (click)="CancelGroupRequest(isloginUserId)">Cancel group</button>
                            <button *ngIf="groupDetailsData?.user_id!=isloginUserId && allgroupstatusset == '2' && !isJoinGroup" type="button" class="btn btn-primary" (click)="LeaveGroupRequest(isloginUserId)">Leave group</button>
                            <button *ngIf="groupDetailsData?.user_id!=isloginUserId && allgroupstatusset == '4' && isJoinGroup" type="button" class="btn btn-primary">You Have Left This group</button>
                            <button *ngIf="groupDetailsData?.user_id!=isloginUserId && allgroupstatusset == '3' && isJoinGroup" type="button" class="btn btn-primary">Admin rejected You from This group</button>
                        </p>
                      
                  </div>
                  <div class="row" *ngIf="(successMsg != '')">
                      <div class="alert alert-success" role="alert" *ngIf="(successMsg != '')">
                           {{successMsg}}
                      </div>
                  </div>
                  <div class="row" *ngIf="(errorMsg != '')">
                      <div class="alert alert-danger" role="alert" *ngIf="(errorMsg != '')">
                           {{errorMsg}}
                      </div>
                  </div>
                  <div class="tabPart">
                      <ul class="nav nav-pills" *ngIf="isloginUserId !='' && (groupDetailsData?.group_type=='1' || !isJoinGroup)">
                          <li [ngClass]="{'active' : activeTab=='activity'}"><a (click)="toggleTab('activity')">Group Activity</a></li>
                          <li [ngClass]="{'active' : activeTab=='member'}"><a (click)="toggleTab('member')">Members</a></li>
                          <li *ngIf="groupDetailsData.user_id != isloginUserId && isloginUserId !='' && groupDetailsData.group_type=='2'" [ngClass]="{'active' : activeTab=='invite'}"><a (click)="toggleTab('invite')">Invite Friend</a></li>
                          <li *ngIf="groupDetailsData.user_id == isloginUserId && isloginUserId !=''" [ngClass]="{'active' : activeTab=='about'}"><a (click)="toggleTab('about')">Invite Member</a></li>
                          
                      </ul>
                      
                      <div class="tab-content" *ngIf="(groupDetailsData?.group_type=='1' || !isJoinGroup)">
                          <div class="tab-pane fade" [ngClass]="{' in active' : activeTab=='activity'}">
                              <div *ngIf="(isUserLogin == '1' && !isJoinGroup)">
                                <app-post-create [postType]="groupPostDetData" (getUserPostDetails)="getUserPostDetails()"></app-post-create>
                              </div>
                              <div *ngIf="groupPostList?.length > 0">
                                  <div *ngFor="let postData of groupPostList">
                                      <app-post-card [postData]="postData"></app-post-card>
                                  </div>
                              </div>
                              <div class="likePart" *ngIf="groupPostList?.length == 0">
                                  <div class="row">
                                      <div class="col-md-10">
                                          <div class="nothing">Nothing more to show</div>
                                      </div>
                                  </div>
                              </div>

                          </div>
                          <div id="menu1" class="tab-pane fade" [ngClass]="{' in active' : activeTab=='about'}">
                              <div class="connectionsPart">
                                <div class="grp-rqsts" *ngIf="requestGrpJoinList?.length > 0">
                                        <h3 style="margin-top: 0px;">Request to join group</h3>
                                        <ul *ngIf="requestGrpJoinList?.length > 0">
                                            <li *ngFor="let friendData of requestGrpJoinList">
                                                <div class="left-area">
                                                    <div class="round-image">
                                                        <a [routerLink]="['/user/profile',friendData.display_name]">
                                                            <img [src]="friendData.profile_image" alt="">
                                                        </a>
                                                    </div>
                                                    <div class="content-part">
                                                        <p>{{friendData.name}}</p>
                                                    </div>
                                                </div>
                                                <div class="right-area">
                                                    <p *ngIf="!friendData.isPressed">
                                                        <button *ngIf="isloginUserId !=''" type="button" class="btn btn-primary" (click)="requestGroupAction(friendData.id,'2')">Accept</button>
                                                        <button *ngIf="isloginUserId !=''" type="button" class="btn btn-black btn-default" (click)="requestGroupAction(friendData.id,'3')">Decline</button>
                                                    </p>
                                                    <p *ngIf="friendData.isPressed">
                                                           <a class=btn btn-primary>{{friendData.text}}</a>
                                                        </p>
                                                </div>
                                            </li>
                                            
                                        </ul>
                                </div>
                            <div class="connections">
                                      <h3 style="margin-top: 0px;">Join member to group</h3>
                                      <ul class="friend-box" *ngIf="userFrndList?.length > 0">
                                            <li class="friend-box-list" *ngFor="let joinFrnd of userFrndList;let i=index">
                                                <div class="friend-boxImage">
                                                    <a [routerLink]="['/user/profile',joinFrnd.display_name]">
                                                    <div class="img" [ngStyle]="{'background-image':'url('+joinFrnd?.profile_image+')'}"></div>
                                                    </a>
                                                </div>
                                                <div class="friend-boxText">
                                                    <a [routerLink]="['/user/profile',joinFrnd.display_name]">
                                                    <h2>{{joinFrnd.name}}</h2>
                                                    </a>
                                                    <button *ngIf="joinFrnd.friend_id!=isloginUserId && isloginUserId !='' && qtd[joinFrnd.friend_id]!=true" type="button" class="btn btn-primary" (click)="addGroupMember(joinFrnd.friend_id)">Add</button>
                                                    <button  *ngIf="qtd[joinFrnd.friend_id]==true" type="button" class="btn btn-primary" (click)="addGroupMember(joinFrnd.friend_id)">Invitation Sent</button>
                                                </div>
                                            </li>
                                        </ul>  
                                        <div *ngIf="userFrndList?.length == 0">
                                            <p>No member found.</p>
                                        </div>
                                  </div>
                              </div>
                          </div>
                          <div id="menu2" class="tab-pane fade" [ngClass]="{' in active' : activeTab=='member'}">
                              <div class="connectionsPart">
                                  <!--<h2>Connections</h2>-->
                                  <!--<div class="connections">
                                        <ul class="friend-box" *ngIf="groupMemberList?.length > 0">
                                            <li class="friend-box-list" *ngFor="let friendData of groupMemberList">
                                                <div class="friend-boxImage">
                                                    <a [routerLink]="['/user/profile',friendData.display_name]">
                                                    <div class="img" [ngStyle]="{'background-image':'url('+friendData.profile_image+')'}"></div>
                                                    </a>
                                                </div>
                                                <div class="friend-boxText">
                                                    <a [routerLink]="['/user/profile',friendData.display_name]">
                                                    <h2>{{friendData.name}}</h2>
                                                    </a>
                                                    <a [routerLink]="['/user/profile',friendData.display_name]" class="btn btn-primary">View</a>
                                                </div>
                                            </li>
                                        </ul>  

                                      <div class="likePart" *ngIf="groupMemberList?.length == 0">
                                          <div class="row">
                                              <div class="col-md-10">
                                                  <div class="nothing">No member found</div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>-->
                                  
                                  <ul class="contn-box" *ngIf="groupMemberList?.length > 0">
                                        <li class="friend-box-list" *ngFor="let friendData of groupMemberList">
                                            <div class="friend-boxImage">
	                                            <a [routerLink]="['/user/profile',friendData.display_name]">
	                                                <div class="img" [ngStyle]="{'background-image':'url('+friendData?.profile_image+')'}"></div>
	                                            </a>
                                            </div>
                                            <div class="friend-boxText">
                                                <h4>{{friendData.name}}</h4>
                                                <!--<a [routerLink]="['/user/chat',friendData.friend_id]" class="btn btn-primary">Chat </a>-->
                                                <p *ngIf="friendData.bio !=''">{{friendData.bio | limitTo : 40}}</p>
                                            </div>
                                            <div class="sendmsg">
                                            	<a [routerLink]="['/user/profile',friendData.display_name]"><span style="color:#bb1926; font-size:16px;"><i class="ion-eye"></i></span> View</a>
                                            	
                                            </div>
                                            <div class="dwn-arrow"><i class="icon ion-chevron-down"></i></div>
                                        </li>
                                    </ul>
                              </div>
							<!-- <div class="connectionsPart">
								<ul class="hub-listing">
									<li>
										<div class="date caption">Date</div>
										<div class="title caption">Title</div>
										<div class="action caption">Action</div>
									</li>
									<li>
										<div class="date">5 Jan 2018</div>
										<div class="title">Hub1</div>
										<div class="action">
											<a href="" class="btn btn-primary">Attending</a>
										</div>
									</li>
									<li>
										<div class="date">12 Jan 2018</div>
										<div class="title">Hub1</div>
										<div class="action">
											<a href="" class="btn btn-success">Accept</a>
											<a href="" class="btn btn-info">Reject</a>
										</div>
									</li>
									<li>
										<div class="date">12 Jan 2018</div>
										<div class="title">Hub1</div>
										<div class="action">
											<a href="" class="btn btn-danger">Rejected</a>
										</div>
									</li>
								</ul>
									
								<div class="new-tabs">
									<ul class="nav nav-tabs">
										<li class="active"><a href="#attend" role="tab" data-toggle="tab">Attending</a></li>
										<li><a href="#not-renspond" role="tab" data-toggle="tab">Not Responded yet</a></li>
										<li><a href="#rejected" role="tab" data-toggle="tab">Rejected</a></li>
									</ul>
									<div class="tab-content">
										<div class="tab-pane fade in active" id="attend">
											<p>This is tab 1</p>
										</div>
										<div class="tab-pane fade" id="not-renspond">
											<p>This is tab 2</p>
										</div>
										<div class="tab-pane fade" id="rejected">JOIN GROUP
											<p>This is tab 3</p>
										</div>
									</div>
								</div>
								
							</div> -->
                          </div>
                          <div id="menu3" class="tab-pane fade" [ngClass]="{' in active' : activeTab=='invite'}">
                            <div class="connectionsPart">
                                <div class="connections">
                                    <h3 style="margin-top: 0px;">Invite friend to join group</h3>
                                    <ul class="friend-box" *ngIf="userFrndList?.length > 0">
                                          <li class="friend-box-list" *ngFor="let joinFrnd of userFrndList">
                                              <div class="friend-boxImage">
                                                  <a [routerLink]="['/user/profile',joinFrnd.display_name]">
                                                  <div class="img" [ngStyle]="{'background-image':'url('+joinFrnd.profile_image+')'}"></div>
                                                  </a>
                                              </div>
                                              <div class="friend-boxText">
                                                  <a [routerLink]="['/user/profile',joinFrnd.display_name]">
                                                  <h2>{{joinFrnd.name}}</h2>
                                                  </a>
                                                  <button type="button" class="btn btn-primary" (click)="inviteFrndAsGroupMember(joinFrnd.friend_id)">Send</button>
                                              </div>
                                          </li>
                                      </ul> 
                                      <div class="likePart" *ngIf="userFrndList?.length == 0">
                                        <div class="row">
                                            <div class="col-md-10">
                                                <div class="nothing">No friend found</div>
                                            </div>
                                        </div>
                                    </div> 
                                </div>
                            </div>
							
                        </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-3">
            <div ><app-group-rightbar [groupData]="groupDetailsData" [groupPId]="isGroupId"></app-group-rightbar></div>
          </div>
      </div>
  </div>
</section>