<section class="section section2 about-content-area visitingProfile">
    <div class="container-fluid">
        <div class="row flex-profile">
            <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
            <div class="col-md-3 flex-left">
                <div>
                    <user-sidebar></user-sidebar>
                    <!--<div *ngIf="isUserLogin == 1"> -->
                    <!--<app-group-leftbar [groupData]="groupDetailsData"></app-group-leftbar>-->

                </div>
            </div>
            <div class="col-md-6 flex-middle pd-5">
                <div class="middlePart">
                    <div class="topPart" [ngStyle]="{'background-image':'url('+groupDetailsData?.group_image+')'}">
                        <input name="myfile" type="file" (change)="fileChangePost($event)" style="display:none;" #fileTypeEdit>
                        <!-- <a href="javascript:void(0)" *ngIf="IsGroupAdmin" (click)="openFile()">
                            <i class="fa fa-pencil" style="color: #bd1927;float: right;margin-top: -7px;margin-right: -1px;"></i>
                        </a> -->
                        <!--<a href="javascript:void(0)" *ngIf="IsGroupAdmin" (click)="openUpdateCoverProModal(updateCoverPictureModal)">
                            	<img src="assets/images/pencil-icon.png" alt="" style="width:17px;height:18px;float:right;margin-right:-22px" />
                        </a>-->
                        <div class="change-img" *ngIf="IsGroupAdmin" (click)="openUpdateCoverProModal(updateCoverPictureModal)">
                                <i class="fa fa-camera"></i>
                                <div class="txt">Upload Group Banner Photo</div>
                            </div>
                    </div>
                    <div class="profDes">
                        <h2 class="text-center">{{groupDetailsData?.group_name}}</h2>


                        <p class="text-center">

                            {{groupDetailsData?.short_desc}}

                            <span *ngIf="groupDetailsData?.group_type=='1'"> (Public)</span>
                            <span *ngIf="groupDetailsData?.group_type=='2'"> (Private)</span>
                        </p>
                        <!-- <a href="javascript:void(0)" *ngIf="IsGroupAdmin" (click)="openEdit('short_desc')">
                            <i class="fa fa-pencil" style="color: #bd1927;float: right;margin-top: -14px;margin-right: 31px;"></i>
                        </a>
                        <p class="text-center" *ngIf="short_desc">
                            <input class="text-center" type="text" [(ngModel)]="short_desc" *ngIf="short_desc">
                        </p> -->
                        <p class="text-center addressP">{{groupDetailsData?.member_count}} Members</p>
                        <p class="text-center">
                            <!--<br />-->
                            <span *ngIf="groupDetailsData?.user_id!=isloginUserId && allgroupstatusset == '1' && isJoinGroup" class="addressP">Group Request Sent
                                <br />
                            </span>
                            <a *ngIf="checkIsFriend" [routerLink]="['/user/chat',otherProfileDet?.id]" class="btn btn-primary">Chat With {{otherProfileDet?.first_name}}</a>
                            <button *ngIf="groupDetailsData?.user_id!=isloginUserId && allgroupstatusset == '' && isloginUserId !='' && isJoinGroup"
                                type="button" class="btn btn-primary" (click)="joinGroupRequest(isloginUserId)">Join Group</button>
                            <button *ngIf="groupDetailsData?.user_id!=isloginUserId && allgroupstatusset == '1' && isJoinGroup" type="button" class="btn btn-primary"
                                (click)="CancelGroupRequest(isloginUserId)">Leave group</button>
                            <button *ngIf="groupDetailsData?.user_id!=isloginUserId && allgroupstatusset == '2' && !isJoinGroup" type="button" class="btn btn-primary"
                                (click)="LeaveGroupRequest(isloginUserId)">Leave group</button>
                            <button *ngIf="groupDetailsData?.user_id!=isloginUserId && allgroupstatusset == '4' && isJoinGroup" type="button" class="btn btn-primary">You Have Left This group</button>
                            <button *ngIf="groupDetailsData?.user_id!=isloginUserId && allgroupstatusset == '3' && isJoinGroup" type="button" class="btn btn-primary">Admin rejected You from This group</button>
                            <button  type="button" class="btn btn-primary" *ngIf="isShowPrivateGroupAction" (click)="acceptReject('2')">Accept</button>
                            <button  type="button" class="btn btn-primary" *ngIf="isShowPrivateGroupAction" (click)="acceptReject('3')">Reject</button>
                            <button *ngIf="IsShowRejectMessage" type="button" class="btn btn-primary">You Have declined the request</button>
                        </p>

                    </div>
                    <div class="row" *ngIf="(successMsg != '')">
                        <div class="alert alert-success" role="alert" *ngIf="(successMsg != '')">
                            {{successMsg}}
                        </div>
                    </div>
                    <div class="row" *ngIf="(errorMsg != '')">
                        <div class="alert alert-danger" role="alert" *ngIf="(errorMsg != '')">
                            {{errorMsg}}
                        </div>
                    </div>
                    <div class="tabPart">
                        <ul class="nav nav-pills" *ngIf="isloginUserId !='' && (groupDetailsData?.group_type=='1' || !isJoinGroup)">
                            <li [ngClass]="{'active' : activeTab=='activity'}">
                                <a (click)="toggleTab('activity')">Group Activity</a>
                            </li>
                            <li [ngClass]="{'active' : activeTab=='member'}">
                                <a (click)="toggleTab('member')">Send Message</a>
                            </li>
                            <li *ngIf="groupDetailsData.user_id != isloginUserId && isloginUserId !='' && groupDetailsData.group_type=='2' || (groupDetailsData.user_id != isloginUserId && isloginUserId !='' && groupDetailsData.group_type=='1' && !isJoinGroup)"
                                [ngClass]="{'active' : activeTab=='invite'}">
                                <a (click)="toggleTab('invite')">Invite Friend</a>
                            </li>
                            <li *ngIf="groupDetailsData.user_id == isloginUserId && isloginUserId !=''" [ngClass]="{'active' : activeTab=='about'}">
                                <a (click)="toggleTab('about')">Invite Member</a>
                            </li>
                            <li *ngIf="groupDetailsData.user_id == isloginUserId && isloginUserId !=''" [ngClass]="{'active' : activeTab=='groupdetails'}">
                                <a (click)="toggleTab('groupdetails')">Edit Group</a>
                            </li>
                            <li *ngIf="groupDetailsData.user_id != isloginUserId" [ngClass]="{'active' : activeTab=='group'}">
                                <a (click)="toggleTab('group')">Group Details</a>
                            </li>
                        </ul>

                        <div class="tab-content" *ngIf="(groupDetailsData?.group_type=='1' || !isJoinGroup)">
                            <div class="tab-pane fade" [ngClass]="{' in active' : activeTab=='activity'}">
                                <div *ngIf="(isUserLogin == '1' && !isJoinGroup)">
                                    <app-post-create [postType]="groupPostDetData" (getUserPostDetails)="getUserPostDetails()"></app-post-create>
                                </div>
                                <div class="allpost" *ngIf="groupPostList?.length > 0">
                                    <div *ngFor="let postData of groupPostList">
                                        <app-post-card [postData]="postData"></app-post-card>
                                    </div>
                                </div>
                                <div class="likePart" *ngIf="groupPostList?.length == 0">
                                    <div class="row">
                                        <div class="col-md-10">
                                            <div class="nothing">Nothing more to show</div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div id="menu1" class="tab-pane fade" [ngClass]="{' in active' : activeTab=='about'}">
                                <div class="connectionsPart">
                                    <div class="grp-rqsts" *ngIf="requestGrpJoinList?.length > 0">
                                        <h3 style="margin-top: 0px;">Request to join group</h3>
                                        <ul *ngIf="requestGrpJoinList?.length > 0">
                                            <li *ngFor="let friendData of requestGrpJoinList">
                                                <div class="left-area">
                                                    <div class="round-image">
                                                        <a [routerLink]="['/user/profile',friendData.display_name]">
                                                            <img [src]="friendData.profile_image" alt="">
                                                        </a>
                                                    </div>
                                                    <div class="content-part">
                                                        <p>{{friendData.name}}</p>
                                                    </div>
                                                </div>
                                                <div class="right-area">
                                                    <p *ngIf="!friendData.isPressed">
                                                        <button *ngIf="isloginUserId !=''" type="button" class="btn btn-primary" (click)="requestGroupAction(friendData.id,'2')">Accept</button>
                                                        <button *ngIf="isloginUserId !=''" type="button" class="btn btn-black btn-default" (click)="requestGroupAction(friendData.id,'3')">Decline</button>
                                                    </p>
                                                    <p *ngIf="friendData.isPressed">
                                                        <a class=btn btn-primary>{{friendData.text}}</a>
                                                    </p>
                                                </div>
                                            </li>

                                        </ul>
                                    </div>
                                    <div class="connections invite-member-new">
                                        <!-- <h3 style="margin-top: 0px;">Join member to group</h3>
                                        <ul class="friend-box" *ngIf="userFrndList?.length > 0">
                                            <li class="friend-box-list" *ngFor="let joinFrnd of userFrndList;let i=index">
                                                <div class="friend-boxImage">
                                                    <a [routerLink]="['/user/profile',joinFrnd.display_name]">
                                                        <div class="img" [ngStyle]="{'background-image':'url('+joinFrnd?.profile_image+')'}"></div>
                                                    </a>
                                                </div>
                                                <div class="friend-boxText">
                                                    <a [routerLink]="['/user/profile',joinFrnd.display_name]">
                                                        <h2>{{joinFrnd.name}}</h2>
                                                    </a>
                                                    <button *ngIf="joinFrnd.friend_id!=isloginUserId && isloginUserId !='' && qtd[joinFrnd.friend_id]!=true" type="button" class="btn btn-primary"
                                                        (click)="addGroupMember(joinFrnd.friend_id)">Add</button>
                                                    <button *ngIf="qtd[joinFrnd.friend_id]==true" type="button" class="btn btn-primary" (click)="addGroupMember(joinFrnd.friend_id)">Invitation Sent</button>
                                                </div>
                                            </li>
                                        </ul>
                                        <div *ngIf="userFrndList?.length == 0">
                                            <p>No member found.</p>
                                        </div> -->
                                        <h3 style="margin-top: 0px;">INVITE</h3>
                                        <div class="row">
                                            <div class="form-group col-md-12 col-sm-12">
                                                <input class="form-control-plaintext form-control " placeholder="Enter name of connection" style="height: 46px;" type="text"
                                                    [(ngModel)]="searchName" (ngModelChange)="searchConnections($event)">
                                            </div>
                                        </div>
                                        <h3 style="margin-top: 0px;">MEMBERS <span> {{groupMemberList1?.length}} ATTENDANTS</span></h3>
                                        <ul class="contn-box" *ngIf="groupMemberList1?.length > 0">
                                            <li class="friend-box-list" *ngFor="let friendData of groupMemberList1">
                                                <div class="friend-boxImage">
                                                    <a [routerLink]="['/user/profile',friendData.display_name]" title="{{friendData.name}}">
                                                         <div class="img" [ngStyle]="{'background-image':'url('+friendData?.profile_image+')'}" style="width:70px;height:75px;"></div>
                                                    </a>
                                                </div>
                                                <!--<div class="friend-boxText">
                                                    <h4>{{friendData.name}}</h4>
                                                </div>-->
                                            </li>
                                            <a class="view-more-down" style="margin:20px 0 0" href="javascript:void(0)" *ngIf="IsShowTopViewMore1" (click)="viewMore1()">Show More</a>
                                        </ul>
                                        <h3 style="margin-top: 0px;" *ngIf="filetredFriendList.length>0">SUGGESTED CONNECTIONS<span *ngIf="suggestshow && filetredFriendList.length>0" (click)="divhide(1)">SHOW</span><span *ngIf="!suggestshow && filetredFriendList.length>0" (click)="divhide(2)">HIDE</span></h3>
                                        <h3 style="margin-top: 0px;" *ngIf="searchErrorMessage" class="aler alert-danger">{{searchErrorMessage}}</h3>
                                        <!-- <ul class="friend-box" *ngIf="filetredFriendList?.length > 0">
                                            <li class="friend-box-list" *ngFor="let joinFrnd of filetredFriendList;let i=index">
                                                <div class="friend-boxImage">
                                                    <a [routerLink]="['/user/profile',joinFrnd.display_name]">
                                                        <div class="img" [ngStyle]="{'background-image':'url('+joinFrnd?.profile_image+')'}"></div>
                                                    </a>
                                                </div>
                                                <div class="friend-boxText">
                                                    <a [routerLink]="['/user/profile',joinFrnd.display_name]">
                                                        <h2>{{joinFrnd.name}}</h2>
                                                    </a>
                                                    <button *ngIf="joinFrnd.friend_id!=isloginUserId && isloginUserId !='' && qtd[joinFrnd.friend_id]!=true" type="button" class="btn btn-primary"
                                                        (click)="addGroupMember(joinFrnd.friend_id)">INVITE</button>
                                                    <button *ngIf="qtd[joinFrnd.friend_id]==true" type="button" class="btn btn-primary" (click)="addGroupMember(joinFrnd.friend_id)">Invitation Sent</button>
                                                </div>
                                            </li>
                                        </ul> -->
                                        <ul class="media-list connections" *ngIf="filetredFriendList?.length > 0 && divshow">
                                            <li class="media" *ngFor="let joinFrnd of filetredFriendList;let i=index">
                                               	<div class="media-left">
                                                    <a [routerLink]="['/user/profile',joinFrnd.display_name]">
                                                        <div class="img" [ngStyle]="{'background-image':'url('+joinFrnd?.profile_image+')'}"></div>
                                                    </a>
                                                </div>
                                                <div class="media-body media-middle">
                                                    <a [routerLink]="['/user/profile',joinFrnd.display_name]">
                                                        <h2>{{joinFrnd.name}}</h2>
                                                    </a>                                                   
                                                </div>
                                                <div class="media-right media-middle">
                                                	 <div class="button-holder-width">
	                                                	 <button *ngIf="joinFrnd.friend_id!=isloginUserId && isloginUserId !='' && qtd[joinFrnd.friend_id]!=true" type="button" class="btn btn-primary"
	                                                        (click)="addGroupMember(joinFrnd.friend_id)">INVITE</button>
	                                                    <button *ngIf="qtd[joinFrnd.friend_id]==true" type="button" class="btn btn-primary" (click)="addGroupMember(joinFrnd.friend_id)">Invitation Sent</button>
	                                                    <button class="btn btn-black btn-default">
	                                                    	HIDE
	                                                    </button>
                                                    </div>
                                                </div>
                                            </li>
                                            <a class="view-more-down" style="margin:20px 0 0;padding-bottom: 50px;" href="javascript:void(0)" *ngIf="IsShowTopViewMore" (click)="viewMore()">Show More</a>
                                            <div class="nothing" *ngIf="!IsShowTopViewMore" style="padding-bottom: 50px;">Nothing More To Show</div>
                                        </ul>
                                        
                                        
                                        <!-- <h3 style="margin-top: 0px;" *ngIf="filetredFriendList.length==0 && !searchErrorMessage ">SUGGESTED CONNECTIONS{{suggestshow}}<span *ngIf="!suggestshow">SHOW</span><span *ngIf="!suggestshow">HIDE</span></h3>
                                        <ul class="media-list connections" *ngIf="userFrndList?.length > 0 && filetredFriendList.length==0 && !searchErrorMessage && !suggestshow">
                                            <li class="media" *ngFor="let joinFrnd of userFrndList;let i=index">
                                               	<div class="media-left">
                                                    <a [routerLink]="['/user/profile',joinFrnd.display_name]">
                                                        <div class="img" [ngStyle]="{'background-image':'url('+joinFrnd?.profile_image+')'}"></div>
                                                    </a>
                                                </div>
                                                <div class="media-body media-middle">
                                                    <a [routerLink]="['/user/profile',joinFrnd.display_name]">
                                                        <h2>{{joinFrnd.name}}</h2>
                                                    </a>                                                   
                                                </div>
                                                <div class="media-right media-middle">
                                                	 <div class="button-holder-width">
	                                                	 <button *ngIf="joinFrnd.friend_id!=isloginUserId && isloginUserId !='' && qtd[joinFrnd.friend_id]!=true" type="button" class="btn btn-primary"
	                                                        (click)="addGroupMember(joinFrnd.friend_id)">INVITE</button>
	                                                    <button *ngIf="qtd[joinFrnd.friend_id]==true" type="button" class="btn btn-primary" (click)="addGroupMember(joinFrnd.friend_id)">Invitation Sent</button>
	                                                    <button class="btn btn-black btn-default">
	                                                    	HIDE
	                                                    </button>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul> -->

                                        <!-- <a class="view-more-down" style="margin:20px 0 0" href="javascript:void(0)" *ngIf="IsShowTopViewMore" (click)="viewMore()">Show More</a>
                                        <div *ngIf="userFrndList?.length == 0">
                                            <p>No member found.</p>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                            <div id="menu2" class="tab-pane fade" [ngClass]="{' in active' : activeTab=='member'}">
                                <div class="connectionsPart">
                                    <!--<h2>Connections</h2>-->
                                    <!--<div class="connections">
                                        <ul class="friend-box" *ngIf="groupMemberList?.length > 0">
                                            <li class="friend-box-list" *ngFor="let friendData of groupMemberList">
                                                <div class="friend-boxImage">
                                                    <a [routerLink]="['/user/profile',friendData.display_name]">
                                                    <div class="img" [ngStyle]="{'background-image':'url('+friendData.profile_image+')'}"></div>
                                                    </a>
                                                </div>
                                                <div class="friend-boxText">
                                                    <a [routerLink]="['/user/profile',friendData.display_name]">
                                                    <h2>{{friendData.name}}</h2>
                                                    </a>
                                                    <a [routerLink]="['/user/profile',friendData.display_name]" class="btn btn-primary">View</a>
                                                </div>
                                            </li>
                                        </ul>  

                                      <div class="likePart" *ngIf="groupMemberList?.length == 0">
                                          <div class="row">
                                              <div class="col-md-10">
                                                  <div class="nothing">No member found</div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>-->

                                    <ul class="contn-box" *ngIf="groupMemberList?.length > 0">
                                        <li class="friend-box-list" *ngFor="let friendData of groupMemberList">
                                            <div class="friend-boxImage">
                                                <a [routerLink]="['/user/profile',friendData.display_name]">
                                                    <div class="img" [ngStyle]="{'background-image':'url('+friendData?.profile_image+')'}"></div>
                                                </a>
                                            </div>
                                            <div class="friend-boxText">
                                                <h4>{{friendData.name}}</h4>
                                                <!--<a [routerLink]="['/user/chat',friendData.friend_id]" class="btn btn-primary">Chat </a>-->
                                                <p *ngIf="friendData.bio !=''">{{friendData.bio | limitTo : 40}}</p>
                                            </div>
                                            <!-- <div class="sendmsg">
                                            	<a [routerLink]="['/user/profile',friendData.display_name]"><span style="color:#bb1926; font-size:16px;"><i class="ion-eye"></i></span> View</a>
                                            	
                                            </div> -->
                                            <div class="sendmsg" *ngIf="isloginUserId!=friendData.user_id">
                                                <a [routerLink]="['/user/chat',friendData.user_id]">
                                                    <span>
                                                        <img alt="" src="assets/images/send-msg.png">
                                                    </span> SEND MESSAGE </a>
                                            </div>
                                            <div class="dwn-arrow">
                                                <i class="icon ion-chevron-down"></i>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <!-- <div class="connectionsPart">
								<ul class="hub-listing">
									<li>
										<div class="date caption">Date</div>
										<div class="title caption">Title</div>
										<div class="action caption">Action</div>
									</li>
									<li>
										<div class="date">5 Jan 2018</div>
										<div class="title">Hub1</div>
										<div class="action">
											<a href="" class="btn btn-primary">Attending</a>
										</div>
									</li>
									<li>
										<div class="date">12 Jan 2018</div>
										<div class="title">Hub1</div>
										<div class="action">
											<a href="" class="btn btn-success">Accept</a>
											<a href="" class="btn btn-info">Reject</a>
										</div>
									</li>
									<li>
										<div class="date">12 Jan 2018</div>
										<div class="title">Hub1</div>
										<div class="action">
											<a href="" class="btn btn-danger">Rejected</a>
										</div>
									</li>
								</ul>
									
								<div class="new-tabs">
									<ul class="nav nav-tabs">
										<li class="active"><a href="#attend" role="tab" data-toggle="tab">Attending</a></li>
										<li><a href="#not-renspond" role="tab" data-toggle="tab">Not Responded yet</a></li>
										<li><a href="#rejected" role="tab" data-toggle="tab">Rejected</a></li>
									</ul>
									<div class="tab-content">
										<div class="tab-pane fade in active" id="attend">
											<p>This is tab 1</p>
										</div>
										<div class="tab-pane fade" id="not-renspond">
											<p>This is tab 2</p>
										</div>
										<div class="tab-pane fade" id="rejected">JOIN GROUP
											<p>This is tab 3</p>
										</div>
									</div>
								</div>
								
							</div> -->
                            </div>
                            <div id="menu3" class="tab-pane fade" [ngClass]="{' in active' : activeTab=='invite'}">
                                <div class="connectionsPart">
                                    <div class="connections">
                                        <h3 style="margin-top: 0px;">Invite friend to join group</h3>
                                        <ul class="friend-box" *ngIf="userFrndList?.length > 0">
                                            <li class="friend-box-list" *ngFor="let joinFrnd of userFrndList">
                                                <div class="friend-boxImage">
                                                    <a [routerLink]="['/user/profile',joinFrnd.display_name]">
                                                        <div class="img" [ngStyle]="{'background-image':'url('+joinFrnd.profile_image+')'}"></div>
                                                    </a>
                                                </div>
                                                <div class="friend-boxText">
                                                    <a [routerLink]="['/user/profile',joinFrnd.display_name]">
                                                        <h2>{{joinFrnd.name}}</h2>
                                                    </a>
                                                    <button type="button" class="btn btn-primary" (click)="inviteFrndAsGroupMember(joinFrnd.friend_id)">Send</button>
                                                </div>
                                            </li>
                                        </ul>
                                        <div class="likePart" *ngIf="userFrndList?.length == 0">
                                            <div class="row">
                                                <div class="col-md-10">
                                                    <div class="nothing">No friend found</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div id="menu4" class="tab-pane fade" [ngClass]="{' in active' : activeTab=='group'}">
                                <div class="innerRightPart right-map-details HUB-Dtls">
                                    <h2>{{groupDetailsData.group_name}}</h2>
                                    <div class="item">
                                        <div class="edit">
                                        </div>
                                        <span>GROUP NAME</span>
                                        <p>{{groupDetailsData?.group_name}}</p>
                                    </div>
                                    <div class="item">
                                        <div class="edit">
                                        </div>
                                        <span>SHORT DESCRIPTION</span>
                                        <p>{{groupDetailsData?.short_desc}}</p>
                                    </div>
                                    <div class="item">
                                        <div class="edit">
                                        </div>
                                        <span>YEAR OF ESTABLISHMENT</span>
                                        <p>{{groupDetailsData?.year_est}}</p>
                                    </div>
                                    <div class="item" *ngIf="!email">
                                        <div class="edit">

                                        </div>
                                        <span>EMAIL</span>
                                        <p>{{groupDetailsData?.cemail}}</p>
                                    </div>
                                    <div class="item" *ngIf="!phone">
                                        <div class="edit">
                                        </div>
                                        <span>PHONE</span>
                                        <p>{{groupDetailsData?.phone}}</p>
                                    </div>



                                </div>

                            </div>
                            <div id="menu5" class="tab-pane fade" [ngClass]="{' in active' : activeTab=='groupdetails'}">
                                <div class="innerRightPart right-map-details HUB-Dtls">
                                    <h2 *ngIf="!group_name">{{groupDetailsData.group_name}}</h2>
                                    <div class="alert alert-danger" role="alert" *ngIf="editErrorMsg">
                                        {{editErrorMsg}}
                                    </div>
                                    <div class="item" *ngIf="!group_name">
                                        <div class="edit">
                                            <a href="javascript:void(0)" *ngIf="IsGroupAdmin" (click)="openEdit('name')">
                                                <img src="assets/images/pencil-icon.png" alt="" />
                                            </a>
                                        </div>
                                        <span>GROUP NAME</span>
                                        <p>{{groupDetailsData?.group_name}}</p>
                                    </div>
                                    <div class="item" *ngIf="group_name">
                                        <div class="edit">
                                            <a href="javascript:void(0)" (click)="openEdit('name')">
                                                <img src="assets/images/check-icon.png" alt="" />
                                            </a>
                                        </div>
                                        <span>GROUP NAME</span>
                                        <div class="form-group">
                                            <input class="form-control" type="text" [(ngModel)]="group_name" *ngIf="group_name">
                                        </div>
                                    </div>
                                    <div class="item" *ngIf="!short_desc">
                                        <div class="edit">
                                            <a href="javascript:void(0)" *ngIf="IsGroupAdmin" (click)="openEdit('short_desc')">
                                                <img src="assets/images/pencil-icon.png" alt="" />
                                            </a>
                                        </div>
                                        <span>SHORT DESCRIPTION</span>
                                        <p>{{groupDetailsData?.short_desc}}</p>
                                    </div>
                                    <div class="item" *ngIf="short_desc">
                                        <div class="edit">
                                            <a href="javascript:void(0)" (click)="openEdit('short_desc')">
                                                <img src="assets/images/check-icon.png" alt="" />
                                            </a>
                                        </div>
                                        <span>SHORT DESCRIPTION</span>
                                        <div class="form-group">
                                            <textarea class="form-control" rows="6" [(ngModel)]="short_desc" *ngIf="short_desc"></textarea>
                                        </div>
                                    </div>
                                    <div class="item" *ngIf="!long_desc">
                                        <div class="edit">
                                            <a href="javascript:void(0)" *ngIf="IsGroupAdmin" (click)="openEdit('long_desc')">
                                                <img src="assets/images/pencil-icon.png" alt="" />
                                            </a>
                                        </div>
                                        <span>LONG DESCRIPTION</span>
                                        <p>{{groupDetailsData?.long_desc}}</p>
                                    </div>
                                    <div class="item" *ngIf="long_desc">
                                        <div class="edit">
                                            <a href="javascript:void(0)" (click)="openEdit('long_desc')">
                                                <img src="assets/images/check-icon.png" alt="" />
                                            </a>
                                        </div>
                                        <span>LONG DESCRIPTION</span>
                                        <div class="form-group">
                                            <textarea class="form-control" rows="6" [(ngModel)]="long_desc" *ngIf="long_desc"></textarea>
                                        </div>
                                    </div>
                                    <div class="item" *ngIf="!year_est">
                                        <div class="edit">
                                            <a href="javascript:void(0)" *ngIf="IsGroupAdmin" (click)="openEdit('year_est')">
                                                <img src="assets/images/pencil-icon.png" alt="" />
                                            </a>
                                        </div>
                                        <span>YEAR OF ESTABLISHMENT</span>
                                        <p>{{groupDetailsData?.year_est}}</p>
                                    </div>
                                    <div class="item" *ngIf="year_est">
                                        <div class="edit">
                                            <a href="javascript:void(0)" (click)="openEdit('year_est')">
                                                <img src="assets/images/check-icon.png" alt="" />
                                            </a>
                                        </div>
                                        <span>YEAR OF ESTABLISHMENT</span>
                                        <div class="form-group">
                                            <input class="form-control" type="text" [(ngModel)]="year_est" *ngIf="year_est">
                                        </div>
                                    </div>
                                    <div class="item" *ngIf="!cat_id">
                                        <div class="edit">
                                            <a href="javascript:void(0)" *ngIf="IsGroupAdmin" (click)="openEdit('cat_id')">
                                                <img src="assets/images/pencil-icon.png" alt="" />
                                            </a>
                                        </div>
                                        <span>CATEGORY</span>
                                        <p>{{groupDetailsData?.grp_cat_name}}</p>
                                    </div>
                                    <div class="item" *ngIf="cat_id">
                                        <div class="edit">
                                            <a href="javascript:void(0)" (click)="openEdit('cat_id')">
                                                <img src="assets/images/check-icon.png" alt="" />
                                            </a>
                                        </div>
                                        <span>CATEGORY</span>
                                        <div class="form-group">
                                            <select class="form-control-plaintext" [(ngModel)]="cat_id">
                                                <option value='' selected>Category *</option>
                                                <option value="{{ catlist.id }}" *ngFor="let catlist of catList">{{ catlist?.title }}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="item" *ngIf="!email">
                                        <div class="edit">
                                            <a href="javascript:void(0)" *ngIf="IsGroupAdmin" (click)="openEdit('email')">
                                                <img src="assets/images/pencil-icon.png" alt="" />
                                            </a>
                                        </div>
                                        <span>EMAIL</span>
                                        <p>{{groupDetailsData?.cemail}}</p>
                                    </div>
                                    <div class="item" *ngIf="email">
                                        <div class="edit">
                                            <a href="javascript:void(0)" (click)="openEdit('email')">
                                                <img src="assets/images/check-icon.png" alt="" />
                                            </a>
                                        </div>
                                        <span>EMAIL</span>
                                        <div class="form-group">
                                            <input class="form-control" type="text" [(ngModel)]="email" *ngIf="email">
                                        </div>
                                    </div>
                                    <div class="item" *ngIf="!phone">
                                        <div class="edit">
                                            <a href="javascript:void(0)" *ngIf="IsGroupAdmin" (click)="openEdit('phone')">
                                                <img src="assets/images/pencil-icon.png" alt="" />
                                            </a>
                                        </div>
                                        <span>PHONE</span>
                                        <p>{{groupDetailsData?.phone}}</p>
                                    </div>
                                    <div class="item" *ngIf="phone">
                                        <div class="edit">
                                            <a href="javascript:void(0)" (click)="openEdit('phone')">
                                                <img src="assets/images/check-icon.png" alt="" />
                                            </a>
                                        </div>
                                        <span>PHONE</span>
                                        <div class="form-group">
                                            <input class="form-control" type="text" [(ngModel)]="phone" *ngIf="phone">
                                        </div>
                                    </div>
                                    <div class="item" *ngIf="!city">
                                        <div class="edit">
                                            <a href="javascript:void(0)" *ngIf="IsGroupAdmin" (click)="openEdit('city')">
                                                <img src="assets/images/pencil-icon.png" alt="" />
                                            </a>
                                        </div>
                                        <span>CITY</span>
                                        <p>{{groupDetailsData?.grp_city}}</p>
                                    </div>
                                    <div class="item" *ngIf="city">
                                        <div class="edit">
                                            <a href="javascript:void(0)" (click)="openEdit('city')">
                                                <img src="assets/images/check-icon.png" alt="" />
                                            </a>
                                        </div>
                                        <span>CITY</span>
                                        <div class="form-group">
                                            <input class="form-control" type="text" [(ngModel)]="city" *ngIf="city">
                                        </div>
                                    </div>
                                    <div class="item" *ngIf="!country">
                                        <div class="edit">
                                            <a href="javascript:void(0)" *ngIf="IsGroupAdmin" (click)="openEdit('country')">
                                                <img src="assets/images/pencil-icon.png" alt="" />
                                            </a>
                                        </div>
                                        <span>COUNTRY</span>
                                        <p>{{groupDetailsData?.country_name}}</p>
                                    </div>
                                    <div class="item" *ngIf="country">
                                        <div class="edit">
                                            <a href="javascript:void(0)" (click)="openEdit('country')">
                                                <img src="assets/images/check-icon.png" alt="" />
                                            </a>
                                        </div>
                                        <span>COUNTRY</span>
                                        <div class="form-group">
                                            <select class="form-control-plaintext" [(ngModel)]="country">
                                                <option value='' selected>Country *</option>
                                                <option value="{{ cdata.id }}" *ngFor="let cdata of countryList">{{ cdata.countries_name }}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="item" *ngIf="!postal_code">
                                        <div class="edit">
                                            <a href="javascript:void(0)" *ngIf="IsGroupAdmin" (click)="openEdit('postal_code')">
                                                <img src="assets/images/pencil-icon.png" alt="" />
                                            </a>
                                        </div>
                                        <span>POSTAL CODE</span>
                                        <p>{{groupDetailsData?.postal_code}}</p>
                                    </div>
                                    <div class="item" *ngIf="postal_code">
                                        <div class="edit">
                                            <a href="javascript:void(0)" (click)="openEdit('postal_code')">
                                                <img src="assets/images/check-icon.png" alt="" />
                                            </a>
                                        </div>
                                        <span>POSTAL CODE</span>
                                        <div class="form-group">
                                            <input class="form-control" type="text" [(ngModel)]="postal_code" *ngIf="postal_code">
                                        </div>
                                    </div>
                                    <div class="item" *ngIf="!address">
                                        <div class="edit">
                                            <a href="javascript:void(0)" *ngIf="IsGroupAdmin" (click)="openEdit('address')">
                                                <img src="assets/images/pencil-icon.png" alt="" />
                                            </a>
                                        </div>
                                        <span>ADDRESS</span>
                                        <p>{{groupDetailsData?.address}}</p>
                                    </div>
                                    <div class="item" *ngIf="address">
                                        <div class="edit">
                                            <a href="javascript:void(0)" (click)="openEdit('address')">
                                                <img src="assets/images/check-icon.png" alt="" />
                                            </a>
                                        </div>
                                        <span>ADDRESS</span>
                                        <div class="form-group">
                                            <input class="form-control" type="text" placeholder="Type anything and you will get a location *" id="autocomplete" #addressEdit>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 flex-right">
                <div>
                    <app-group-rightbar [groupData]="groupDetailsData" [groupPId]="isGroupId"></app-group-rightbar>
                </div>
            </div>
        </div>
    </div>
</section>



<ng-template #updateCoverPictureModal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Change Image</h4>
        <button type="button" class="close" aria-label="Close" (click)="c('Close click')">
            <!--<span aria-hidden="true">&times;</span>-->
        </button>
    </div>
    <div class="modal-body">
        <!-- <div class="img result" *ngIf="!coverCroppedImage">
            <img [src]="groupDetailsData?.group_image" style="width:100%; height:100%">
        </div>
        <div class="img result" *ngIf="coverCroppedImage">
            <img [src]="coverCroppedImage" style="width:100%; height:100%">


        </div>

        <div class="col-md-12" *ngIf="showCoverCrop">
            <image-cropper [imageChangedEvent]="coverImageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="4 / 3" [resizeToWidth]="200"
                format="png" (imageCropped)="coverImageCropped($event)"></image-cropper>
        </div>
        <div class="inner-bg">
            <div class="icon-change">
                <div class=" btn modal-btn-black btn-default" style="float:right;">Change Image
                    <input type="file" id="theFileInput" (change)="fileChangeListenerCover($event)" />
                </div>
            </div>
        </div> -->
        <div class="alert alert-danger" role="alert" *ngIf="modalErrorMsg">
            {{modalErrorMsg}}
        </div>
        <div class="img result" *ngIf="!IsShowCropperCoverImage">
            <img [src]="groupDetailsData?.group_image" class="crop-img">
        </div>
        <!--<div class="inner-bg">
            <div class="icon-change">
                <div class=" btn modal-btn-black btn-default" style="float:right;">Change Image
                    <input type="file" id="upload" accept="image/*" (change)="coverCropperChange($event)" />
                </div>
            </div>
        </div>-->
        <div class="upload-demo">
            <div class="upload-demo-wrap">
                <div id="upload-demo"></div>
            </div>
        </div>
		<div class="edit-option">
        	<ul>
        		<li>
        			<a><img src="assets/images/move.png" alt="" /></a>
        			<span>Move</span>
        		</li>
        		<li>
        			<a><img src="assets/images/crop.png" alt="" /></a>
        			<span>Crop</span>
        		</li>
        		<li>
        			<a href="Javascript:void(0);">
        			<label style="padding: 0; margin: 0; line-height: 1px;" for="upload"> <img src="assets/images/photo.png" alt="" /></label>
        			<input type="file" id="upload" style="display: none;" accept="image/*" (change)="coverCropperChange($event)" />
        			</a>
        			<span>CHANGE IMAGE</span>
        		</li>
        	</ul>
        </div>
    </div>
    <div class="modal-footer">
    	<a class="remove" (click)="resetCover()">REMOVE IMAGE</a>
        <!--<button type="button" class="btn modal-btn-primary" (click)="resetCover()">Remove Image</button>-->
        <button type="button" class="btn modal-btn-primary" (click)="c('Close click')">Cancel</button>
        <button type="button" class="btn modal-btn-black btn-default" (click)="UploadCoverImg()">Change</button>
    </div>
</ng-template>