.topPart{
    height: 210px;
    background-size: cover;
}

.result {
    /*border: 1px solid rgba(125,125,125,0.6);*/
    display: inline-block;
    padding: 1px;
}
.right-side a.more{
	font-size: 10px !important; text-transform: inherit !important;
}

.grp-rqsts h4{font-family: 'montserratmedium';color: #000000;text-transform: uppercase;font-size: 12px; letter-spacing: 1px; margin-bottom: 20px}
.grp-rqsts ul{padding:0; margin: 0; list-style-type: none; display: block !important;}
.grp-rqsts ul li{display: flex; flex-wrap:wrap; padding: 20px 0; text-align: left; width:100%; justify-content: space-between; align-items:center; border-bottom:3px solid #f0f0f0; margin-right: 0; margin-bottom: 0}
.grp-rqsts ul li:last-child{border-bottom:0}
.grp-rqsts ul li .left-area{display: flex; align-items:center}
.grp-rqsts ul li .right-area p{margin-bottom: 0}
.grp-rqsts ul li .round-image{margin-right: 10px}
.grp-rqsts ul li .round-image img{width:46px; height:46px; border-radius:100%}
.grp-rqsts ul li .content-part{flex:1 1 auto}
.grp-rqsts ul li .content-part p{margin-bottom:0;line-height:1.1}
.grp-rqsts ul li .content-part small{color:#7e7e7e;line-height:1; font-size:9px}
.grp-rqsts ul li .btn{font-size:10px !important; padding:9px 22px; text-transform:uppercase; margin: 3px 0}
.grp-rqsts ul li .btn.btn-default{background: #373737; box-shadow:none; text-shadow:none; color:#fff; border-radius:50px; border: 0}
.grp-rqsts ul li .btn.btn-default:hover{background: #000; transition: ease all 0.2s}


.hub-listing{list-style-type:none; padding:0; margin: 0; border: 1px solid #e1e1e1; display: flex; flex-wrap:wrap; margin-bottom: 20px}
.hub-listing li{display: flex; margin:0; width:100%; font-size:12px; align-items:center}
.hub-listing li .date, .hub-listing li .title, .hub-listing li .action{padding:6px 8px;}
.hub-listing li .date{width:30%; text-align: left;}
.hub-listing li .title{width:30%; text-align: left;}
.hub-listing li .action{width:40%; text-align:right}
.hub-listing li .caption{background:#e7e7e7}
.hub-listing li.action.caption{text-align:center}

.hub-listing li .btn.btn-primary, .hub-listing li .btn.btn-info, .hub-listing li .btn.btn-danger, .hub-listing li .btn.btn-success{border: 0;text-shadow: none;text-transform: uppercase;letter-spacing: 1px;padding: 5px 10px; border-radius: 50px; font-family: 'montserratmedium'; font-size: 11px !important; background-image: none; height: 24px;}

.new-tabs .nav-tabs > li > a {text-transform: uppercase;
    margin-right: 0 !important;
    line-height: 1.42857143;
    border: none;
    border-radius: 0;
    padding: 15px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    color: #222;
    letter-spacing: 2px;
}
.new-tabs ul {border-bottom:0}
.new-tabs ul li{ background: #b8b8b8 !important;}
.new-tabs .tab-content{background: none !important; padding:10px}
.demo-wrap {
    border-bottom: 1px solid #ddd;
    padding-top: 20px;
  }
  
  .upload-demo .upload-demo-wrap,
  .upload-demo .upload-result,
  .upload-demo.ready .upload-msg {
    display: none;
  }
  
  .upload-msg {
    text-align: center;
    padding: 50px;
    font-size: 22px;
    color: #aaa;
    width: 260px;
    margin: 50px auto;
    border: 1px solid #aaa;
  }
  
  .upload-demo.ready .upload-demo-wrap {
    display: block;
  }
  
  .upload-demo-wrap {
    width: 100%;
    height: 300px;
    margin: 0 auto;
  }
  
  .demo-wrap .container {
    padding-bottom: 10px;
  }
  
  .grid {
    width: 100%;
    max-width: 1140px;
    min-width: 755px;
    margin: 0 auto;
    overflow: hidden;
  }

.tabPart .tab-content .edit {
    position: absolute;
    z-index: 100;
    right: 30px;
    top: 50px;
    cursor: pointer;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAZCAYAAADTyxWqAAAAGXRFW…lyihEmBiqCUcOGk2GwdGZBQtGNDUjAUvttIBalgsNeAgQYAP+MVUd5VkVGAAAAAElFTkSuQmCC);
    width: 19px;
    height: 25px;
    background-repeat: no-repeat;
}
@media (min-width: 767px) {
	.modal-body{
		padding:10px !important;
	}
	.modal-body .img{
		height: auto !important;
	}
	.img{
		height: auto !important;
		margin-bottom: 0 !important;
  }
}
