<!-- inner  banner -->
<section class="inner-banner" [ngStyle]="{'background-image':'url('+enrichmentBookData[0]?.banner_image_url+')', 'background-position': 'center', 'background-repeat': 'no-repeat','background-size': 'cover'}">
  <div class="container">
      <div class="row">
          <div class="col-md-7">
              <h1 class="text-white">{{booksCatData.name}}</h1>
          </div>
      </div>
  </div>
</section>

<section class="section">
  <div class="container">
      <div class="books-tab">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
              <li class="active">
                  <a [routerLink]="['/enrichment/books']" >All <span>({{allBooks.length}})</span></a>
              </li>
              <li *ngFor="let catBook of booksCatListData">
                  <a [routerLink]="['/enrichment/book_cat',catBook.slug]" tooltip="{{catBook.description}}" tooltipPlacement="top"> {{catBook.name}} <span>({{catBook.bookscount}})</span></a>
              </li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="book1">
                  <div class="row p-16">
                    <div class="col-md-12">
                      <div class="books-wrap">
                        <div class="book-item" *ngFor="let catEnrichment of booksCatData.booklist">
                          <div class="book-pic">
                              <a [routerLink]="['/enrichment/book_details',catEnrichment.slug]"> <div [ngStyle]="{'background-image':'url('+catEnrichment.image_url+')', 'background-position': 'center', 'background-repeat': 'no-repeat','background-size': 'cover'}" class="book-img"> </div></a>
                              </div>
                              <div class="text-center book-text">
                                  <p>{{catEnrichment.author}}</p>
                                  <h5>{{catEnrichment.title}}</h5>
                                  <h5 class="text-red">{{catEnrichment.book_cat_name}}</h5>
                              </div>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
          </div>

      </div>
  </div>
</section>