<!-- inner  banner -->
<section class="inner-banner" [ngStyle]="{'background-image':'url('+enrichmentBookData[0]?.banner_image_url+')', 'background-position': 'center', 'background-repeat': 'no-repeat','background-size': 'cover'}">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1 class="text-white">{{enrichmentBookData[0]?.title}}</h1>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="books-tab">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li class="active"><a href="#book1" data-toggle="tab" >All <span>(22)</span></a>
                </li>
                <li><a href="#book2" data-toggle="tab" rel="popover"  id="popup1" data-placement="top">Professional Development <span>(10)</span></a>
                </li>
                <li><a href="#book3" role="tab" data-toggle="tab">Personal Development <span>(7)</span></a>
                </li>
                <li role="presentation"><a href="#book4" role="tab" data-toggle="tab">Leadership <span>(5)</span></a>
                </li>
                <li><a href="#book5" role="tab" data-toggle="tab">Relationships <span>(5)</span></a>
                </li>
                <li><a href="#book6" role="tab" data-toggle="tab">Motivational <span>(5)</span></a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="book1">
                    <div class="row p-16">
                    	<div class="col-md-12">
                    		<div class="books-wrap">
                    			<div class="book-item" *ngFor="let catEnrichment of booksCatData">
                    				<div class="book-pic">
                                <a [routerLink]="['/enrichment/book_details',catEnrichment.slug]"> <div [ngStyle]="{'background-image':'url('+catEnrichment.image_url+')', 'background-position': 'center', 'background-repeat': 'no-repeat','background-size': 'cover'}" class="book-img"> </div></a>
                            		</div>
                            		<div class="text-center book-text">
		                                <p>{{catEnrichment.author}}</p>
		                                <h5>{{catEnrichment.title}}</h5>
		                                <h5 class="text-red">Personal Development</h5>
		                            </div>
                    			</div>
                    		</div>
                    	</div>
                        <!--<div class="col-md-3 col-book mt-50" *ngFor="let catEnrichment of booksCatData">
                            <div class="book-pic">
                                <a [routerLink]="['/enrichment/book_details',catEnrichment.slug]"> <div [ngStyle]="{'background-image':'url('+catEnrichment.image_url+')', 'background-position': 'center', 'background-repeat': 'no-repeat','background-size': 'cover'}" class="book-img"> </div></a>
                            </div>
                            <div class="text-center book-text">
                                <p>{{catEnrichment.author}}</p>
                                <h5>{{catEnrichment.title}}</h5>
                                <h5 class="text-red">Personal Development</h5>
                            </div>
                        </div>-->
                        <!--<div class="col-md-12 col-book mt-50" *ngIf="booksCatData.length == 0">
                            <p>No result found.</p>
                        </div>-->
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="book2">...</div>
            </div>

        </div>
    </div>
</section>