.book-text h5{font-size:12px; margin-top: 0 !important; font-weight: 500;}
.books-wrap{display:flex; flex-wrap:wrap; margin-left: -10px; margin-right: -10px; margin-top: 30px}
.books-wrap .book-item{width:21.4%; margin: 40px 1.6% 0;}
.books-wrap .book-item .book-pic{height:400px; width:100%}
.books-wrap .book-item .book-pic a{display: block;width:100%; height:100%;}
.books-wrap .book-item .book-pic a .book-img{display: block; background-size: cover !important; background-repeat: no-repeat !important; background-position: center center !important; width:100%; height:100%;}
.books-wrap .book-item p{font-size:16px; font-weight: 500; margin-bottom: 5px;}
             

@media screen and (max-width:767px) {
	.books-wrap .book-item{width:48%;}
	.books-wrap .book-item .book-pic{height:500px;}
}

@media screen and (max-width:480px) {
	.books-wrap{margin-right:0; margin-left: 0}
	.books-wrap .book-item{width:100%; margin-right:0; margin-left: 0}
}

/*tooltip-content{
	border-top-color: #be1620;
}

.popover.top > .arrow:after{
	
}

.popover{
background: #be1620;
color: #fff;
text-align: center;
box-shadow: none;
border: none;
border-radius: 0;
}*/