<section class="section no-banner">
  <div class="container">
      <div class="row">
          <div class="col-md-3 col-book-pic">
                <img [src]="bookDetData.image_url" alt="" class="img-responsive">
                <!--<ul class="social-link mt-30 text-center">
                    <li>
                        <a href="#" class="fb-bg"><i class="ion-social-facebook"></i></a>
                        <span>5</span>
                    </li>
                    <li>
                        <a href="#" class="linked-bg"><i class="fa fa-linkedin"></i></a>
                        <span>5</span>
                    </li>
                    <li>
                        <a href="#" class="twitter-bg"><i class="ion-social-twitter"></i></a>
                        <span>5</span>
                    </li>
                </ul>-->
          </div>
          <div class="col-md-9">
              <h2 class="text-red">{{bookDetData.title}}</h2>
              <h4 class="mt-30">By {{bookDetData.author}} – <span class="text-grey-light">Books | {{bookDetData.bookcatname}}</span></h4>
              <a href="{{bookDetData.link}}" class="btn btn-primary mt-30">Find At Amazon <i class="ion-ios-arrow-forward"></i></a>
              <div class="col-md-12 mt-30" [innerHTML]="bookDetData.description"></div>
          </div>
      </div>
  </div>
</section>
