<section class="section">
  <div class="container">
      <div class="row">
          <div class="col-md-4 col-book-pic">
                <img [src]="bookDetData.image_url" alt="" class="img-responsive" style="max-width:100%">
                <!--<ul class="social-link mt-30 text-center">
                    <li>
                        <a href="#" class="fb-bg"><i class="ion-social-facebook"></i></a>
                        <span>5</span>
                    </li>
                    <li>
                        <a href="#" class="linked-bg"><i class="fa fa-linkedin"></i></a>
                        <span>5</span>
                    </li>
                    <li>
                        <a href="#" class="twitter-bg"><i class="ion-social-twitter"></i></a>
                        <span>5</span>
                    </li>
                </ul>-->
                <!--<div class="book-rating">
                	<span><i class="ion-ios-star"></i> <i class="ion-ios-star"></i> <i class="ion-ios-star"></i> <i class="ion-ios-star"></i> <i class="ion-ios-star"></i></span>
                </div>-->
          </div>
          <div class="col-md-8">
              <div class="extra-left-pad">
              	<h2 class="text-red">{{bookDetData.title}}</h2>
              	<h4 class="mt-20">By {{bookDetData.author}} – <!--<span class="text-grey-light">-->Books | {{bookDetData.bookcatname}}<!--</span>--></h4>
              	<a href="{{bookDetData.link}}" class="btn btn-primary mt-30">Find At Amazon <!--<i class="ion-ios-arrow-forward"></i>--></a>
	              <div class="row">
	              	<div class="col-md-12 mt-30" [innerHTML]="bookDetData.description"></div>
	              </div>
	              <div class="d-reviews">
	              	<div class="row">
	              		<div class="col-md-3 pml-0">
	              			<p>
	              				<i _ngcontent-c0="" class="ion-ios-star"></i>
	              				<i _ngcontent-c0="" class="ion-ios-star"></i>
	              				<i _ngcontent-c0="" class="ion-ios-star"></i>
	              				<i _ngcontent-c0="" class="ion-ios-star"></i>
	              				<i _ngcontent-c0="" class="ion-ios-star"></i>
	              			</p>
	              			<h4>Erik Sandberg</h4>
	              			<p><span>14 August 2017</span></p>
	              		</div>
	              		<div class="col-md-9 pml-0">
	              			<p class="mt-15">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do 
eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
	              		</div>
	              	</div>
	              </div>
	              <div class="leave-rvw mt-30">
	              	<h4 class="mb-30">Leave a review</h4>
	              	<form class="form-area">
	              		<div class="form-group" style="margin-bottom: 15px">
	              			<input type="text" class="form-control" placeholder="Name"/>
	              		</div>
	              		<div class="form-group">
	              			<textarea class="form-control" placeholder="Review" rows="5" style="padding-top: 15px; padding-bottom: 15px; resize: none"></textarea>
	              		</div>
	              		<div class="form-group">
	              			<p class="mb-0 ur-rating">Your Rating: <span><i class="ion-ios-star"></i> <i class="ion-ios-star"></i> <i class="ion-ios-star"></i> <i class="ion-ios-star"></i> <i class="ion-ios-star"></i></span></p>
	              		</div>
	              		<input type="submit" class="btn btn-primary btn-blank" value="send review"/>
	              	</form>
	              </div>
              </div>
          </div>
      </div>
  </div>
</section>
