<div class="clearfix post-510 page type-page status-publish hentry" id="510">
    
            
            <section data-header-style="" style="position: relative; width:100%;">
                <div class="spb-row" style="margin-top: 0%; margin-bottom: 0%; padding: 6% 3%; background-image: url('assets/images/corpo-partner.jpg'); background-size: cover; opacity: 1; visibility: visible; background-position: center;">
    
           <div class="container">
               <div class="row">
                    <div class="col-md-8">
                        <h1>It’s a partnership that works.</h1>
                        <p>
                                Women’s roles are changing in the workplace, and companies that lead and champion this trend are those that will reap the rewards. Partnering with Femnesty gives your female staff a dedicated Space where they can share ideas, start discussions, encourage each other and address office issues in a structured, fully supported setting. Our work helps to close leadership gaps and rebalance gender bias with programmes that encourage personal growth, professional development and social responsibility at work. Members can set up virtual or face-to-face Hubs, find or become a mentor, communicate with other women in the organisation or network with other Femnesty Partners. It’s a partnership that strengthens, supports and benefits everyone involved.

                        </p>
                        <p><a [routerLink]="['/page/contact-us']" class="btn btn-primary mt-30">Contact us</a></p>
                    </div>
               </div>
          </div>         
                    
                    
                    
      </div> 
</section>
   
    
                
    
<section class="mid-sec">
      <div class="container">
           <div class="row">
                <div class="col-md-12">    
    				<h1>Join us to champion diversity and <br> reduce the gender gap.</h1>
				</div>
     <div class="col-md-12">
       <div class="col-md-6 pdl-0 pdr-30">      
    	<h3>Femnesty Hubs</h3>
    	<p>Femnesty Hubs are at the very heart of what we do. These small peer groups meet regularly to discuss issues, share ideas, support one another and encourage professional development. Hubs grow into strong support networks, and these empower women to tackle new challenges and embrace opportunities. Partner with Femnesty and we’ll help you set up Hubs in your workplace. Our online tool will help you establish and manage your network, and we can also provide ideas and materials to help you succeed.</p>
         
    	<h3>Femnesty Mentoring</h3>
    	<p>Women often make the best mentors for other women because they’ve faced and overcome the same unique challenges themselves. Femnesty can help you establish mentorships within your workplace, or put your female staff in touch with an outside mentor with suitable expertise. Women thrive under mentorships; they feel supported and empowered, and are generally happier in their careers. Companies who offer or support mentorships are therefore more likely to retain female talent, and reduce the gender gap at the highest level. Partner with Femnesty and we can help you set up and maintain a mentorship programme that will benefit not just the women in your business, but your entire organisation.</p>
    </div>
    <div class="col-md-6 pdl-0 pdr-30">      
    	<h3>Femnesty Events</h3>
    	<p>Every year we organise two Femnesty events highlighting issues that are affecting women at work. With inspirational speakers, workshops and presentations, these events are a great focal point for companies who recognise the need for gender equality, and seek to be proactive themselves. It’s also an opportunity to meet, network and benchmark with other Femnesty Hubs, associates and Partners. As one of our Partners, we may even ask you to speak at an event, to promote your organisation and share the experiences you’ve had.</p>
          
    	<h3>Femnesty Education</h3>
    	<p>Our aim is to educate and support women at every stage of their lives and careers by providing them with the information and education they need to succeed. By Partnering with us you’ll have access to a growing resource of motivational and educational videos, TED Talks and books covering themes such as leadership, equality and women’s rights. Use these to power discussions within Hubs, at seminars, in talks or on workplace courses.</p>
    </div>  
	 </div>
     
     
		   </div>               
       </div>
</section>
    
<section class="p-sec">
  <div class="container">
  	<div class="row">
  		<div class="col-md-12">
  			<h1>Corporate Partnerships & Mentoring</h1>
  			<p>Corporate mentoring isn’t about 1-2-1 meetings between well-meaning managers and the people in their teams. Nor is it about setting Key Personal Indictors, discussing targets and agreeing goals. To run an effective Corporate Mentoring programme it’s critical to use qualified Mentors with skills and training in areas such as business confidence, resilience and strategy planning. If these Mentors already work in your organisation, they’re even better placed to guide mentees on their journey to success…</p>
  			<p>All too often, businesses task managers to mentor the people in their teams. But managers are often not qualified to provide this uniquely specialised support. A quick course or online tutorial is simply not enough to equip a person to take on such an important, empowering role.</p>
  			<p>That’s why Femnesty has teamed up with an accredited IOEE Academy, Leapfrog Mountain. They provide a range of mentoring and training services that enable businesses to set up or enhance a mentoring programme by supporting the programme design and development and training their own staff to be fully-qualified Mentors and mentor champions.</p>
  			<p>The qualifications Leapfrog delivers are industry recognised with additional modules of CPD (continuous professional development), so new and existing Mentors can develop their skills. The training is formal, IOEE accredited and quality assured so Mentors – as well as Mentees and the business itself – receive real, long-term benefits for future opportunities and professional success.</p>
  			<p>As a Femnesty Partner you have full access to Leapfrog’s training and services, which can be delivered online or in person to your specific requirements.
You can also access our directory of trained, professional Mentors should you wish to find another, third-party Mentor to work with you.</p>
  		</div>
  	</div>
  </div>             
</section>
            
    
            
        </div>