<div class="clearfix post-510 page type-page status-publish hentry" id="510">
    
            
            <section data-header-style="" class="row fw-row  dynamic-header-change fw-row-adjusted" style="position: relative; left: -73px; width: 1286px;">
                <div class="spb-row  " data-row-type="image" data-wrap="full-width-contained" data-image-movement="scroll" data-content-stretch="false" data-row-height="content-height" data-col-spacing="0" data-col-v-pos="default" style="margin-top: 0%; margin-bottom: 0%; padding: 8% 3%; background-image: url('assets/images/partners_header.jpg'); background-size: cover; opacity: 1; visibility: visible;" data-sb-init="true">
    
                    
                    
                    
                    <div class="spb_content_element clearfix" style="padding-left: 73px; padding-right: 73px;">
                        <div class="spb-row-no-cols-wrapper clearfix"> <section class="row ">
      <div class="spb_content_element col-sm-12 partners-text-padding spb_text_column">
        <div class="spb-asset-content" style="margin-top: 0px;margin-bottom: 0px;">
          
    <div class="et_pb_text et_pb_module et_pb_bg_layout_light et_pb_text_align_left et_pb_text_0">
    <h1><span id="share" style="color: #e12b20;">It’s a Partnership that works.</span></h1>
    </div>
    <div class="et_pb_text et_pb_module et_pb_bg_layout_light et_pb_text_align_left et_pb_text_1">
    <div class="et_pb_text et_pb_module et_pb_bg_layout_light et_pb_text_align_left et_pb_text_1">
    <p>Women’s roles are changing in the workplace, and companies that lead and champion this trend are those that will reap the rewards. By becoming a Femnesty Partner, businesses promote and provide a Safe Place where work-related issues and discussions can be raised and addressed in a secure, fully supported setting. Our work helps to close leadership gaps and rebalance gender bias with programmes that encourage personal growth, professional development and social responsibility at work. Members can set up virtual or face-to-face Hubs, find or become a mentor, communicate with other women in the organisation or network with other Femnesty Partners. It’s a partnership that strengthens, supports and benefits everyone involved.</p>
    <a class="sf-button standard accent default " href="/contact-us" target="_self"><span class="text">Partner Femnesty today</span></a>
    </div>
    </div>
    
        </div>
      </div> </section>
     </div><!-- .spb-row-no-cols-wrapper -->                </div>
                    
                    
                </div><!-- .spb-row -->
    
                </section>
    
                <div class="spb-row-sizer"></div>
    
             <section data-header-style="" class="row fw-row  dynamic-header-change">
                <div class="spb-row  " data-row-type="color" data-wrap="standard-width" data-image-movement="fixed" data-content-stretch="false" data-row-height="content-height" data-col-spacing="0" data-col-v-pos="default" style="margin-top: 0%;margin-bottom: 0%;padding-top: 5%;padding-left: 5%;padding-right: 5%;padding-bottom: 5%;">
    
                    
                    
                    
                    <div class="spb_content_element clearfix" style="">
                        <div class="spb-row-no-cols-wrapper spb-row-multi-col clearfix"> <section class="row ">
      <div class="spb_content_element col-sm-12 spb_text_column">
        <div class="spb-asset-content" style="margin-top: 0px;margin-bottom: 0px;">
          
    <h1 class="pad-bot-part"><span style="color: #e12b20;">Join us to champion diversity and reduce the gender gap.</span></h1>
    
        </div>
      </div> </section>
     <section class="row "><div class="divider-wrap col-sm-12"><div class="spb_divider standard spb_content_element partnres-head-div" style="margin-top: 0; margin-bottom: 0;"></div>
    </div></section>
     <section class="row ">
      <div class="spb_content_element col-sm-6 spb_text_column">
        <div class="spb-asset-content" style="margin-top: 0px;margin-bottom: 0px;">
          
    <h3><span style="color: #e12b20;">Femnesty Hubs</span></h3>
    <p>Femnesty Hubs are at the very heart of what we do. These small peer groups meet regularly to discuss issues, share ideas, support one another and encourage professional development. Hubs grow into strong support networks, and these empower women to tackle new challenges and embrace opportunities. Partner with Femnesty and we’ll help you set up Hubs in your workplace. Our online tool will help you establish and manage your network, and we can also provide ideas and materials to help you succeed.</p>
    
        </div>
      </div>  
      <div class="spb_content_element col-sm-6 spb_text_column">
        <div class="spb-asset-content" style="margin-top: 0px;margin-bottom: 0px;">
          
    <h3><span style="color: #e12b20;">Femnesty Mentoring</span></h3>
    <p>Women often make the best mentors for other women because they’ve faced and overcome the same unique challenges themselves. Femnesty can help you establish mentorships within your workplace, or put your female staff in touch with an outside mentor with suitable expertise. Women thrive under mentorships; they feel supported and empowered, and are generally happier in their careers. Companies who offer or support mentorships are therefore more likely to retain female talent, and reduce the gender gap at the highest level. Partner with Femnesty and we can help you set up and maintain a mentorship programme that will benefit not just the women in your business, but your entire organisation.</p>
    
        </div>
      </div> </section>
     <section class="row "><div class="divider-wrap col-sm-12"><div class="spb_divider standard spb_content_element partnres-head-mellan" style="margin-top: 25px; margin-bottom: 25px;"></div>
    </div></section>
     <section class="row ">
      <div class="spb_content_element col-sm-6 spb_text_column">
        <div class="spb-asset-content" style="margin-top: 0px;margin-bottom: 0px;">
          
    <h3><span style="color: #e12b20;">Femnesty Education</span></h3>
    <p>Our aim is to educate and support women at every stage of their lives and careers by providing them with the information and education they need to succeed. By Partnering with us you’ll have access to a growing resource of motivational and educational videos, TED Talks and books covering themes such as leadership, equality and women’s rights. Use these to power discussions within Hubs, at seminars, in talks or on workplace courses.</p>
    
        </div>
      </div>  
      <div class="spb_content_element col-sm-6 spb_text_column">
        <div class="spb-asset-content" style="margin-top: 0px;margin-bottom: 0px;">
          
    <h3><span style="color: #e12b20;">Femnesty Events</span></h3>
    <p>Every year we organise two Femnesty events highlighting issues that are affecting women at work. With inspirational speakers, workshops and presentations, these events are a great focal point for companies who recognise the need for gender equality, and seek to be proactive themselves. It’s also an opportunity to meet, network and benchmark with other Femnesty Hubs, associates and Partners. As one of our Partners, we may even ask you to speak at an event, to promote your organisation and share the experiences you’ve had.</p>
    
        </div>
      </div> </section>
     </div><!-- .spb-row-no-cols-wrapper -->                </div>
                    
                    
                </div><!-- .spb-row -->
    
                </section>
    
                <div class="spb-row-sizer"></div>
    
             <section data-header-style="" class="row fw-row  dynamic-header-change fw-row-adjusted" style="position: relative; left: -73px; width: 1286px;">
                <div class="spb-row  mob-art-padd-upner " data-row-type="color" data-wrap="full-width-contained" data-image-movement="fixed" data-content-stretch="false" data-row-height="content-height" data-col-spacing="0" data-col-v-pos="default" style="background-color: rgb(247, 247, 247); margin-top: 0%; margin-bottom: 0%; padding: 5%; opacity: 1; visibility: visible;" data-sb-init="true">
    
                    
                    
                    
                    <div class="spb_content_element clearfix" style="padding-left: 73px; padding-right: 73px;">
                        <div class="spb-row-no-cols-wrapper spb-row-multi-col clearfix"> <section class="row ">
      <div class="spb_content_element col-sm-12 spb_text_column">
        <div class="spb-asset-content" style="margin-top: 0px;margin-bottom: 0px;">
          
    <h1><span style="color: #e12b20;">Corporate Partnerships &amp; Mentoring</span></h1>
    
        </div>
      </div> </section>
     <section class="row "><div class="divider-wrap col-sm-12"><div class="spb_divider standard spb_content_element partnres-head-div" style="margin-top: 0; margin-bottom: 0;"></div>
    </div></section>
     <section class="row ">
      <div class="spb_content_element col-sm-12 spb_text_column">
        <div class="spb-asset-content" style="margin-top: 0px;margin-bottom: 0px;">
          
    <p><b>Corporate mentoring isn’t about 1-2-1 meetings between well-meaning managers and the people in their teams. Nor is it about setting Key Personal Indictors, discussing targets and agreeing goals. To run an effective Corporate Mentoring programme it’s critical to use qualified Mentors with skills and training in areas such as business confidence, resilience and strategy planning. If these Mentors already work in your organisation, they’re even better placed to guide mentees on their journey to success…</b></p>
    <p><span style="font-weight: 400;">All too often, businesses task managers to mentor the people in their teams. But managers are often not qualified to provide this uniquely specialised support. A quick course or online tutorial is simply not enough to equip a person to take on such an important, empowering role.</span></p>
    <p><span style="font-weight: 400;">That’s why Femnesty has teamed up with an accredited IOEE Academy, Leapfrog Mountain. They provide a range of mentoring and training services that enable businesses to set up or enhance a mentoring programme by supporting the programme design and development and training their own staff to be fully-qualified Mentors and mentor champions.</span></p>
    <p><span style="font-weight: 400;">The qualifications Leapfrog delivers are industry recognised with additional modules of CPD (continuous professional development), so new and existing Mentors can develop their skills. The training is formal, IOEE accredited and quality assured so Mentors – as well as Mentees and the business itself – receive real, long-term benefits for future opportunities and professional success.</span></p>
    <p><span style="font-weight: 400;">As a Femnesty Partner you have full access to Leapfrog’s training and services, which can be delivered online or in person to your specific requirements.</span></p>
    <p><span style="font-weight: 400;">You can also access our directory of trained, professional Mentors should you wish to find another, third-party Mentor to work with you</span></p>
    
        </div>
      </div> </section>
     </div><!-- .spb-row-no-cols-wrapper -->                </div>
                    
                    
                </div><!-- .spb-row -->
    
                </section>
    
                <div class="spb-row-sizer"></div>
    
             <section data-header-style="" class="row fw-row  dynamic-header-change fw-row-adjusted" style="position: relative; left: -73px; width: 1286px;">
                <div class="spb-row  hide-all " data-row-type="color" data-wrap="full-width-contained" data-image-movement="fixed" data-content-stretch="false" data-row-height="content-height" data-col-spacing="0" data-col-v-pos="default" style="background-color: rgb(247, 247, 247); margin-top: 0%; margin-bottom: 0%; padding: 5%; opacity: 1; visibility: visible;" data-sb-init="true">
    
                    
                    
                    
                    <div class="spb_content_element clearfix" style="padding-left: 73px; padding-right: 73px;">
                        <div class="spb-row-no-cols-wrapper spb-row-multi-col clearfix"> <section class="row ">
      <div class="spb_content_element col-sm-12 spb_text_column">
        <div class="spb-asset-content" style="margin-top: 0px;margin-bottom: 0px;">
          
    <h1><span style="color: #e12b20;">Our Partners</span></h1>
    
        </div>
      </div> </section>
     <section class="row "><div class="divider-wrap col-sm-12"><div class="spb_divider standard spb_content_element partnres-head-div" style="margin-top: 0; margin-bottom: 0;"></div>
    </div></section>
     <section class="row "><div class="blank_spacer col-sm-12  " style="height:10px;"></div>
    </section>
     <section class="row ">
      <div class="spb_content_element spb_image noframe col-sm-3 thumbnail-std gallery-item square-corners">
        <div class="spb-asset-content"><figure class="animated-overlay overlay-style caption-hover clearfix">
        <a class="img-link" href="#link" target="_blank"></a><div class="img-wrap"><img width="3200" height="1270" src="https://www.femnesty.com/wp-content/uploads/2017/05/Logo.png" class="attachment-full size-full" alt="" srcset="https://www.femnesty.com/wp-content/uploads/2017/05/Logo.png 3200w, https://www.femnesty.com/wp-content/uploads/2017/05/Logo-400x159.png 400w, https://www.femnesty.com/wp-content/uploads/2017/05/Logo-300x119.png 300w, https://www.femnesty.com/wp-content/uploads/2017/05/Logo-768x305.png 768w, https://www.femnesty.com/wp-content/uploads/2017/05/Logo-1024x406.png 1024w, https://www.femnesty.com/wp-content/uploads/2017/05/Logo-1280x508.png 1280w, https://www.femnesty.com/wp-content/uploads/2017/05/Logo-1000x397.png 1000w" sizes="(max-width: 3200px) 100vw, 3200px"></div><div class="figcaption-wrap"></div><figcaption><div class="thumb-info"><h4>Erik Sandberg</h4></div></figcaption></figure>
        </div>
      </div> </section>
     </div><!-- .spb-row-no-cols-wrapper -->                </div>
                    
                    
                </div><!-- .spb-row -->
    
                </section>
    
                <div class="spb-row-sizer"></div>
    
            
    
            <div class="link-pages"></div>
    
            
        </div>