<div [ngClass]="{'feedhover': IsShowFeedForm }" class="feedback-n" >
    <span (click)="openForm()" *ngIf="isShowPlus">
      <i class="fa fa-plus" style="color: red;
      cursor: pointer;"></i>
    </span>
    <span (click)="closeForm()" *ngIf="!isShowPlus">
      <i class="fa fa-minus" style="color: red;
        cursor: pointer;"></i>
    </span>
    <a href="javascript:void(0)">FEEDBACK
    </a>
  
  </div>
  <div class="feedback-from" *ngIf="IsShowFeedForm">
      <div class="alert alert-success" role="alert" *ngIf="successMsg">
          {{successMsg}}
        </div>
        <div class="" role="alert" *ngIf="errorMsg">
             {{errorMsg}}
          </div>
    <form [formGroup]="rForm" (ngSubmit)="sendFeedBack()">
        <div class="from">
            <p>Help us improve Femnesty, we appreciate hearing from you. </p>
            <textarea class="form-control" placeholder="How has your experience been using our website? Is there anything else 
        we can do better? 
        " rows="5" formControlName="description"></textarea>
            <div class="form-group-new">
              <input class="form-control" [(ngModel)]="loginUserDet.email" placeholder="E-mail" type="text" formControlName="email">
            </div>
            <div class="rate">
              <h2>Rate your experience</h2>
              <p>
                <rating formControlName="rating"  [float]="true"></rating>
              </p>
            </div>
            <div class="rate">
              <h2>Can we contact you about your feedback?</h2>
              <p>
                <label class="checkbox-inline">
                  <input type="radio" value="1" name="feedback" formControlName="feedback">Yes
                </label>
                <label class="checkbox-inline" >
                  <input type="radio" value="2" name="feedback" formControlName="feedback">No
                </label>
              </p>
            </div>
          </div>
          <div class="btn-area">
            <button class="btn btn-primary" type="submit">SUBMIT</button>
          </div>
    </form>
    
  </div>
<section class="section about-content-area visitingProfile">
  <div class="container-fluid">
      <div class="row flex-profile">
          <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
        <div class="col-md-3 flex-left">
            <user-sidebar *ngIf="isLoggedIn == '1'"></user-sidebar>
        </div>
        <div class="col-md-6 flex-middle">
         
            <div class="tabPart">
          <div *ngIf="(isLoggedIn == '1')">
              <app-post-create [postType]="groupPostDetData" (getUserPostDetails)="getUserPostDetails()"></app-post-create>
          </div>
          <div *ngIf="userPostList?.length > 0">
              <div *ngFor="let postData of userPostList">
                  <app-post-card [postData]="postData"></app-post-card>                
              </div>
              </div>
              <div class="likePart" *ngIf="userPostList?.length == 0">
                  <div class="row">
                      <div class="col-md-10">
                          <div class="nothing">Nothing more to show</div>
                      </div>
                  </div>
              </div>
            </div>
          
        </div>
        <div class="col-md-3 flex-right">
          <div class="rightPart">
            <div class="innerRightPart latest-article">
                <h2>Latest Articles</h2>
                <div *ngIf="latestArticles?.length > 0">
                <div class="hubMet hubMet2" *ngFor="let articleData of latestArticles">
                     <a [routerLink]="['/articles/details',articleData.slug]">
                          <div class="img" [ngStyle]="{'background-image':'url('+articleData.image_url+')'}"></div>
                     </a>
                     <div class="article-text">
	                      <p>{{articleData.title | limitTo : 20}}</p>
	                      <a [routerLink]="['/articles/details',articleData.slug]" class="downtxt">By {{articleData.author_name}} on {{articleData.c_date | dateTimeFormat: 'MMM dd, yyyy' }}</a>
                     </div>
                    
                </div>
                </div>
            </div>
            <div class="innerRightPart right-share-new">
              <div class="article-add-holder article-add-holder1">
                <h3>Share your Story</h3>
                <p>Femnesty is always looking for strong, positive contributors to join our team.</p>
                <a [routerLink]="['/user/shareyourstory']" class="btn btn-primary">SHARE</a>
              </div>
            </div>

            <div class="innerRightPart right-share-new">
              <div class="article-add-holder article-add-holder1">
                <h3>Start a Hub</h3>
                <p> Make a difference where you are, start a Hub today. </p>
                <a [routerLink]="['/user/create_hub/create']" class="btn btn-primary">START</a>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</section>