<section class="inner-banner" style=" background-image: url(assets/images/404-banner.jpg); background-size: cover; background-position: center top; background-repeat: no-repeat;">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="text-white">404</h1>
                    </div>
                </div>
            </div>
</section>
<section class="section p-16 inner-pages-holder">
	<div class="container">
       <div class="row">
       	<div class="col-md-12">
       		<h1>Page not found.</h1>
       		<p>Unfortunately, this page does not exist. Please check your URL or return to the Home Page. or search after what you are looking for below.</p>
       		
       	</div>
        
       </div>
       <div class="row">
       	<div class="col-md-12">
       		<form class="row form-area" [formGroup]="form" (ngSubmit)="searchDataResult(form.value)" #searchForm="ngForm">
       			<div class="col-md-6 form-group">
       			<input class="form-control" placeholder="Search for … " type="text" formControlName="skeyword" (ngModelChange)="searchResult($event)">
       			</div>
       			<div class="col-md-2">
       				<button class="btn btn-primary" type="submit">Search</button>
       			</div>
       		</form>
       		</div>
       </div>
     </div>
</section>
<!--<form class="pull-left" [formGroup]="form" (ngSubmit)="searchDataResult(form.value)" #searchForm="ngForm">
  <ul class="nav navbar-nav navbar-left">
      <li>
          <a [routerLink]="['/social_home']"><img src="assets/images/logo-small.png"></a>
      </li>
      <li class="form-search search-icon">
          <div class="form-group">
              <input type="text" class="form-control" formControlName="skeyword" (ngModelChange)="searchResult($event)" placeholder="Search" >
              <button type="submit"><i class="icon ion-ios-search"></i></button>
          </div>
      </li>
  </ul>
 </form>-->