<p>
  pagenotfound works!
</p>
<!--<form class="pull-left" [formGroup]="form" (ngSubmit)="searchDataResult(form.value)" #searchForm="ngForm">
  <ul class="nav navbar-nav navbar-left">
      <li>
          <a [routerLink]="['/social_home']"><img src="assets/images/logo-small.png"></a>
      </li>
      <li class="form-search search-icon">
          <div class="form-group">
              <input type="text" class="form-control" formControlName="skeyword" (ngModelChange)="searchResult($event)" placeholder="Search" >
              <button type="submit"><i class="icon ion-ios-search"></i></button>
          </div>
      </li>
  </ul>
 </form>-->