<footer>
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <h4>Let’s Connect!</h4>
        </div>
        <div class="col-md-3 col-sm-6">
          <h4><i class="ion-email"></i> Email us</h4>
        </div>
        <div class="col-md-3 col-sm-6">
          <h4><i class="ion-ios-telephone"></i> Call Us</h4>
        </div>
        <div class="col-md-3 col-sm-6">
          <h4><i class="ion-log-in"></i> Sign In</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <h5>ABOUT FEMNESTY</h5>
          <ul>
            <li><a href="">Who are we?</a></li>
            <li><a href="">Advisory Team</a></li>
            <li><a href="">Partnership</a></li>
            <li><a [routerLink]="['/page',pageContactData]">Contact Us</a></li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-6">
          <h5>CONTRIBUTE</h5>
          <ul>
            <li><a href="">Share Your Story</a></li>
            <li><a href="">Become a Mentor</a></li>
            <li><a href="">Join the Team</a></li>
            <li><a href="">Mentorship</a></li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-6">
          <h5>ARTICLES</h5>
          <ul>
            <li><a href="">Work and Home Balance</a></li>
            <li><a href="">Strategies for Success</a></li>
            <li><a href="">Women in 21st Century</a></li>
            <li><a href="">Read Stories</a></li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-6">
          <h5>NEWSLETTER</h5>
          <form>
            <div class="form-group">
              <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Your Email">
            </div>
            <button type="submit" class="btn btn-primary">SUBSCRIPBE</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <p class="pull-left">Copyright © 2017 Femnesty. All rights reserved.</p>
      <ul class="pull-right">
        <li><a href=""><i class="ion-social-facebook"></i></a></li>
        <li><a href=""><i class="ion-social-twitter"></i></a></li>
        <li><a href=""><i class="ion-social-linkedin"></i></a></li>
      </ul>
    </div>
  </div>
  <div id="live-chat" class="hidden">     
      <header class="clearfix">
        <a href="#" class="chat-close">x</a>
        <h4>John Doe</h4>
        <span class="chat-message-counter">3</span>
      </header>
      <div class="chat">
        <div class="chat-history">
           <div class="chat-message clearfix">
            <img src="http://gravatar.com/avatar/2c0ad52fc5943b78d6abe069cc08f320?s=32" alt="" width="32" height="32">
            <div class="chat-message-content clearfix">
              <span class="chat-time">13:37</span>
              <h5>Marco Biedermann</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, nulla accusamus magni vel debitis numquam qui tempora rem voluptatem delectus!</p>
            </div> 
          </div> 
          <hr>
          <div class="chat-message clearfix right-section">            
            <img src="http://gravatar.com/avatar/2c0ad52fc5943b78d6abe069cc08f320?s=32" alt="" width="32" height="32">
            <div class="chat-message-content clearfix">
              <span class="chat-time">13:37</span>
              <h5>Marco Biedermann</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, nulla accusamus magni vel debitis numquam qui tempora rem voluptatem delectus!</p>
            </div> 
          </div> 
          <hr>
          <div class="chat-message clearfix">
            <!--<img src="http://lorempixum.com/32/32/people" alt="" width="32" height="32">-->
            <div class="chat-message-content clearfix">
              <span class="chat-time">13:38</span>
              <h5>John Doe</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
            </div> 
          </div> 
          <hr>
        </div> 
        <p class="chat-feedback">Your partner is typing…</p>
        <form action="#" method="post">
          <fieldset>
            <input type="text" placeholder="Type your message…" autofocus>
            <input type="hidden">
          </fieldset>
        </form>
      </div> 
    </div> 
</footer>