<section class="section single-article">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div>
                    <img [src]="mentorshipDet?.image" alt="" class="img-responsive">
                </div>
                <div>
                    <h3 class="text-red">{{mentorshipDet?.name}}</h3>
                    <p class="text-gray">{{mentorshipDet?.qualification}}</p>
                    <ul class="n-social social-link">
                    	<!-- <li ceiboShare  [facebook]="{u: repoUrl}">
                    		<img src="assets/images/facebook.png" />
                        </li> -->
                        <li>
                            <app-beta-restriction height="''" [image]="'assets/images/facebook.png'">
                            </app-beta-restriction>
                            <span>5</span>
                        </li>
                    	<li ceiboShare  [linkedIn]="{url:repoUrl, text:mentorshipDet?.short_desc}">
                    		<img src="assets/images/linkedin.png" />
                    		<span>5</span>
                    	</li>
                    	<li ceiboShare  [twitter]="{url:repoUrl, text:mentorshipDet?.short_desc}">
                    		<img src="assets/images/twitter.png" />
                    		<span>5</span>
                    	</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-8">
                <!--<h1>Mentorship Details</h1>-->
                <p class="font-weight-bold mb-30 p-16">{{mentorshipDet?.short_desc}}</p>
                <div [innerHTML]="mentorshipDet?.long_desc" class="mb-30"></div>
                <div class="m-contact">
                	<h3>Contact details</h3>
                	<P>E-mail: Catherine@baudino.co</P>
                	<p>Phone: 020 7233 6268 / 07785 233 109</p>
                	<p>Website: www.baudino.co</p>
                </div>
            </div>
        </div>
    </div>
</section>