.inner-banner-section{margin-top: 180px; height: 320px;}
.inner-banner-section .container{position: relative; height: 100%}
.inner-banner-section .container .info{position: absolute; left: 0; top:50%; transform: translateY(-50%);}
.inner-banner-section .container .info h1{font-size:43px; margin-top: 0}
.inner-banner-section .container .info h3{color:#959595; margin-top: 0}

.book-pic1{height:145px;}
.book-pic1 a div{height:100%; width:100%}
.article-add-holder p{
	height:130px;
}
.pd-7{
	padding: 7px;
}
@media screen and (max-width:767px) {
	.inner-banner-section{margin-top: 170px;}
	.inner-banner-section .container .video-info{left: 15px}
	.article-add-holder p{
		height: auto;
	}
	.section{
		padding: 20px 0 !important;
	}
	.mb-50{
		margin-bottom: 0;
	}
	.pd-7{
	padding: 0 15px !important;
}
}

.top-articles .article-image-holder {
    width: 100%;
    height: 245px !important;
    overflow: hidden;
}
.article-add-holder h3{
	font-size: 22px !important;
	text-transform:  inherit !important; 
}
.section{
	padding: 70px 0 20px;
}
.article-add-holder span{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
