<section class="inner-banner" [ngStyle]="{'background-image':'url('+articleDetData[0]?.banner_image_url+')', 'background-position': 'center', 'background-repeat': 'no-repeat','background-size': 'cover'}">
  <div class="container">
      <div class="row">
          <div class="col-md-7">
              <h1 class="text-white">{{articleDetData[0]?.title}}</h1>
          </div>
      </div>
  </div>
</section>

<section class="section top-articles">
<div class="container">
    <div class="mb-50" *ngFor="let catArticle of articleListData">
        <!--<h2 class="">{{catArticle.name}}</h2>-->
        <div class="row" *ngIf="catArticle.all_eventbycat?.length>0">
            <div class="col-md-4 col-sm-6 pd-7" *ngFor="let articleData of catArticle.all_eventbycat">
            <div class="gray">
                <div class="article-image-holder">
                    <a  [routerLink]="['/enrichment/eventdetails',articleData.slug]"> 
                    <div style="height: 245px;" [ngStyle]="{'background-image':'url('+articleData.image_url+')', 'background-position': 'center', 'background-repeat': 'no-repeat','background-size': 'cover'}" class="img-responsive article-img"> </div>
                    </a>
                </div>
                <div class="article-add-holder">
                <h3 class="text-red">{{articleData.title | limitTo : 22}}</h3>
                <span>By {{articleData.author_name}} {{articleData.street}} {{articleData.city}} {{articleData.zipcode}}, {{articleData.created_on | dateTimeFormat: 'MMM dd, yyyy'}} </span>
                <p>{{articleData.short_desc | limitTo : 200}}</p>
                <a [routerLink]="['/enrichment/eventdetails',articleData.slug]" class="btn btn-primary">Read more</a>
                </div>
                </div>
            </div>
        </div>
        <!--<div class="row" *ngIf="catArticle.all_eventbycat?.length==0">
            <div class="col-md-12 col-sm-12 text-center"><p>No record found</p></div>
        </div>-->
    </div>
</div>
</section>

