.img{
	width: 100%;
	height: auto;
}
.img img{
	width: 100%;
	height: auto;
}
.single-article P{
	font-size: 14px !important;
}
.single-article P span{
	color: #5e5e5e
}
.single-article h5{
	font-size: 16px;
	line-height: 20px;
}
.single-article h5 span{
 display: block;
 color: #ce1626;
}
.mt-30{
	margin-top: 30px;
}
.mb-30{
	margin-bottom: 30px !important
}

