 <!-- inner  banner -->
        
 <section class="inner-banner" [ngStyle]="{'background-image':'url('+articleCatData?.banner_image_url+')', 'background-position': 'center', 'background-repeat': 'no-repeat','background-size': 'cover'}">
  <!--<div class="container">
      
	<div class="info">
		<h1 class="text-white">{{articleCatData.name}}</h1>
	</div>
      
  </div>-->
  <div class="container">
      <div class="row">
          <div class="col-md-7">
              <h1 class="text-white">Femnesty Events</h1>
          </div>
      </div>
  </div>   
</section>

<section class="section p-16">
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1 style="margin-top: 0" [innerHTML]="articleCatData.name"></h1>
            <p class="font-weight-bold mb-30">{{articleCatData.short_description}}</p>
            <div [innerHTML]="articleCatData.description" class="mb-30"></div>
            <a [routerLink]="['/enrichment/list',articleCatData.slug]" class="btn btn-primary">What's On?</a>
            <ul class="n-social mt-30">
                <!-- <li ceiboShare  [facebook]="{u: repoUrl}">
                    <img src="assets/images/facebook.png" />
                </li> -->
                <li>
                    <app-beta-restriction [image]="'assets/images/facebook.png'">
                    </app-beta-restriction>
                </li>
                <li ceiboShare  [linkedIn]="{url:repoUrl, text:articleCatData.short_description}">
                    <img src="assets/images/linkedin.png" />
                </li>
                <li ceiboShare  [twitter]="{url:repoUrl, text:articleCatData.short_description}">
                    <img src="assets/images/twitter.png" />
                </li>
            </ul>
        </div>
        <div class="col-md-4 right-gray-box">
            <div class="right-img-hold">
                <a [routerLink]="['/articles/details',articleListData2.slug]"><img [src]="articleListData2.image_url" alt="" class="img-responsive"></a>
            </div>
            <div class="right-text-hold">
                <h3 style="margin-bottom: 30px">{{articleListData2.title}}</h3>
                <p class="text-gray">{{articleListData2.short_desc | limitTo : 250}}</p>
                <!--<p class="font-weight-bold">By {{articleListData[0].author_name}}</p>-->
                <!--<p class="text-gray">{{articleListData[0].short_desc | limitTo : 250}}</p>-->
                <!--<ul class="social-link mt-30">
                    <li>
                        <a href="#" class="fb-bg"><i class="ion-social-facebook"></i></a>
                         <span>5</span>
                    </li>
                    <li>
                        <a href="#" class="linked-bg"><i class="fa fa-linkedin"></i></a>
                        <span>5</span>
                    </li>
                    <li>
                        <a href="#" class="twitter-bg"><i class="ion-social-twitter"></i></a>
                        <span>5</span>
                    </li>
                </ul>-->
                <a [routerLink]="['/articles/details',articleListData2.slug]" class="btn btn-primary">Read Article</a>
            </div>
        </div>
    </div>
</div>
</section>