<section class="section p-16 single-article">
  <div class="container">
      <div class="row">
          <div class="col-md-6">
              <div class="img"><img [src]="articleData.image_url" alt="" class="img-responsive"></div>
     
             <!-- <div>
                  <h3 class="text-red">{{articleData.title}}</h3>
                  <p class="text-gray">Event by {{articleData.author_name}}</p>
                  
              </div>-->
          </div>
          <div class="col-md-6">
          <h1>{{articleData.title}}</h1>
              <!--<h1>{{articleData.title}}</h1>-->
              <!--<p class="font-weight-bold mb-30">{{articleData.short_desc}}</p>-->
              <h5>The Bear, 71 High St, Esher, Surrey KT10 9RQ United Kingdom
<span> 4, 6:30 pm - 8:30 pm</span></h5>
<p class="mb-30">Phone: <span>071-123 12 32</span><br>
Email: <span>info@femnesty.com</span><br>
Cost: <span>£100</span></p>
              <a  *ngIf="startDateString" href="http://www.google.com/calendar/event?action=TEMPLATE&text={{articleData.title}}&dates={{startDateString}}&details={{articleData.title}}" target="_blank" rel="nofollow">
                  <button type="button" class="btn btn-primary">Add to calendar</button>
              </a>
          </div>
      </div>
      <div class="row mt-30">
      	<div [innerHTML]="articleData.description" class="mb-30"></div>
      	<ul class="n-social mt-30">
                        <!-- <li ceiboShare  [facebook]="{u: repoUrl}">
                            <img src="assets/images/facebook.png" />
                        </li> -->
                        <li>
                            <app-beta-restriction [image]="'assets/images/facebook.png'">
                            </app-beta-restriction>
                        </li>
                        <li ceiboShare  [linkedIn]="{url:repoUrl, text:articleData.short_desc}">
                            <img src="assets/images/linkedin.png" />
                        </li>
                        <li ceiboShare  [twitter]="{url:repoUrl, text:articleData.short_desc}">
                            <img src="assets/images/twitter.png" />
                        </li>
                    </ul>
      </div>
  </div>
</section>