<section class="section p-16 mt-100 single-article">
  <div class="container">
      <div class="row">
          <div class="col-md-4">
              <div>
                  <img [src]="articleData.image_url" alt="" class="img-responsive">
              </div>
              <div>
                  <h3 class="text-red">{{articleData.title}}</h3>
                  <p class="text-gray">Event by {{articleData.author_name}}</p>
                  <ul class="n-social mt-30">
                        <!-- <li ceiboShare  [facebook]="{u: repoUrl}">
                            <img src="assets/images/facebook.png" />
                        </li> -->
                        <li>
                            <app-beta-restriction [image]="'assets/images/facebook.png'">
                            </app-beta-restriction>
                        </li>
                        <li ceiboShare  [linkedIn]="{url:repoUrl, text:articleData.short_desc}">
                            <img src="assets/images/linkedin.png" />
                        </li>
                        <li ceiboShare  [twitter]="{url:repoUrl, text:articleData.short_desc}">
                            <img src="assets/images/twitter.png" />
                        </li>
                    </ul>
              </div>
          </div>
          <div class="col-md-8">
              <!-- <h1>{{articleData.title}}</h1>
              <a  *ngIf="startDateString" href="http://www.google.com/calendar/event?action=TEMPLATE&text={{articleData.title}}
              &dates={{startDateString}}
              &details={{articleData.description}} &location='Baisakhi Abasan, Canal Side Road, AG Block, Sector II, Salt Lake City, Kolkata, West Bengal'
              " target="_blank" rel="nofollow">
                  <button type="button" class="btn btn-default">Add to calendar</button>
              </a> -->
              <p class="font-weight-bold mb-30">{{articleData.short_desc}}</p>
              <div [innerHTML]="articleData.description" class="mb-30"></div>
          </div>
      </div>
  </div>
</section>