.img{
	width: 100%;
	height: auto;
}
.img img{
	width: 100%;
	height: auto;
}
.single-article P{
	font-size: 14px !important;
	line-height: 18px;
}
.single-article P span{
	color: #5e5e5e
}
.single-article h5{
	font-size: 16px;
	line-height: 20px;
}
.single-article h5 span{
 display: block;
 color: #ce1626;
}
.mt-30{
	margin-top: 30px;
}
.mb-30{
	margin-bottom: 30px !important
}
.Sponsors{
	padding: 0 0 70px;
}
.Sponsors h2{
	font-size: 24px;
	color: #363636;
	margin-bottom: 50px;
	font-family: 'sanchezregular';
	margin-top: 0px;
	line-break: 24px;
}
.sp-image{
	width: auto;
	height: 71px;
	margin-bottom: 15px;
}
.sp-image img{
	width: auto;
	height: 71px;
	object-fit: cover;
	
}
@media screen and (max-width:767px){
	.sp-image{
		margin: 0 auto 15px;
		text-align: center;
		display: block;
	}
	.sp-image img{
		text-align: center;
	}
}