<!-- inner  banner -->
        
<section class="inner-banner inner-banner-section" [ngStyle]="{'background-image':'url('+enrichmentEventData[0]?.banner_image_url+')', 'background-position': 'center', 'background-repeat': 'no-repeat','background-size': 'cover'}">
    <div class="container">
    
    	<div class="info">
    		<h1 class="text-white">{{enrichmentEventData[0]?.title}}</h1>
    	</div>       
        
    </div>
</section>

<!--   -->

<section class="section" style="padding-top: 80px">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6 mt-30" *ngFor="let catEnrichment of artCatData">
                <div [ngStyle]="{'background-image':'url('+catEnrichment.image_url+')', 'background-position': 'center', 'background-repeat': 'no-repeat','background-size': 'cover'}" class="img-responsive event-img"> </div>
                <div class="enrichment-dtls">
                	<h3 class="text-red text-center">{{catEnrichment.name}}</h3>
                	<small>Street, City, Postal Code, Date</small>
                	<p>{{catEnrichment.short_description | limitTo : 350}}</p>
                	<a [routerLink]="['/enrichment/category_details',catEnrichment.slug]" class="btn btn-primary">Read more</a>
                </div>
            </div>
        </div>
    </div>
</section>
