<section *ngIf="pageSlugName != 'contact-us' && pageSlugName != 'about-us'" class="inner-banner" style="center: no-repeat; background-size: cover;" [ngStyle]="{'background-image':'url('+siteSettingsDet?.aboutus_banner_image+')'} ">
  <div class="container">
      <div class="row">
          <div class="col-md-7">
              <h1 class="text-white">{{pageDetData.page_heading}}</h1>
          </div>
      </div>
  </div>
</section>
<section *ngIf="pageSlugName == 'about-us'" class="inner-banner" style="center: no-repeat; background-size: cover;" [ngStyle]="{'background-image':'url('+pageDetData?.top_image_url+')'} ">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1 class="text-white">{{pageDetData.page_name}}</h1>
            </div>
        </div>
    </div>
</section>

<section class="section about-content-area new-about-content-area" *ngIf="pageSlugName != 'contact-us' && pageSlugName != 'about-us'">
        <div class="container">
            <div class="row">
                <!--<div class="col-md-12">
                      <h1>{{pageDetData.page_heading}}</h1>
                      
                </div>-->
                <div [innerHTML]="pageDetData.content" ></div>
                
            </div>
        </div>
</section>
<section class="section about-content-area new-about-content-area" *ngIf="pageSlugName == 'about-us'">
    <div class="container">
        <div class="row">
        	<!--<div class="col-md-12">
	          	<h1>{{pageDetData.page_heading}}</h1>
	          	
			</div>-->
			<!--<div [innerHTML]="pageDetData.content" ></div>-->
			<div class="col-md-8">
				<div [innerHTML]="pageDetData.left_content" ></div>
			</div>
			<div class="col-md-4">
				<div class="pic-icon"><img alt="" class="img-responsive" [src]="pageDetData.background_image_url">
					<div class="pic-logo-icon img-responsive"><img alt="" [src]="pageDetData.back_top_img_url"></div>
				</div>

				<div class="text-center gray pic-icon-content">
					<h2 class="text-red">{{pageDetData.logo_text}}</h2>
					<p class="font-14">{{pageDetData.logo_desc}}</p>
				</div>
			</div>
        </div>
    </div>
</section>

<section class="founder gray font-15" *ngIf="pageSlugName == 'about-us'">
	<div class="container">
	    <h2 class="text-red mt-0">{{pageDetData.founder_heading}}</h2>
	    <div class="row">
	        <div class="col-md-3 col-sm-2 f-founder">
	            <img [src]="pageDetData.founder_image_url" class="img-responsive">
	        </div>
	        <div class="col-md-9 col-sm-10">
                <h3 class="text-red">{{pageDetData.founder_title}}</h3>
                <div [innerHTML]="pageDetData.founder_desc" ></div>
	        </div>
	    </div>
	</div>
</section>


<section class="section team" *ngIf="pageSlugName == 'about-us'" [ngStyle]="{'background-image':'url('+pageDetData?.team_background_img_url+')'}">
    <div class="container">
        <h2 class="text-red mt-0">{{pageDetData.founder_team_title}}</h2>
        <div class="row mt-50">
            <div class="col-md-7">
                    
                <div class="row" [ngClass]="{'mt-50':i >0}" *ngFor="let teamData of teamListData; let i = index">
                    <div class="col-sm-4 f-founder">
                        <img [src]="teamData.image" alt="" class="img-responsive">
                    </div>
                    <div class="col-sm-8">
                        <h3 class="text-red font-25 mb-2">{{teamData.name}}</h3>
                        <h5 class="text-gray mt-0 font-15">{{teamData.qualification}}</h5>
                        <p class="font-14 f-w-600">{{teamData.message}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="gray text-center team-right">
                    <h3 class="text-red mt-0">{{pageDetData.get_involved}}</h3>
                    <p class="f-w-600">{{pageDetData.involved_text}}</p>
                    <a [routerLink]="['/page/contact-us']" class="btn btn-primary btn-lg">Contact us</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section contact-section" *ngIf="pageSlugName == 'contact-us'">
    <div class="contact-left">
        <img src="assets/images/contact-banner.jpg" alt="" class="img-responsive">
    </div>
    <div class="contact-right" style="padding-bottom:0px;">
        <h1>Get in Touch.</h1>
        <p>If you have any questions about our organisation, have any comment or feedback then please use the contact details below.</p>
        <ul class="contact-dtls">
            <li>
                <div class="icon"><img src="assets/images/mobile.png" alt=""></div>
                <div class="number">+{{getPageSiteSetData?.mobile}}</div>
            </li>
            <li>
                <div class="icon"><img src="assets/images/mail.png" alt=""></div>
                <div class="number">{{getPageSiteSetData?.admin_email}}</div>
            </li>
        </ul>
        <div class="row" *ngIf="(successMsg != '')">
            <div class="alert alert-success" role="alert" *ngIf="(successMsg != '')">
                 {{successMsg}}
            </div>
        </div>
        <form class="form-area" [formGroup]="commentform" (ngSubmit)="submitContactForm()" #postForm="ngForm">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="form-group">
                        <input type="text" placeholder="Name" formControlName="name" class="form-control">
                        <div class="text-danger" *ngIf="!commentform.controls['name'].valid && commentform.controls['name'].touched">Name is required</div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="form-group">
                        <input type="text" placeholder="Email" formControlName="email" class="form-control">
                        <div class="text-danger" *ngIf="!commentform.controls['email'].valid && commentform.controls['email'].touched">Please enter the correct email, this email not valid.</div>
                        <!--<div class="text-danger" *ngIf="(commentform.controls['email'].hasError('email', 'email') && !commentform.controls['email'].valid) && commentform.controls['email'].touched">
                            Please enter the correct email, this email not valid.
                          </div>-->
                    </div>
                </div>
                 <!--<div class="col-md-12 col-sm-12">
                   <div class="form-group">
                        <input type="text" placeholder="Mobile No" formControlName="mobile_no" class="form-control">
                        <div class="text-danger" *ngIf="!commentform.controls['mobile_no'].valid && commentform.controls['mobile_no'].touched">Mobile no is required</div>
                    </div>
                </div>-->
                <div class="col-md-12 col-sm-12">
                    <div class="form-group">
                        <input type="text" placeholder="Subject" formControlName="subject" class="form-control">
                        <div class="text-danger" *ngIf="!commentform.controls['subject'].valid && commentform.controls['subject'].touched">Subject is required</div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12">
                    <div class="form-group">
                        <textarea rows="6" placeholder="Your Message" formControlName="message" class="form-control"></textarea>
                        <div class="text-danger" *ngIf="!commentform.controls['message'].valid && commentform.controls['message'].touched">Message is required</div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary" [disabled]="!postForm.valid">Submit</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>