.contact-right p{
	margin-bottom: 25px;
}
.contact-dtls li .icon{
	width:26px;
	height: auto;
}
.contact-dtls li .icon img{
	width:26px;
	height: auto;
}
.number{
	font-size: 18px;
	color: #000;
}
.btn.btn-primary {
    padding: 12px 25px;
}

.new-about-content-area p{
	color: #393939;
}
.f-w-600{
	color: #202020;
	line-height: 24px;
	letter-spacing: 1px;
}
.team-right p{
	line-height: 33px;
}
.pic-icon{
	margin-top: 8px;
}
.n-social{
	margin-top: 22px !important;
}
@media screen and (max-width:767px) {
	.section h1{
		font-size: 24px !important;
		text-align: left;
		margin-top: 0;
		margin-bottom: 25px;
	}
}
