.section h1 {
    font-size: 52px;
}
.mentor-partner h2{
    font-size: 34px;
}
.mentor-partner h3 {
    font-size: 30px;
}
.bcome-mntr{
	height: 40vh;
	background-size: cover;
	background-position: center;
}
.inner-banner .row{
	height:40vh !important;
}
.mentor-partner{padding: 85px 0;}