 <section class="inner-banner bcome-mntr" *ngIf="shareYorStoryContent" style="center: no-repeat; background-size: cover;" [ngStyle]="{'background-image':'url('+shareYorStoryContent?.header_image+')'} ">
  <div class="container">
      <div class="row">
          <div class="col-md-7">
              <h1 class="text-white" *ngIf="shareYorStoryContent">{{shareYorStoryContent.heading}}</h1>
          </div>
      </div>
  </div>
</section>

<section class="section p-16">
  <div class="container">
      <h1 *ngIf="shareYorStoryContent">{{shareYorStoryContent.below_header_heading}}</h1>
      <p *ngIf="shareYorStoryContent">{{shareYorStoryContent.below_header_content}}</p>
<div class="alert alert-success" role="alert" *ngIf="(successMsg != '')">
    <strong>Success: </strong> {{successMsg}}
</div>
  <form class="row form-area" [formGroup]="form" (ngSubmit)="shareStoryArticle()" #sharestoryForm="ngForm">
  <div class="form-group col-md-12">
          <input type="text" placeholder="Author" class="form-control" formControlName="author_name">
          <div class="text-danger" *ngIf="!form.controls['author_name'].valid && form.controls['author_name'].touched">Author Required</div>
      </div>
       <div class="form-group col-md-12">
          <input type="text" placeholder="Article Title" class="form-control" formControlName="title">
          <div class="text-danger" *ngIf="!form.controls['mag_category_id'].valid && form.controls['mag_category_id'].touched">Article Title Required</div>
      </div>
      <div class="form-group col-md-12">
          <select formControlName="mag_category_id" class="form-control" >
            <option value="">Subject/Category</option>  
            <option value="{{ catlist.id }}" *ngFor="let catlist of allArticlecat">{{ catlist?.name }}</option>
         </select>
         <div class="text-danger" *ngIf="!form.controls['mag_category_id'].valid && form.controls['mag_category_id'].touched">Category Required</div>
      </div>
      <div class="form-group col-md-12">
          <input type="text" placeholder="Your Email" class="form-control" formControlName="title">
          <div class="text-danger" *ngIf="!form.controls['mag_category_id'].valid && form.controls['mag_category_id'].touched">Email Required</div>
      </div>
      <!--<div class="form-group col-md-12">
          <textarea placeholder="Short Description" class="form-control" formControlName="short_desc"></textarea>
          <div class="text-danger" *ngIf="!form.controls['short_desc'].valid && form.controls['short_desc'].touched">Short Description Required</div>
      </div>
      <div class="form-group col-md-12">
        <textarea placeholder="Long Description" class="form-control" formControlName="description"></textarea>
        <div class="text-danger" *ngIf="!form.controls['description'].valid && form.controls['description'].touched">Long Description Required</div>
      </div>-->
      <div class="form-group col-md-12 file-upload-area mb-0">
            <div class="file-upload">
                <label for="upload" class="file-upload__label">Choose File</label>
                <input id="upload" class="file-upload__input" type="file" formControlName="image" (change)="fileChangePost($event)">
            </div>
            <p class="">No file selected</p>
        </div>
        <div class="form-group col-md-12" *ngIf="showPostImgDive">
            <span class="result" *ngIf="postImgData">
                <img [src]="postImgData" [height]="100" >
            </span>
        </div>
      <div class="form-group col-lg-12">
          <div class="mt-30"><input class="styled-checkbox" id="styled-checkbox-1" formControlName="agreetab" type="checkbox" value="value1">
<label for="styled-checkbox-1" *ngIf="shareYorStoryContent">{{shareYorStoryContent.codition_submit}}</label></div>
<!--<div class="text-danger" *ngIf="!form.controls['agreetab'].valid">Please check and continue.</div>-->
      </div>
      <div class="form-group col-lg-12">
          <button type="submit" class="btn btn-primary" [disabled]="!sharestoryForm.valid">Share your story</button>
      </div>
  </form>
  </div>
</section>
